{% extends base_page_template %}
{% load promotional_utils wagtailcore_tags wagtailsettings_tags %}

{% block hero %}
    {% include "patterns/molecules/hero/hero-404.html" %}
{% endblock %}

{% block body_class %}template-404{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% is_promotional_site as promotional_site %}
    <div class="wrapper {% if promotional_site %}wrapper--promo-inner wrapper--promo-margin{% else %}wrapper--flex {% endif %}">
        <div class="section section--main">
            {{ settings.utils.SystemMessagesSettings.body_404|richtext }}
        </div>
    </div>
{% endblock %}

