{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailsettings_tags %}

{% block hero %}
    {% include "patterns/molecules/hero/hero-404.html" %}
{% endblock %}

{% block alert_banner %}{% endblock %}

{% block body_class %}template-404{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

    <div class="wrapper wrapper--flex">
        <section class="section section--main">
            {{ settings.utils.SystemMessagesSettings.body_404|richtext }}
        </section>
    </div>

{% endblock %}
