{% extends base_page_template %}
{% load wagtailcore_tags %}

{% block content %}
    <div class="wrapper wrapper--flex">
        <div class="section section--main">

            <h1 class="heading heading--xxl">{{ page.title }}</h1>

            {% if page.image %}
            {% include "patterns/molecules/streamfield/blocks/image_block.html" with value=page %}
            {% endif %}

            {% include 'patterns/pages/location/includes/address.html' with address=page.address %}
            {% include 'patterns/pages/location/includes/contact.html' with contact=page.contact %}

            {% include 'patterns/molecules/map/map.html' with lats=page.lat lngs=page.lng %}

            {% include_block page.body %}
        </div>

        {% include "patterns/molecules/navigation/sidebar.html" with related_pages=page.live_related_pages %}
    </div>
{% endblock %}


{% block extra_js %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_V3_APIKEY }}"></script>
{% endblock %}
