{% extends base_page_template %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    {% include "patterns/molecules/hero/hero--blog.html" with page=page.homepage %}

    <div class="wrapper wrapper--flex blog-page">
        <div class="section section--main">
            <h2 class="heading heading--xxl blog-page__title">{{ page.title }}</h2>
            <p class="blog-page__meta">
                {{ page.author }}, {{ page.date_published|date:"d F Y" }}
                {% comment %}
                - <a href="">Tag one</a>, <a href="">Tag two</a>
                {% endcomment %}
            </p>
            {% if page.image %}
                {% include "patterns/molecules/streamfield/blocks/image_block.html" with value=page  %}
            {% endif %}
            <div class="blog-page__content">
                {% include_block page.body %}
            </div>
        </div>

        <div class="sidebar">
            <section>
                <h1>{{ page.homepage.title }}</h1>
                <h2>{{ page.homepage.about_title }}</h2>
                <p>{{ page.homepage.about_description }}</p>
                <a href="{% pageurl page.homepage.about_page %}">Find out more</a>
            </section>
            {% include "patterns/molecules/navigation/sidebar-section.html" with related_pages=page.homepage.related_pages.all %}
            [Sidebar content]
        </div>
    </div>
{% endblock %}
