{% load wagtailcore_tags %}

<div class="wrapper wrapper--promo-inner">
    <div class="promo-teasers">
        {% for value in block %}
            {% for item in value.value.items %}
                {% if item.link_page %}
                    {% pageurl item.link_page as card_url %}
                {% endif %}

                {% include "patterns/molecules/promotional-card/promotional-card.html" with title=item.title description=item.description image=item.image link_url=card_url link_text=item.link_text link_highlight=forloop.last %}
            {% endfor %}
        {% endfor %}
    </div>

    <div class="promo-teasers-button">
        <a href="#" class="promo-button promo-button--blue-border">Secondary button</a>
    </div>
</div>