{% load wagtailcore_tags wagtailimages_tags static %}

<ul class="blog-list">
    {% for item in items %}
        <li class="blog-list__item">
            <a href="{% pageurl item %}">
                <h2 class="heading heading--l blog-list__item-title ">{{ item.title }}</h2>
            </a>
            <p class="blog-list__item-meta">
                {{ item.author }}, {{ item.date_published|date:"d F Y" }} - 
                {% for category in item.categories.all  %}
                    {% if forloop.counter0  > 0 %}, {% endif %}<a href=""> {{ category.name }}</a>
                {% endfor %}
            </p>
            {% if item.image %}
                {% image item.image fill-650x400 class="blog-list__item-image" %}
            {% endif %}
            <p class="blog-list__item-content">
                {{ item.intro_text|truncatewords:50 }}
            </p>
            <a class="blog-list__item-read-more" href="{% pageurl item %}">
                <strong>Read more</strong>
                <span class="visually-hidden-content">of {{ item.title }}</span>
            </a>
        </li>
    {% endfor %}
</ul>
