{% load wagtailcore_tags wagtailimages_tags static %}

<ul class="blog-list">
    {% for item in items %}
        <li class="blog-list__item">
            <a href="{% pageurl item %}">
                <h2 class="heading heading--l blog-list__item-title ">{{ item.title }}</h2>
            </a>
            <p class="blog-list__item-meta">
                {{ item.author }}, {{ item.date_published|date:"d F Y" }}
                {% comment %}
                - <a href="">Tag one</a>, <a href="">Tag two</a>
                {% endcomment %}
            </p>
            {% image listing_image fill-650x400 %}
            <p class="blog-list__item-content">
                {{ item.value.description }}
            </p>
            <a class="blog-list__item-read-more" href="{% pageurl item %}">Read more</a>
        </li>
    {% endfor %}
</ul>
