{% load wagtailcore_tags %}
{% if value and value.table and value.table.columns %} {# Don't show if table is empty. #}
<table class="table-block">
    {% if value.caption %}<caption>{{ value.caption }}</caption>{% endif %}
    <thead>
        <tr>
            {% for col in value.table.columns %}
            <th scope="col" class="{% if col.block.name == 'right_aligned_column' %}right-align{% else %}left-align{% endif %}">{{ col.heading }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in value.rows %}
        <tr>
            {% for block in row %}
            <td class="{% if block.block_name == 'right_aligned_column' %}right-align{% else %}left-align{% endif %}">{% include_block block.value %}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
