{% if page_class == 'CategoryPage' or page_class == 'CategoryTypeOnePage' or page_class == 'CategoryTypeTwoPage' %}
    <section
        aria-label="Featured subpages"
        class="grid grid--fis-index grid--index grid--thirds"
        data-height-equalizer
    >
        {% for card in value %}
            {% if display_featured_images and forloop.counter <= 3 %}
                {% include "patterns/molecules/page-card/page-card.html" with classes="card--fis-index" has_heading=has_heading page=card.value.specific show_image=True %}
            {% else %}
                {% include "patterns/molecules/page-card/page-card.html" with classes="card--fis-index" has_heading=has_heading page=card.value.specific show_image=False %}
            {% endif %}
        {% endfor %}
    </section>
{% endif %}
