{% load table_block_tags %}

<h2>
    {{ title }}
</h2>

<table>
    <thead>
        <tr>
            {% for column in table_headers %}
            {% with col_index=forloop.counter0 row_index=0 %}
                <th scope="col" {% cell_classname row_index col_index %}>
                    {% if column.strip %}
                        {{ column.strip|linebreaksbr }}
                    {% endif %}
                </th>
            {% endwith %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in table_data %}
        {% with col_index=forloop.counter0 %}
            <tr>
                {% for column in row %}
                {% with forloop.counter0 as col_index %}
                    {% if forloop.first %}
                        <th scope="row" {% cell_classname row_index col_index table_headers %}>
                            {% if column.strip %}
                                {{ column.strip|linebreaksbr }}
                            {% endif %}
                        </th>
                    {% else %}
                        <td {% cell_classname row_index col_index table_headers %}>
                            {% if column.strip %}
                                {{ column.strip|linebreaksbr }}
                            {% endif %}
                        </td>
                    {% endif %}
                {% endwith %}
                {% endfor %}
            </tr>
        {% endwith %}
        {% endfor %}
    </tbody>
    {% if caption %}
       <caption>{{ caption }}</caption>
    {% endif %}
</table>

<div data-chart="{{ id }}" style="width:100%; height:400px;" id="chart-container-{{id}}"></div>

{{ value|json_script:id }}
