{% load wagtailcore_tags %}
{{ link_urls|json_script:"area-link-urls" }}

<div class="area-links" data-area-links>
    <h2 class="u-sr-only">Local Area Links</h2>

    <div class="area-links__intro">{{ value.introduction|richtext }}</div>

    <div class="area-search">
        <form
            role="search"
            class="form form--area-search"
            method="get"
            url="{% url 'area_finder' %}"
            data-area-search
        >
            <div data-response-text class="area-search__response-text"></div>
            <div data-postcode-wrapper class="area-search__input-wrapper">
                <div data-postcode-error-wrapper class="form-item__errors"></div>
                <label class="area-search__title" for="postcode">Postcode</label>
                <div class="area-search__info">For example HP20 1UY</div>
                <input data-postcode-input id="postcode" type="text" name="postcode">
            </div>
            <button
                data-submit-button
                class="button button--basic button--area-search"
                type="submit"
                aria-label="Submit"
            >
                Find further information
            </button>
            <div class="area-search__local-links" hidden data-local-links>
                <p class="area-search__local-links-intro">Select your local area to help us direct you to the right place:</p>
                <ol>
                    {% for district, link in link_urls.items %}
                        <li>
                            {% include "patterns/atoms/icons/icon.html" with name="list-style-arrow" %}
                            <a href="{{ link }}">{{ district }}</a>
                        </li>
                    {% endfor %}
                </ol>
            </div>

            <div class="area-search__more-info" data-postcode-unknown-text>
                If you don’t know your postcode, follow this link for <button class="area-search__more-info-button" data-more-info-button>more information</button>.
            </div>
            <div class="area-search__more-info" data-address-unknown-text hidden>
                If your address is not listed, follow this link for <button class="area-search__more-info-button" data-more-info-button>more information</button>.
            </div>
        </form>
    </div>

</div>
