{% load wagtailcore_tags %}
<div class="area-links">
    <h2 class="u-sr-only">Local Area Links</h2>

    <div class="area-links__intro">{{ value.introduction|richtext }}</div>

    {% if has_area_links %}
    <ul class="area-links__list">
        {% if value.aylesbury_vale_url %}
            <li class="area-links__item">
                <svg class="area-links__arrow" aria-hidden="true">
                    <use xlink:href="#arrow"></use>
                </svg>
                <a href="{{ value.aylesbury_vale_url }}" class="area-links__link"><h3 class="area-links__heading heading heading--s">Aylesbury Vale</h3></a>
            </li>
        {% endif %}
        {% if value.chiltern_url %}
            <li class="area-links__item">
                <svg class="area-links__arrow" aria-hidden="true">
                    <use xlink:href="#arrow"></use>
                </svg>
                <a href="{{ value.chiltern_url }}" class="area-links__link"><h3 class="area-links__heading heading heading--s">Chiltern</h3></a>
            </li>
        {% endif %}
        {% if value.south_bucks_url %}
            <li class="area-links__item">
                <svg class="area-links__arrow" aria-hidden="true">
                    <use xlink:href="#arrow"></use>
                </svg>
                <a href="{{ value.south_bucks_url }}" class="area-links__link"><h3 class="area-links__heading heading heading--s">South Bucks</h3></a>
            </li>
        {% endif %}
        {% if value.wycombe_url %}
            <li class="area-links__item">
                <svg class="area-links__arrow" aria-hidden="true">
                    <use xlink:href="#arrow"></use>
                </svg>
                <a href="{{ value.wycombe_url }}" class="area-links__link"><h3 class="area-links__heading heading heading--s">Wycombe</h3></a>
            </li>
        {% endif %}
    </ul>
    {% endif %}

    {% if value.postscript %}
        <div class="area-links__outro">{{ value.postscript|richtext }}</div>
    {% endif %}
</div>
