{% load util_tags wagtailcore_tags %}
{{ link_urls|json_script:"area-link-urls" }}

<div class="area-links" data-area-links>
    <h2 class="u-sr-only">Local Area Links</h2>

    <div class="area-links__heading">{{ value.heading|richtext }}</div>

    <div class="area-links__intro">{{ value.introduction|richtext }}</div>

    <div class="area-search">
        <form
            role="search"
            class="form form--area-search"
            method="get"
            url="{% url 'area_finder' %}"
            data-area-search
        >
            <div data-response-text class="area-search__response-text"></div>
            <div data-postcode-wrapper class="area-search__input-wrapper">
                <div data-postcode-error-wrapper class="form-item__errors"></div>
                <label class="area-search__title" for="postcode" data-postcode-lookup-text>{{ value.postcode_lookup_text|richtext }}</label>
                <div class="area-search__info">For example HP20 1UY</div>
                <input data-postcode-input id="postcode" type="text" name="postcode">
            </div>
            <button
                data-submit-button
                class="button button--basic button--area-search"
                type="submit"
                aria-label="Submit"
            >
                Find further information
            </button>
            <div class="area-search__local-links" hidden data-local-links>
                <div class="area-links__area-lookup-text" hidden data-area-lookup-text>{{ value.area_lookup_text|richtext }}</div>
                <ol>
                    {% for district, link in link_urls.items %}
                        <li>
                            {% include "patterns/atoms/icons/icon.html" with name="arrow" %}
                            <a href="{{ link }}">{{ district }}</a>
                        </li>
                    {% endfor %}
                </ol>
                <p>
                    If are unsure what local area you are in 
                    {% if contact_us_page %}
                    <a href="{{ contact_us_page.get_url }}">contact us.</a>
                    {% else %}
                    contact us.
                    {% endif %}
                </p>
                <div>
                    Find more local information based on 
                    <button class="area-search__more-info-button" data-change-postcode>
                        your postcode
                    </button>
                </div>
            </div>

            <div class="area-search__more-info" data-postcode-lookup-text>
                If you don’t know your postcode, follow this link for <button class="area-search__more-info-button" data-more-info-button>more information</button>.
            </div>
            <div class="area-search__more-info" data-address-lookup-text hidden>
                If your address is not listed, follow this link for <button class="area-search__more-info-button" data-more-info-button>more information</button>.
            </div>
        </form>
    </div>

</div>
