{% load wagtailcore_tags wagtailimages_tags %}


{% image call_to_action.image min-1024x340 as image %}
{% if call_to_action %}
    <div class="highlighted-content" style="background-image: url('{{ image.url }}');">
        <div class="highlighted-content__content">
            <h2 class="highlighted-content__title heading heading--xl">{{ call_to_action.title }}</h2>

            {{ call_to_action.summary|richtext }}

            {% for block in call_to_action.link %}
                {% if block.block_type == 'external_link' %}
                    <p><a href="{{ block.value.url }}">{{ block.value.title }}</a></p>
                {% elif block.block_type == 'internal_link'%}
                    <p><a href="{% pageurl block.value.page %}">{% firstof block.value.title block.value.page.title %}</a></p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}
