{% load wagtailcore_tags %}

{% if call_to_action %}

    {# Note that the background image is set in the parent page template using the background-image-style.html include #}

    <div class="highlighted-content background-image-style">
        <div class="highlighted-content__content">
            <h2 class="highlighted-content__title heading">{{ call_to_action.title }}</h2>

            {{ call_to_action.summary|richtext }}

            {% for block in call_to_action.link %}
                {% if block.block_type == 'external_link' %}
                    <p><a href="{{ block.value.url }}">{{ block.value.title }}</a></p>
                {% elif block.block_type == 'internal_link'%}
                    <p><a href="{% pageurl block.value.page %}">{% firstof block.value.title block.value.page.title %}</a></p>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endif %}
