{% load wagtailcore_tags wagtailimages_tags %}

{% if call_to_action %}

    {% image call_to_action.image fill-450x350 as mobile_image %}
    {% image call_to_action.image fill-900x700 as retina_mobile_image %}
    {% image call_to_action.image fill-990x350 as desktop_image %}
    {% include "patterns/atoms/image/background-image-style.html" with mobile_image=mobile_image retina_mobile_image=retina_mobile_image desktop_image=desktop_image %}

    <div class="highlighted-content background-image-style">
        <div class="highlighted-content__content">
            <h2 class="highlighted-content__title heading">{{ call_to_action.title }}</h2>

            {{ call_to_action.summary|richtext }}

            {% for block in call_to_action.link %}
                {% if block.block_type == 'external_link' %}
                    <p><a href="{{ block.value.url }}">{{ block.value.title }}</a></p>
                {% elif block.block_type == 'internal_link'%}
                    <p><a href="{% pageurl block.value.page %}">{% firstof block.value.title block.value.page.title %}</a></p>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endif %}
