{% extends base_page_template %}
{% load wagtailcore_tags wagtailimages_tags util_tags static %}

{% block meta_tags %}
        <meta name="robots" content="noindex">
{% endblock %}

{% block content %}

    <div class="section section--main">
        <h1 class="heading heading--xxl">{{ page.title }}</h1>
        {{ page.introduction|richtext }}

        <p aria-hidden="true">
            <small>Fields denoted with an asterisk (*) are required.</small>
        </p>

        <div class="container">
            {% include form.template_name %}
        </div>
    </div>

{% endblock %}
