Django==2.2.10
wagtail==2.7
psycopg2==2.7.7
wagtail-django-recaptcha==1.0
django-pattern-library==0.2.5
bleach==3.1.0
factory-boy==2.12.0
freezegun==0.3.14
notifications-python-client==5.4.1
responses==0.10.9
zeep==3.4.0

# Production dependencies
whitenoise[brotli]==4.1.2
dj-database-url==0.5.0
raven==6.10.0
django-redis==4.10.0
redis==2.10.6
django-storages[boto3]==1.7.1
django-referrer-policy==1.0
django-csp==3.5
scout-apm==2.0.2
django-basic-auth-ip-whitelist==0.2.1
