CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.dummy.DummyCache',
    }
}

# On staging, uncomment the following to enable the styleguide
# ENABLE_STYLEGUIDE = True

# DO NOT use on production
RECAPTCHA_PUBLIC_KEY = '6LelrggUAAAAANL1b4NcQpJxjgoWQEugpoGqeq2q'
RECAPTCHA_PRIVATE_KEY = '6LelrggUAAAAAD2gDgs43P9NSa9ScvkU6ZmBAW_F'
NOCAPTCHA = True

# GOV.UK Notify service
# Uncomment the EMAIL_BACKEND line for testing with the GOV.UK Notify service
# EMAIL_BACKEND = "bc.utils.email.NotifyEmailBackend"
GOVUK_NOTIFY_API_KEY = "not_a_real_key"  # pragma: allowlist secret
GOVUK_NOTIFY_PLAIN_EMAIL_TEMPLATE_ID = "c370a02f-cae4-4606-bff4-fb4fc8e53347"

# Lumesse TalentLink API credentials
TALENTLINK_API_KEY = "not_a_real_key"  # pragma: allowlist secret
TALENTLINK_API_PASSWORD = "foo"  # pragma: allowlist secret
TALENTLINK_API_USERNAME_EXTERNAL = "foo:foz:FO"
TALENTLINK_API_USERNAME_INTERNAL = "bar:baz:FO"
TALENTLINK_API_WSDL = "https://api3.lumesse-talenthub.com/CareerPortal/SOAP/FoAdvert?WSDL"
TALENTLINK_APPLY_CONFIG_KEY_EXTERNAL = "some-UUID"
TALENTLINK_APPLY_CONFIG_KEY_INTERNAL = "a-different-UUID"

# Aptean Respond API credentials
RESPOND_API_USERNAME = "Service"
RESPOND_API_PASSWORD = "some_pass"  # pragma: allowlist secret
RESPOND_API_DATABASE = "Test"
RESPOND_API_BASE_URL = "https://groupc.respond.apteancloud.com/Buckinghamshire/ws/"

# Known create case web services
RESPOND_COMPLAINTS_WEBSERVICE = "TestCreateComplaints"
RESPOND_FOI_WEBSERVICE = "TestCreateFOI"
RESPOND_SAR_WEBSERVICE = "TestCreateSAR"
RESPOND_COMMENTS_WEBSERVICE = "TestCreateComments"
RESPOND_COMPLIMENTS_WEBSERVICE = "TestCreateCompliments"
RESPOND_DISCLOSURES_WEBSERVICE = "TestCreateDisclosures"


YANDEX_VERIFICATION_STRING = "test_string"
