from .base import *  # noqa


"""
The `fab run-test` command will run tests using the production.py settings file.
This will result with test failures due to the settings in production.py.

If you want to run tests locally, you can use this test.py settings file.

Copy this file and name it test.py in the same directory.

Run the tests from inside the web container:
    dj test --settings=bc.settings.test
"""


SECRET_KEY = "fake_secret_key_to_run_tests"

RECAPTCHA_PUBLIC_KEY = "dummy_public_key"
RECAPTCHA_PRIVATE_KEY = "dummy_private_key"

RESPOND_COMPLAINTS_WEBSERVICE = "TestCreateComplaints"
RESPOND_FOI_WEBSERVICE = "TestCreateFOI"
RESPOND_SAR_WEBSERVICE = "TestCreateSAR"
RESPOND_COMMENTS_WEBSERVICE = "TestCreateComments"
RESPOND_COMPLIMENTS_WEBSERVICE = "TestCreateCompliments"
RESPOND_DISCLOSURES_WEBSERVICE = "TestCreateDisclosures"

SECURE_SSL_REDIRECT = False

# Don't run birdbath in tests.
BIRDBATH_REQUIRED = False


WAGTAILSEARCH_BACKENDS = {"default": {"BACKEND": "wagtail.search.backends.database"}}

CACHES = {
    "default": {
        "BACKEND": "django.core.cache.backends.db.DatabaseCache",
        "LOCATION": "database_cache",
    }
}


# Ignore proxy count in tests
XFF_ALWAYS_PROXY = False
