{% extends base_page_template %}
{% load wagtailcore_tags wagtailimages_tags navigation_tags reading_time_tags static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block hero %}
    <div class="campaign-hero">
        {% image page.hero_image fill-1024x380 class="campaign-hero__image" %}
        <div class="wrapper wrapper--large">
            <h1 class="heading heading--xxl campaign-hero__title">{{ page.title }}</h1>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="wrapper wrapper--flex">
        <div class="section section--main">
            <div>{{ page.intro|richtext }}</div>

            <!-- table of contents -->
            <section class="grid" aria-label="Table of contents">
                {% for section in page.sections %}
                    <div class="card card--campaign-toc">
                        <a href="#{{ section.value.heading|slugify }}">
                            <h2 class="card__title">{{ section.value.heading }}</h2>
                        </a>
                    </div>
                {% endfor %}
            </section>

            {% for section in page.sections %}
                {% include_block section  %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
