{% load wagtailcore_tags %}

<div class="accordion__container">
    {% for accordion in accordions %}
        <div class="accordion" data-accordion>
            <h2 class="accordion__header">
                <button
                    id="button-{{ forloop.counter }}"
                    class="accordion__title"
                    data-accordion-question
                    aria-controls="answer-{{ forloop.counter }}"
                    aria-expanded="false"
                    aria-selected="false"
                    id="question-{{ forloop.counter }}">
                    {% include "patterns/atoms/icons/icon.html" with name="chevron" classname="icon--stroke accordion__icon" %}
                    {{ accordion.title }}
                </button>
            </h2>
            <div
                id="answer-{{ forloop.counter }}"
                data-accordion-answer
                class="accordion__content"
                aria-labelledby="question-{{ forloop.counter }}"
                aria-hidden="true">
                {% include_block accordion.content %}
            </div>
        </div>
    {% endfor %}
</div>
