{% load wagtailcore_tags %}

<div class="accordion__container" id="{{ accordion_id }}">
    {% for accordion in accordions %}
        <div class="accordion" data-accordion>
            <h2 class="accordion__header">
                <button
                    id="question-{{ accordion_id }}-{{ forloop.counter }}"
                    class="accordion__button"
                    data-accordion-question
                    aria-controls="answer-{{ accordion_id }}-{{ forloop.counter }}"
                    aria-expanded="false">
                    {% include "patterns/atoms/icons/icon.html" with name="chevron" classname="icon--stroke accordion__icon" %}
                    <span class="accordion__title">
                        {{ accordion.title }}
                    </span>
                </button>
            </h2>
            <div
                id="answer-{{ accordion_id }}-{{ forloop.counter }}"
                data-accordion-answer
                class="accordion__content"
                aria-labelledby="question-{{ accordion_id }}-{{ forloop.counter }}"
                hidden="until-found"
                >
                {% include_block accordion.content %}
            </div>
        </div>
    {% endfor %}
</div>
