{% extends base_page_template %}
{% load promotional_utils wagtailcore_tags wagtailimages_tags static event_tags %}

{% is_promotional_site as promotional_site %}

{% block content %}

    <div class="wrapper {% if promotional_site %} wrapper--large {% else %} wrapper--flex {% endif %} article">
        <div class="section section--main">

            <h1 class="heading heading--xxl">{{ page.title }}</h1>

            <div class="article__meta">
                <p class="article__date">
                    {% format_event_date page.start_date page.start_time page.end_date page.end_time %}
                </p>
                <p class="article__types">{{ page.event_types.all|join:", " }}</p>
                <p class="article__address">
                    <span>{{ page.street_address_1|default:"" }}</span>
                    <span>{{ page.street_address_2|default:"" }}</span>
                    <span>{{ page.city|default:"" }}</span>
                    <span>{{ page.region|default:"" }}</span>
                    <span>{{ page.postcode|default:"" }}</span>
                    <span>{{ page.country|default:"" }}</span>
                </p>
            </div>

            {% if page.introduction %}
                <p class="article__intro">{{ page.introduction }}</p>
            {% endif %}

            {% include_block page.body %}
        </div>

        <div class="sidebar sidebar--narrow">
            {% include "patterns/molecules/navigation/sidebar-section.html" with related_pages=page.live_related_stepbysteppages sidebar_title="Part of" classes="sidebar--part-of" %}
            {% include "patterns/molecules/navigation/sidebar-section.html" with related_pages=page.live_related_pages sidebar_title="Related resources" %}
        </div>
    </div>

{% endblock %}
