{% extends base_page_template %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

    <div class="wrapper wrapper--flex article">
        <div class="section section--main">

            <h1 class="heading heading--xxl">{{ page.title }}</h1>

            <div class="article__meta">
                <p class="article__date">
                    {{ page.start_date }} {{ page.start_time|default:""|date:"hA" }}
                    {% if page.end_date or page.end_time %}
                        – {{ page.end_date|default:"" }} {{ page.end_time|default:""|date:"hA" }}
                    {% endif %}
                </p>
                <p class="article__types">{{ page.event_types.all|join:", " }}</p>
                <p class="article__address">
                    <span>{{ page.street_address_1|default:"" }}</span>
                    <span>{{ page.street_address_2|default:"" }}</span>
                    <span>{{ page.city|default:"" }}</span>
                    <span>{{ page.region|default:"" }}</span>
                    <span>{{ page.postcode|default:"" }}</span>
                    <span>{{ page.country|default:"" }}</span>
                </p>
            </div>

            {% if page.introduction %}
                <p class="article__intro">{{ page.introduction }}</p>
            {% endif %}

            {% include_block page.body %}
        </div>

        {% include "patterns/molecules/navigation/sidebar.html" with related_pages=page.related_pages sidebar_title="Related resources"  classes="sidebar--narrow" %}
    </div>

{% endblock %}
