/*
Styles for the top level of the navigation at desktop
*/

// the nav element surrounding the whole navigation
// There are separate nav elements for desktop and mobile
.primary-nav-desktop {
    $root: &;

    // At desktop the top level of the menu is always visible in the header
    display: none;

    @include media-query(tablet-portrait) {
        display: inline-block;
    }

    // Top level menu unordered list
    &__list {
        display: flex;
        gap: 15px;

        @include media-query(tablet-landscape) {
            gap: 20px;
        }
    }

    // top level menu list items
    &__item {
        position: relative;
        width: auto;
        font-weight: $weight--medium;

        &--active {
            border-color: $color--river;
        }

        &.active {
            #{$root}__icon-wrapper {
                transform: rotate(180deg);
            }
        }
    }

    // top level menu links
    &__link {
        position: relative;
        text-decoration: none;
        display: inline-block;
        padding: 11px 0;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -8px;
            width: 100%;
            height: 4px;
            background-color: $color--river;
            transition: $transition opacity;
            opacity: 0;
        }

        &:hover {
            &::before {
                opacity: 1;
            }
        }
    }

    // top level menu link text
    &__text {
        @include font-size(s);
        color: $color--river;
        word-break: normal;
    }

    // desktop arrows
    // wrapper ensures the text doesn't move when the icon changes
    &__icon-wrapper {
        width: 25px;
        position: relative;
        display: inline-block;
        margin-left: -2px;
    }

    // chevron when menu is closed
    &__icon-closed {
        display: block;
        width: 10px;
        height: 6px;

        .active &,
        #{$root}__link:hover & {
            display: none;
        }
    }

    // tall arrow when menu is open
    &__icon-open {
        display: none;
        width: 13px;
        height: 85px;
        position: absolute;
        top: -8px;

        .active & {
            display: block;
        }
    }

    // short icon when hovering
    &__icon-hover {
        display: none;
        width: 11px;
        height: 16px;
        position: absolute;
        top: -8px;

        #{$root}__link:hover & {
            display: block;
        }

        // don't show as well as the active icon
        .active #{$root}__link:hover & {
            display: none;
        }
    }
}
