/*
Styles for the top level of the navigation at mobile
*/

// the nav element surrounding the whole navigation
// There are separate nav elements for desktop and mobile
.primary-nav-mobile {
    $root: &;

    background-color: $color--white;
    height: calc(100vh - 71px);
    left: 0;
    opacity: 0;
    overflow: hidden;
    overflow-y: visible;
    position: fixed;
    top: 102px;
    transition: visibility 0ms ease-out 50ms, opacity 0.25s ease-out 50ms;
    visibility: hidden;
    width: 100%;
    z-index: 10;
    display: block;

    @include media-query(tablet-portrait) {
        display: none;
    }

    // active state
    &.is-visible {
        visibility: visible;
        opacity: 1;
    }

    // Top level menu unordered list
    &__list {
        display: flex;
        flex-direction: column;
    }

    // top level menu list items
    &__item {
        position: relative;
        width: 100%;
    }

    // top level menu links
    &__link {
        display: flex;
        padding: 10px;
        justify-content: space-between;
        align-items: center;

        #{$root}__item:last-child & {
            border-bottom: none;
        }
    }

    // mobile arrow - appears if there are children
    &__icon-mobile {
        width: 18px;
        height: 21px;
        flex-grow: 0;
        flex-shrink: 0;
        transition: transform $transition;

        #{$root}__link:hover & {
            transform: translateX(10px);
        }

        @include media-query(tablet-portrait) {
            display: none;
        }
    }
}
