{% load i18n %}
{% include "utils/widgets/base_chart.html" with chart_type="Bar chart" %}
<br/>
{% include "utils/widgets/partials/direction.html" %}
<br/>
{% trans "The first column will be the x axis. The first row will be labels for groups of data in each bar." as data_help_text %}
{% include "utils/widgets/partials/data.html" with help_text=data_help_text example="bar" %}

<script>
    if( document.readyState !== 'loading' ) {
        window.initBarChart("{{ widget.attrs.id|escapejs }}", {{ widget.table_options_json|safe }});
    } else {
        document.addEventListener('DOMContentLoaded', () => {
            window.initBarChart("{{ widget.attrs.id|escapejs }}", {{ widget.table_options_json|safe }});
        });
    }
</script>
