{% load i18n %}
{% include "utils/widgets/base_chart.html" with chart_type="Line" %}
<br/>
{% trans "First column will be considered as the base axis points. First row will be considered as the labels for each line in the chart." as data_help_text %}
{% include "utils/widgets/partials/data.html" with help_text=data_help_text example="line" %}

<script>
    if( document.readyState !== 'loading' ) {
        window.initLineChart("{{ widget.attrs.id|escapejs }}", {{ widget.table_options_json|safe }});
    } else {
        document.addEventListener('DOMContentLoaded', () => {
            window.initLineChart("{{ widget.attrs.id|escapejs }}", {{ widget.table_options_json|safe }});
        });
    }
</script>
