{% load promotional_utils wagtailcore_tags %}


{% is_promotional_site as promotional_site %}

<div class="blog-hero">
    <div class="wrapper {% if promotional_site %} wrapper--large {% else %} wrapper--flex {% endif %}">
        <div class="section section--main">
            <h1 class="heading heading--xxl blog-hero__title">
                <span>
                    <a href="{% pageurl page.get_parent %}">{{ page.get_parent.title }}</a>
                </span>
                {% if link_back %}
                <a href="{% pageurl page %}">{{ page.title }}</a>
                {% else %}
                {{ page.title }}
                {% endif %}
            </h1>
        </div>
        <div class="sidebar">
            <form action="{{ page.search_url }}" method="get" role="search" class="form blog-hero__form">
                <input id="blog-search" class="input" name="query" type="text" placeholder="Search the {{ page.title|lower }}" {% if search_query %} value="{{ search_query }}"{% endif %}>
                <label for="blog-search" class="u-sr-only">Search the {{ page.title|lower }}</label>
                <button class="button button--blog-search" type="submit" aria-label="Submit">
                    {% include "patterns/atoms/icons/icon.html" with name="magnifying-glass" classname="icon--stroke icon--white button__icon" %}
                </button>
            </form>
        </div>
    </div>
</div>
