{% load wagtailcore_tags wagtailimages_tags static %}

{% image page.hero_image fill-450x350 as mobile_image %}
{% image page.hero_image fill-900x700 as retina_mobile_image %}
{% image page.hero_image fill-1440x350 as desktop_image %}
{% include "patterns/atoms/image/background-image-style.html" with mobile_image=mobile_image retina_mobile_image=retina_mobile_image desktop_image=desktop_image %}
<div class="hero hero--jobs hero--with-search background-image-style">
    <div class="wrapper wrapper--large">
        <h1 class="hero__strapline heading heading--xxxl">{{ page.hero_title }}</h1>

        <div class="hero__search">
            <form action="{% url 'search' %}" method="get" role="search" class="form form--hero-search form--jobs-hero">
                <input class="input" id="search--hero" type="text" placeholder="Search jobs, e.g. “Teacher in Aylesbury”" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
                <label class="u-sr-only" for="search--hero">Search Jobs</label>
                <button class="button button--search button--hero" type="submit" aria-label="Submit">
                    {% include "patterns/atoms/icons/icon.html" with name="magnifying-glass" classname="icon--stroke icon--white button__icon" %}
                    <span class="u-sr-only">Search</span>
                </button>
            </form>

            <a class="hero__search-link" href="{% url 'search' %}">{{ page.hero_link_text }}</a>
        </div>
    </div>
</div>
