{% load wagtailcore_tags %}
<h2 class="heading heading--l">An accordion</h2>

<div role="tablist" aria-multiselectable="true">
    {% for accordion in accordions %}
        <div class="accordion accordion--detail" data-accordion>
            <a
                href=""
                class="accordion__title"
                data-accordion-question
                role="tab"
                aria-controls="answer-{{ forloop.counter }}"
                aria-expanded="false"
                aria-selected="false"
                id="question-{{ forloop.counter }}">
                {% include "patterns/atoms/icons/icon.html" with name="chevron" classname="icon--stroke accordion__icon" %}
                <h3 class="accordion__header">{{ accordion.title }}</h3>
            </a>
            <div
                aria-live="polite"
                class="accordion__content"
                data-accordion-answer
                id="answer-{{ forloop.counter }}"
                role="tabpanel"
                aria-labelledby="question-{{ forloop.counter }}"
                aria-hidden="false">
                {{ accordion.content|richtext }}
            </div>
        </div>
    {% endfor %}
</div>
