{% extends base_page_template %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

    <div class="wrapper wrapper--flex news">
        <section class="section section--main" aria-label="News listing">
            <h1 class="heading heading--xxl">{{ page.title }}</h1>

            {% if news %}
                <ul class="article-index">
                    {% for n in news %}
                        <li class="article-index__item">
                            <div class="article-index__content">
                                <a class="article-index__link" href="{% pageurl n %}">
                                    <h2 class="heading article-index__title">
                                        {% firstof n.listing_title n.title %}
                                    </h2>
                                </a>

                                {% if n.listing_summary or n.introduction %}
                                    <p class="article-index__summary">{% firstof n.listing_summary n.introduction %}</p>
                                {% endif %}

                                <span class="article-index__date">{{ n.display_date|date:"d F Y" }}</span>
                            </div>

                            <div class="article-index__image {% if not n.listing_image %}article-index__image--empty{% endif %}">
                                {% if n.listing_image %}
                                    {# A listing image is purely decorative. Set blank alt text. #}
                                    {% image n.listing_image fill-500x250 alt="" %}
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>

                {% include "patterns/molecules/pagination/pagination.html" with paginator_page=news %}

            {% else %}
                {# no items #}
            {% endif %}
        </section>

        {% include "patterns/molecules/navigation/sidebar.html" with related_pages=page.related_pages.all sidebar_title="Related resources" classes="sidebar--narrow" %}
    </div>
{% endblock %}
