{% extends base_page_template %}
{% load promotional_utils %}

{% block content %}
    {% is_promotional_site as promotional_site %}
    {% if promotional_site %}
        <div class="wrapper wrapper--promo-inner">
    {% endif %}

    <div class="section {% if promotional_site %}section--vertical-padding {% else %} section--main {% endif %}">
        <div class="intro">
            <div class="container">
                <h1 class="heading heading--xxl">{{ page.title }}</h1>
                {% if page.introduction %}
                    <div class="helpful-hint">{{ page.introduction }}</div>
                {% endif %}
            </div>
        </div>

        <div class="main-body">
            <div class="container">
                {% if page.form_fields.exists %}
                    {% include "patterns/organisms/form-templates/includes/standard-form.html" %}
                {% endif %}
            </div>
        </div>
    </div>
    {% if promotional_site %}
        </div>
    {% endif %}
{% endblock %}
