{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags form_tags util_tags static %}

{% block content %}

    <div class="intro">
        <div class="container">
            <h1 class="heading heading--xxl">{{ page.title }}</h1>
            <div class="helpful-hint">{{ page.introduction }}</div>
        </div>
    </div>

    <section class="main-body">
        <div class="container">
            <form action="/test/your-contact-details/" method="post" class="form form--standard" _lpchecked="1">
                <div class="form__container">
                    <div class="form-item form-item--choice_field form-item--select">
                        <label for="id_title-optional" class="form-item__label ">Title (optional)</label>
                        <select name="title-optional" id="id_title-optional">
                            <option value="Mr">Mr</option>

                            <option value="Ms">Ms</option>

                            <option value="Miss">Miss</option>

                            <option value="Mrs">Mrs</option>
                        </select>
                    </div>

                    <div class="form-item form-item--char_field form-item--text_input">
                        <label for="id_first-name" class="form-item__label required">First name <span class="form-item__required">*</span></label>
                        <input type="text" name="first-name" maxlength="255" required="" id="id_first-name" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
                    </div>


                    <div class="form-item form-item--char_field form-item--text_input ">
                        <label for="id_last-name" class="form-item__label required">Last name <span class="form-item__required">*</span></label>
                        <input type="text" name="last-name" maxlength="255" required="" id="id_last-name">
                    </div>

                    <div class="form-item form-item--choice_field form-item--radio_select " data-conditional>
                        <label for="id_how-would-you-prefer-to-be-contacted_0" class="form-item__label required">How would you prefer to be contacted? <span class="form-item__required">*</span></label>
                        <ul id="id_how-would-you-prefer-to-be-contacted" >
                            <li data-conditional-field>
                                <label for="id_how-would-you-prefer-to-be-contacted_0">
                                    <input type="radio" name="how-would-you-prefer-to-be-contacted" value="Email" required="" id="id_how-would-you-prefer-to-be-contacted_0" data-conditional-input>
                                    Email
                                </label>

                                <fieldset class="form-item__conditional-fields" data-conditional-subfields>
                                    <div class="form-item form-item--email_field form-item--email_input">
                                        <label for="id_email-address" class="form-item__label ">Email address</label>
                                        <div class="form-item__help"></div>
                                        <input type="email" name="email-address" id="id_email-address">
                                    </div>
                                </fieldset>
                            </li>
                            <li data-conditional-field>
                                <label for="id_how-would-you-prefer-to-be-contacted_1">
                                    <input type="radio" name="how-would-you-prefer-to-be-contacted" value="Phone" required="" id="id_how-would-you-prefer-to-be-contacted_1" data-conditional-input>
                                    Phone
                                </label>

                                <fieldset class="form-item__conditional-fields" data-conditional-fields>
                                    <div class="form-item form-item--decimal_field form-item--number_input ">
                                        <label for="id_phone-number" class="form-item__label required">Phone number <span class="form-item__required">*</span></label>
                                        <div class="form-item__help"></div>
                                        <input type="number" name="phone-number" step="any" required="" id="id_phone-number">
                                    </div>
                                </fieldset>
                            </li>
                            <li data-conditional-field>
                                <label for="id_how-would-you-prefer-to-be-contacted_2">
                                    <input type="radio" name="how-would-you-prefer-to-be-contacted" value="Post" required="" id="id_how-would-you-prefer-to-be-contacted_2" data-conditional-input>
                                    Post
                                </label>

                                <fieldset class="form-item__conditional-fields" data-conditional-fields>
                                    <div class="form-item form-item--char_field form-item--text_input ">
                                        <label for="id_building-number-and-street-address" class="form-item__label ">Building number and street address </label>
                                        <div class="form-item__help"></div>
                                        <input type="text" name="building-number-and-street-address" maxlength="255" id="id_building-number-and-street-address">
                                    </div>

                                    <div class="form-item form-item--char_field form-item--text_input ">
                                        <label for="id_town-or-city" class="form-item__label required">Town or city <span class="form-item__required">*</span></label>
                                        <div class="form-item__help"></div>
                                        <input type="text" name="town-or-city" maxlength="255" required="" id="id_town-or-city">
                                    </div>

                                    <div class="form-item form-item--char_field form-item--text_input ">
                                        <label for="id_county" class="form-item__label required">County <span class="form-item__required">*</span></label>
                                        <div class="form-item__help"></div>
                                        <input type="text" name="county" maxlength="255" required="" id="id_county">
                                    </div>

                                    <div class="form-item form-item--char_field form-item--text_input ">
                                        <label for="id_postcode" class="form-item__label required">Postcode <span class="form-item__required">*</span></label>
                                        <div class="form-item__help"></div>
                                        <input type="text" name="postcode" maxlength="255" required="" id="id_postcode">
                                    </div>
                                </fieldset>
                            </li>
                        </ul>
                    </div>
                    <input class="form__submit button" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </section>

{% endblock %}
