{% extends base_page_template %}
{% load wagtailcore_tags wagtailimages_tags promotional_utils static %}

{% block content %}
    {% is_promotional_site as promotional_site %}
    {% if promotional_site %}
        <div class="wrapper wrapper--promo-inner">
    {% endif %}

    <div class="section {% if promotional_site %}section--vertical-padding {% else %} section--main {% endif %}">
    <div class="intro">
        <div class="container form__success">
            <h1 class="form__success--heading">{{ page.thank_you_heading|default:'Thank you' }}</h1>
            <div>{{ page.thank_you_text|richtext }}</div>
        </div>
    </div>
    {% if promotional_site %}
</div>
{% endif %}
{% endblock %}
