.footer {
    padding: $grid 0;
    color: $color--secondary;
    background-color: $color--tertiary;

    &__nav-container {
        display: flex;
        flex-direction: column;

        @include media-query(px900) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__links {
        order: 1;
        margin-bottom: $grid--small;
    }

    &__social-links {
        margin: 0;
        order: 2;
    }

    &__social-links-list {
        display: flex;

        @include media-query(px900) {
            align-items: center;
            justify-content: flex-start;
            margin: 0;
        }
    }

    &__social-links-text {
        margin-top: 0;
    }

    &__ogl {
        margin-top: $grid--small;
        order: 3;

        p {
            margin-bottom: 0;
        }
    }

    &__credit {
        flex: 0 0 100%;
        margin-top: $grid--small;
        margin-bottom: $grid--large;
        order: 4;
    }
}
