.footer {
    $root: &;
    @include font-size(xxs);
    padding: $grid 0;
    color: $color--secondary;
    background-color: $color--tertiary;

    &--jobs {
        #{$root}__social-links {
            order: 3;
        }

        #{$root}__ogl {
            order: 2;
            margin-top: 0;
        }
    }

    &__column {
        margin-bottom: $grid;

        .rich-text {
            word-break: break-word;

            a {
                color: $color--white;
                font-weight: $weight--bold;
            }

            p,
            li {
                @include font-size(xs);
                color: $color--charcoal-25;
            }

            li::before {
                background-color: $color--charcoal-25;
            }
        }
    }

    &__column-heading {
        @include font-size(s);
        font-weight: $weight--bold;
    }

    &__nav-container {
        display: flex;
        flex-direction: column;

        @include media-query(tablet-landscape) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__links {
        order: 1;

        @include media-query(tablet-landscape) {
            margin-bottom: $grid--small;
        }
    }

    &__social-links {
        margin-top: $grid--small;
        order: 2;

        @include media-query(tablet-landscape) {
            margin-top: 0;
        }
    }

    &__social-links-list {
        flex: 1 0 auto;
        display: flex;

        @include media-query(tablet-landscape) {
            align-items: center;
            justify-content: flex-start;
            margin: 0;
        }
    }

    &__social-links-text {
        margin-top: 0;
    }

    &__ogl {
        flex: 1 0 auto;
        order: 3;
        margin-top: $grid--small + 10px;

        @include media-query(tablet-landscape) {
            margin-top: $grid--small;
        }
    }

    &__ogl-copy {
        margin: 5px 0 0;
    }

    &__credit {
        flex: 0 0 100%;
        margin-top: $grid--small;
        margin-bottom: $grid--large;
        order: 4;
    }

    &__credit-logo {
        height: 20px;
        width: 40px;
    }
}
