.footer {
    $root: &;
    @include font-size(xxs);
    padding: $grid 0;
    color: $color--secondary;
    background-color: $color--tertiary;

    &--jobs {
        #{$root}__social-links {
            order: 4;
        }

        #{$root}__ogl {
            order: 3;
            margin-top: 0;
        }

        #{$root}__safe-space {
            order: 2;
            flex-basis: 100%;
        }
    }

    &__inner {
        .page--promotional & {
            padding: 0 20px;

            @include media-query(tablet-portrait) {
                padding: 0 25px;
            }
        }
    }

    &__columns {
        @include media-query(tablet-landscape) {
            display: flex;
            margin-bottom: $grid--large;
            margin-top: $grid--small;
        }
    }

    &__column {
        margin-bottom: $grid;

        @include media-query(tablet-landscape) {
            flex-basis: 33.3333%;
            flex-grow: 1;

            &:not(:first-child) {
                margin-left: $grid--small;
                padding-left: $grid--small;
                position: relative;

                &::before {
                    background-color: $color--charcoal-75;
                    content: '';
                    height: 100%;
                    left: 0;
                    position: absolute;
                    width: 1px;
                }
            }
        }
    }

    &__column-heading {
        @include font-size(s);
        font-weight: $weight--bold;
    }

    &__nav-container {
        display: flex;
        flex-direction: column;

        @include media-query(tablet-landscape) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__links {
        order: 1;

        @include media-query(tablet-landscape) {
            margin-bottom: $grid--small;
        }
    }

    &__social-links {
        margin-top: $grid--small;
        order: 2;

        @include media-query(tablet-landscape) {
            margin-top: 0;
        }
    }

    &__social-links-list {
        flex: 1 0 auto;
        display: flex;

        @include media-query(tablet-landscape) {
            align-items: center;
            justify-content: flex-start;
            margin: 0;
        }
    }

    &__social-links-text {
        margin-top: 0;
    }

    &__safe-space {
        margin: 0 0 $grid--small;
    }

    &__ogl {
        margin-top: $grid--small + 10px;

        @include media-query(tablet-landscape) {
            margin-top: $grid--small;
        }
    }

    &__ogl-copy {
        margin: 5px 0 0;
    }

    &__credit {
        margin-top: $grid--small;
        margin-bottom: $grid--large;
    }

    &__credit-logo {
        height: 20px;
        width: 40px;
    }
}
