.header {
    $root: &;
    padding: 12px 0;
    background-color: $color--primary;

    &__inner {
        @include media-query(px550) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__home-link {
        display: block;

        @include media-query(px550) {
            margin-right: $grid * 2;
        }
    }

    &__logo {
        fill: $color--white;
        height: $grid--medium;
        width: 177px;
    }

    &__search {
        width: 100%;
        margin-top: $grid--small;

        @include media-query(px550) {
            margin-top: 0;
        }

        .template-home-page &,
        .template-jobs-home &,
        .template-searchresults & {
            display: none;
        }
    }

    &--jobs {
        #{$root}__inner {
            justify-content: flex-start;
        }
    }

    &__heading {
        align-items: center;
        display: flex;
        flex: 1 0 0;
        justify-content: space-between;
    }

    &__heading-title {
        @include font-size(l);
        color: $color--white;
        flex: 0 1 100%;
        font-weight: $weight--bold;
        line-height: 1.25;
        margin-top: $grid--min;
        margin-right: 10px;
        text-decoration: none;

        #{$hover-states} {
            color: $color--white;
            text-decoration: underline;
        }

        @include media-query(mob-portrait) {
            flex: 0 1 55%;
        }

        @include media-query(px550) {
            flex: 0 1 50%;
            line-height: 1.25;
            margin-top: 0;
        }

        @include media-query(tablet-landscape) {
            @include font-size(xl);
            flex: auto;
        }
    }
    &__heading-logo {
        background-color: $color--white;
        display: inline-block;
        max-height: 38px;
        vertical-align: middle;

        &--padding {
            padding: 3px 3px 0 3px;
        }

        &:first-child {
            margin-bottom: 5px;
        }

        @include media-query(px550) {
            max-height: 44px;
        }

        @include media-query(tablet-portrait) {
            &:first-child {
                margin-right: 5px;
                margin-bottom: 0;
            }
        }
    }
}
