.header {
    $root: &;
    padding: 12px 0;
    background-color: $color--primary;

    &__inner {
        @include media-query(px550) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__home-link {
        display: block;

        @include media-query(px550) {
            margin-right: $grid * 2;
        }
    }

    &__logo {
        fill: $color--white;
        height: 45px;
        width: 177px;
    }

    &__search {
        width: 100%;
        margin-top: $grid--small;

        @include media-query(px550) {
            margin-top: 0;
        }

        .template-home-page &,
        .template-jobs-home & {
            display: none;
        }
    }

    &--jobs {
        #{$root}__inner {
            justify-content: flex-start;
        }
    }

    &__heading {
        align-items: center;
        display: flex;
        flex: 1 0 0;
        justify-content: space-between;
    }

    &__heading-title {
        @include font-size(xl);
        color: $color--white;
        font-weight: $weight--bold;
        margin-top: $grid--min;
        margin-right: 10px;

        @include media-query(px550) {
            @include font-size(xl);
            margin-top: 0;
        }
    }

    &__heading-logo {
        background-color: $color--white;
        max-height: 44px;
        padding: 3px 3px 0 3px;

        @include media-query(px550) {
            align-self: flex-end;
        }
    }
}
