.header {
    padding: 12px 0;
    background-color: $color--primary;

    &__inner {
        @include media-query(px550) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__home-link {
        display: block;

        @include media-query(px550) {
            margin-right: $grid;
        }
    }

    &__logo {
        fill: $color--white;
        height: 45px;
        width: 177px;
    }

    &__search {
        width: 100%;
        margin-top: $grid--small;

        @include media-query(px550) {
            margin-top: 0;
        }

        .template-home-page &,
        .template-jobs-home & {
            display: none;
        }
    }
}
