.sidebar {
    margin: 0 0 $grid;
    padding-bottom: $grid--small;

    @include media-query(tablet-landscape) {
        flex: 0 0 290px;
        margin: 0 0 0 $grid--large;
    }

    .template-news-page &,
    .template-news-index & {
        @include media-query(tablet-landscape) {
            flex: 0 0 220px;
        }
    }

    &__heading {
        border-top: $border--accent $color--grey-dark;
        padding-top: $grid--small;
        margin-bottom: $grid--small;
    }

    &__link {
        display: block;
        margin-bottom: $grid--min;
        line-height: 1.3;
    }
}
