.sidebar {
    margin: $grid 0;
    border-top: $border--accent $color--grey-dark;
    padding: $grid--small 0;

    @include media-query(tablet-landscape) {
        flex: 0 0 290px;
        margin: 0 0 0 $grid--large;
    }

    &__link {
        display: block;
        margin-bottom: $grid--min;
        line-height: 1.3;
    }
}
