{% extends base_page_template %}
{% load wagtailcore_tags wagtailimages_tags navigation_tags static %}

{% block hero %}
    {% include "patterns/molecules/hero/hero--jobs.html" %}
{% endblock %}

{% comment %} breadcrumbs included inside hero--jobs.html {% endcomment %}
{% block breadcrumbs %}{% endblock %}

{% block content %}
    <section class="section section--main">
        <div class="grid grid--index">
            {% for subpage in subpages %}
                <a class="card card--jobs" href="{% pageurl subpage %}">
                    <div class="card__image">
                        {% image subpage.listing_image fill-530x530 alt="" %}
                    </div>
                    <div class="card__content">
                        <h2 class="card__title headin">
                            {% firstof subpage.listing_title subpage.title %}
                        </h2>
                        {% if subpage.listing_summary %}
                            <p class="card__summary">{{ subpage.listing_summary }}</p>
                        {% endif %}
                        <p class="card__more" aria-hidden="true">Find out more</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        {% include_block page.body %}
    </section>
{% endblock %}
