{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags navigation_tags static %}

{% block content %}
    <section class="section section--main">
        <h1 class="heading heading--xxl">{{ page.title }}</h1>

        {% if page.introduction %}
            <p>{{ page.introduction }}</p>
        {% endif %}

        {% if featured_pages %}
            <div class="grid grid--index">
                {% for subpage in featured_pages %}
                    <a class="card" href="{% pageurl subpage %}">
                        <h2 class="card__title heading heading--s">
                            {% firstof subpage.listing_title subpage.title %}
                        </h2>
                        {% if subpage.listing_summary %}
                            <p class="card__summary">{{ subpage.listing_summary }}</p>
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        {% endif %}

        {% if ordinary_pages %}
            <div class="listing">
                {% for subpage in ordinary_pages %}
                    <article class="listing__item">
                        <a class="listing__link" href="{% pageurl subpage %}">
                            <h2 class="listing__title heading heading--s">
                                {% firstof subpage.listing_title subpage.title %}
                            </h2>
                        </a>
                        {% if subpage.listing_summary %}
                            <p class="listing__summary">{{ subpage.listing_summary }}</p>
                        {% endif %}
                    </article>
                {% endfor %}
            </div>
        {% endif %}

    </section>
{% endblock %}
