{% extends base_page_template %}
{% load wagtailcore_tags wagtailimages_tags navigation_tags static %}

{% block body_class %}template-jobs-index {{ block.super }}{% endblock %}

{% block hero %}
    {% include "patterns/molecules/hero/hero--jobs-home.html" with show_breadcrumbs=True %}
{% endblock %}

{% comment %} breadcrumbs included inside hero--jobs-home.html {% endcomment %}
{% block breadcrumbs %}{% endblock %}

{% block content %}
    {% if subpages %}
        <div class="u-breakout benefits-list">
            <div class="benefits-list__wrap">
                <ul class="benefits-list__grid">
                    {% for subpage in subpages %}
                        <li class="benefits-list__item{% if not subpage.listing_image %} benefits-list__item--no-image{% endif %}">
                            <a class="benefits-list__card" href="{% pageurl subpage %}">

                                {% if subpage.listing_image %}
                                    {% image subpage.listing_image fill-310x240 class="benefits-list__image" %}
                                {% endif %}

                                <div class="benefits-list__content">
                                    <svg class="benefits-list__wave" aria-hidden="true" focusable="false">
                                        <use xlink:href="#wave"></use>
                                    </svg>
                                    <h3 class="benefits-list__title">{% firstof subpage.listing_title subpage.title %}</h3>
                                    {% if subpage.listing_summary %}
                                        <p class="">{{ subpage.listing_summary }}</p>
                                    {% endif %}
                                    {% include "patterns/atoms/icons/icon.html" with name="arrow" classname="icon--benefit-arrow benefits-list__icon" %}
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    <section class="section section--main" aria-label="subpages">
        {% include_block page.body %}
    </section>
{% endblock %}
