{% extends base_page_template %}
{% load wagtailcore_tags wagtailimages_tags navigation_tags static %}

{% block body_class %}template-fis-category-send {{ block.super }}{% endblock %}

{% comment %} breadcrumbs are included inside hero index component {% endcomment %}
{% block breadcrumbs %}{% endblock %}

{% block hero %}
    {% include "patterns/molecules/hero/hero--index.html" %}

    {% if page.top_tasks.all %}
        {% include "patterns/molecules/top-tasks/top-tasks.html" with heading=page.top_tasks_heading tasks=page.top_tasks.all %}
    {% endif %}
{% endblock %}

{% block content %}
    <div>
        {% if page.introduction %}
            <p>{{ page.introduction }}</p>
        {% endif %}

        <div
            aria-label="Subpages"
            class="grid grid--fis-index grid--index grid--thirds"
            data-height-equalizer
        >
            {% for subpage in page.child_pages %}
                <a class="card card--fis-index" href="{% pageurl subpage %}">
                    {% if forloop.counter0 < 3 %}
                        <div class="card__image">
                            {% image subpage.listing_image fill-350x250 as desktop_image %}
                            {% include "patterns/atoms/image/image.html" with mobile_image=desktop_image retina_mobile_image=desktop_image desktop_image=desktop_image alt=subpage.listing_image.alt_text %}
                        </div>
                    {% endif %}

                    <div class="card__content" data-height-equalizer-child>
                        <h2 class="card__title heading">
                            {% firstof subpage.listing_title subpage.title %}
                        </h2>
                        {% if subpage.listing_summary %}
                            <p class="card__summary">{{ subpage.listing_summary }}</p>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

    {% include "patterns/molecules/directory-banner/directory-banner.html" with classes="directory-banner--with-space" %}

    {% include "patterns/molecules/search-prompt/search-prompt--fis.html" with search_prompt_text=page.get_parent.specific.search_prompt_text %}
{% endblock %}
