{% extends base_page_template %}
{% load wagtailcore_tags wagtailimages_tags navigation_tags static %}

{% block body_class %}template-jobs-index {{ block.super }}{% endblock %}

{% block extra_css %}
    {% image page.hero_image fill-450x350 as mobile_image %}
    {% image page.hero_image fill-900x700 as retina_mobile_image %}
    {% image page.hero_image fill-1440x350 as desktop_image %}
    {% include "patterns/atoms/image/background-image-style.html" with class="hero" mobile_image=mobile_image retina_mobile_image=retina_mobile_image desktop_image=desktop_image %}
{% endblock %}

{% block hero %}
    {% include "patterns/molecules/hero/hero--jobs-home.html" with show_breadcrumbs=True %}
{% endblock %}

{% comment %} breadcrumbs included inside hero--jobs-home.html {% endcomment %}
{% block breadcrumbs %}{% endblock %}

{% block content %}
    <section class="section section--main" aria-label="subpages">
        <div class="grid grid--index">
            {% for subpage in subpages %}
                <a class="card card--jobs" href="{% pageurl subpage %}">
                    <div class="card__image">
                        {% image subpage.listing_image fill-400x400 as mobile_image %}
                        {% image subpage.listing_image fill-800x800 as retina_mobile_image %}
                        {% include "patterns/atoms/image/image.html" with mobile_image=mobile_image retina_mobile_image=retina_mobile_image desktop_image=mobile_image alt="" %}
                    </div>
                    <div class="card__content">
                        <h2 class="card__title heading">
                            {% firstof subpage.listing_title subpage.title %}
                        </h2>
                        {% if subpage.listing_summary %}
                            <p class="card__summary">{{ subpage.listing_summary }}</p>
                        {% endif %}
                        <p class="card__more" aria-hidden="true">Find out more</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        {% include_block page.body %}
    </section>
{% endblock %}
