{% extends base_page_template %}
{% load wagtailcore_tags wagtailimages_tags navigation_tags static %}

{% block body_class %}template-fis-category-regular {{ block.super }}{% endblock %}

{% comment %} breadcrumbs are included inside hero index component {% endcomment %}
{% block breadcrumbs %}{% endblock %}

{% block hero %}
    {% include "patterns/molecules/hero/hero--index.html" %}

    {% if page.top_tasks.all %}
        {% include "patterns/molecules/top-tasks/top-tasks.html" with heading=page.top_tasks_heading tasks=page.top_tasks.all %}
    {% endif %}
{% endblock %}

{% block content %}
    <div>
        {% if page.introduction %}
            <p>{{ page.introduction }}</p>
        {% endif %}

        <div class="wrapper wrapper--desktop-reverse">

            {% comment %}
                If content was added to the page body, use that content.
                If not, behave like before: display all child pages.
            {% endcomment %}

            <div>

                {% include_block page.body %}

                {% if page.body %}
                    {% comment %}
                        If content was added to page.body put the search widget under that but above the other child pages.
                    {% endcomment %}
                    {% if page.directory_search %}
                        {% include_block page.directory_search %}
                    {% endif %}
                {% endif %}

                {% if show_other_pages_heading %}
                    <h2 class="heading heading--l" id="{{ page.other_pages_heading|slugify }}">{{ page.other_pages_heading }}</h2>
                {% endif %}
                <section
                    aria-label="Subpages"
                    class="grid grid--fis-index grid--index grid--thirds"
                    data-height-equalizer
                >
                    {% for subpage in page.other_child_pages %}
                        {% if not page.has_featured_pages and page.display_featured_images and forloop.counter <= 3 %}
                            {% include "patterns/molecules/page-card/page-card.html" with show_image=True classes="card--fis-index" has_heading=show_other_pages_heading page=subpage %}
                        {% else %}
                            {% include "patterns/molecules/page-card/page-card.html" with show_image=False classes="card--fis-index" has_heading=show_other_pages_heading page=subpage %}
                        {% endif %}
                    {% endfor %}
                </div>
            </section>

            {% if not page.body %}
                {% comment %}
                    If content wasn't added to page.body put the search widget under child pages.
                {% endcomment %}
                {% if page.directory_search %}
                    {% include_block page.directory_search %}
                {% endif %}
            {% endif %}

            {% include "patterns/molecules/directory-banner/directory-banner.html" with classes="directory-banner--with-space" %}
        </div>
    </div>

    {% include "patterns/molecules/search-prompt/search-prompt--fis.html" with search_prompt_text=page.get_parent.specific.search_prompt_text %}
{% endblock %}
