{% extends base_page_template %}
{% load wagtailcore_tags wagtailimages_tags navigation_tags static %}

{% block body_class %}template-fis-category-send {{ block.super }}{% endblock %}

{% comment %} breadcrumbs are included inside hero index component {% endcomment %}
{% block breadcrumbs %}{% endblock %}

{% block hero %}
    {% include "patterns/molecules/hero/hero--index.html" %}

    {% if page.top_tasks.all %}
        {% include "patterns/molecules/top-tasks/top-tasks.html" with heading=page.top_tasks_heading tasks=page.top_tasks.all %}
    {% endif %}
{% endblock %}

{% block content %}
    <div>
        {% if page.introduction %}
            <p>{{ page.introduction }}</p>
        {% endif %}

        {% comment %}
            If content was added to the page body, use that content.
            If not, behave like before: display all child pages.
        {% endcomment %}
        {% include_block page.body %}
        {% if page.other_pages_heading and page.body and page.other_child_pages %}
            <h2 class="heading heading--l" id="{{ page.other_pages_heading|slugify }}">{{ page.other_pages_heading }}</h2>
        {% endif %}
        <div
            aria-label="Subpages"
            class="grid grid--fis-index grid--index grid--thirds"
            data-height-equalizer
        >
            {% for subpage in page.other_child_pages %}
                {% include "patterns/molecules/page-card/page-card.html" with classes="card--fis-index" page=subpage %}
            {% endfor %}
        </div>
    </div>

    {% include "patterns/molecules/directory-banner/directory-banner.html" with classes="directory-banner--with-space" %}

    {% include "patterns/molecules/search-prompt/search-prompt--fis.html" with search_prompt_text=page.get_parent.specific.search_prompt_text %}
{% endblock %}
