{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags navigation_tags util_tags %}

<div class="header">
    <div class="header__inner wrapper wrapper--large">
        <a class="header__home-link" href="/" aria-label="Buckinghamshire Council">
            {% include "patterns/atoms/icons/icon.html" with name="logo" classname="header__logo" %}
        </a>

        <div class="header__heading">
            <a href="/" class="header__heading-title">
                <img class="header__promotional-logo" src="{% static 'images/promotional/foster-with-bucks-logo.png' %}" alt="Foster with Bucks">
            </a>
        </div>

        {% if primary_cta %}
            <a href="{{ primary_cta.url }}" class="promo-button promo-button--leaf-bg promo-button--extra-padding">{{ primary_cta.text }}</a>
        {% endif %}
    </div>
</div>

{% if items %}
<div class="wrapper wrapper--large">
    <ul class="promo-navigation">
    {% for item in items %}
        <li>
        <a href="{{ item.url }}">{% if item.current %}(CURRENT) {% endif %}{{ item.title }}</a>
        {% if item.items %}
            <ul>
            {% for subitem in item.items %}
                <li>
                <a href="{{ subitem.url }}">-- {% if subitem.current %}(CURRENT) {% endif %}{{ subitem.title }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if show_search %}
<div class="header__search">
    <form action="{% url 'search' %}" method="get" role="search" class="form form--header-search">
        <label class="u-sr-only" for="search">Search this website</label>
        <input class="input" id="search" type="text" placeholder="Search" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
        <button class="button button--search button--header" type="submit" aria-label="Submit">
            {% include "patterns/atoms/icons/icon.html" with name="magnifying-glass" classname="icon--stroke icon--white button__icon" %}
        </button>
    </form>
</div>
{% endif %}
