<div class="search-header search-header--fis" data-toggle-destination="search-header"{% if default_active %} data-active="true"{% endif %}>
    <div class="search-header__container">
        <div class="wrapper wrapper--large">
            <span class="search-header__heading">
                Search for information, advice and guidance
            </span>

            <div class="search-header__search">
                <form
                    action="{% url 'search' %}"
                    class="form form--hero-search form--fis-hero"
                    method="get"
                    role="search"
                >
                    <label class="u-sr-only" for="search--hero">
                        {% firstof page.search_placeholder "Search our website" %}
                    </label>
                    <input
                        class="input"
                        id="search--hero"
                        name="query"
                        placeholder="{% firstof page.search_placeholder "Search our website" %}"
                        type="text"
                    >
                    <button
                        aria-label="Submit"
                        class="button button--search button--hero"
                        type="submit"
                    >
                        {% include "patterns/atoms/icons/icon.html" with name="magnifying-glass" classname="icon--stroke icon--white button__icon" %}
                        <span class="u-sr-only">Search</span>
                    </button>
                </form>
            </div>

            <p class="search-header__outro">
                If you are looking for services in your area,
                <a href="#">search our directory</a>.
            </p>
        </div>
    </div>
</div>
