{% load wagtailcore_tags %}
<form action="{% pageurl page %}" method="post" class="form form--standard"{% if form.attachments %} enctype="multipart/form-data"{% endif %} novalidate data-form>
    <div class="form__container">
        {% csrf_token %}

        {% if form.errors %}
            <div class="form__errors">
                There were some errors with your form. Please amend the fields highlighted below.
                {% if form.non_field_errors %}
                    {{ form.non_field_errors }}
                {% endif %}
            </div>
        {% endif %}

        {% for field in form.field_group_1 %}
            {% include "patterns/molecules/form_field.html" %}
        {% endfor %}

        {% if form.attachments %}
            <fieldset>
                <legend class="form-item__label">Attach supporting documents</legend>
                {% include "patterns/molecules/form_field.html" with field=form.attachments %}
            </fieldset>
        {% endif %}

        <fieldset>
            <legend class="form-item__label heading">Your contact details</legend>
            {% include "patterns/molecules/form_field.html" with field=form.title form_item_extra_class="form-item--width form-item--width-5" %}
            {% include "patterns/molecules/form_field.html" with field=form.first_name %}
            {% include "patterns/molecules/form_field.html" with field=form.last_name %}

            {# Don't use the shared conditional contact-methods fields template #}
            {% include "patterns/molecules/form_field.html" with field=form.email %}
            {% for field in form.address_field_group %}
                {% if field.name == "address_01" %}
                    {% include "patterns/molecules/form_field.html" with form_item_extra_class="form-item--width form-item--width-max" %}
                {% elif field.name == "postcode" %}
                    {% include "patterns/molecules/form_field.html" with form_item_extra_class="form-item--width form-item--width-10" %}
                {% else %}
                    {% include "patterns/molecules/form_field.html" %}
                {% endif %}
            {% endfor %}
            {% include "patterns/molecules/form_field.html" with field=form.contact_number %}

            {% include "patterns/molecules/form_field.html" with field=form.contact_method %}
            {# End deviation from included contact-methods fields #}
        </fieldset>

        {{ page.pre_submission_text|richtext }}
        <input class="form__submit button" type="submit" value="Submit">

    </div>
</form>
