{% load wagtailcore_tags %}
<form action="{% pageurl page %}" method="post" class="form form--standard">
    <div class="form__container">
        {% csrf_token %}

        {% if form.errors %}
            <div class="form__errors">
                There were some errors with your form. Please amend the fields highlighted below.
                {% if form.non_field_errors %}
                    {{ form.non_field_errors }}
                {% endif %}
            </div>
        {% endif %}

        {% for field in form.field_group_1 %}
            {% include "patterns/molecules/form_field.html" %}
        {% endfor %}

        <fieldset>
            <legend class="form-item__label">Your contact details</legend>
            {% include "patterns/molecules/form_field.html" with field=form.title %}
            {% include "patterns/molecules/form_field.html" with field=form.first_name %}
            {% include "patterns/molecules/form_field.html" with field=form.last_name %}

            {% include "patterns/organisms/form-templates/contact_method_fieldset.html" %}
        </fieldset>

        {{ page.pre_submission_text|richtext }}
        <input class="form__submit button" type="submit" value="Submit">
    </div>
</form>
