{% load wagtailcore_tags %}
<form action="{% pageurl page %}" method="post" class="form form--standard" enctype="multipart/form-data" novalidate data-form>
    <div class="form__container">
        {% csrf_token %}

        {% if form.errors %}
            <div class="form__errors">
                There were some errors with your form. Please amend the fields highlighted below.
                {% if form.non_field_errors %}
                    {{ form.non_field_errors }}
                {% endif %}
            </div>
        {% endif %}

        {% include "patterns/molecules/form_field.html" with field=form.your_involvement %}

        <fieldset>
            <legend class="form-item__label heading">Request details</legend>
            {% include "patterns/molecules/form_field.html" with field=form.description %}
            {% include "patterns/molecules/form_field.html" with field=form.time_period %}

            <div class="form-item form-item--choice_field form-item--radio_select {% if form.buckinghamshire_council_employee.errors %}form-item--errors{% endif %}" data-conditional>
                <fieldset>
                    <legend class="form-item__label heading required">{{ form.buckinghamshire_council_employee.label }} <span class="form-item__required" aria-hidden="true">*</span></legend>

                    {% if form.buckinghamshire_council_employee.errors %}
                        <div class="form-item__errors">
                            {{ form.buckinghamshire_council_employee.errors }}
                        </div>
                    {% endif %}

                    <ul id="{{ form.buckinghamshire_council_employee.id_for_label }}" >
                        <li data-conditional-field>
                            {{ form.buckinghamshire_council_employee.0 }}
                            <fieldset class="form-item__conditional-fields">
                                <legend class="form-item__label heading">Employment details</legend>
                                {% include "patterns/molecules/form_field.html" with field=form.employee_id %}
                                {% include "patterns/molecules/form_field.html" with field=form.employment_dates %}
                            </fieldset>
                        </li>
                        <li data-conditional-field>
                            {{ form.buckinghamshire_council_employee.1 }}
                        </li>
                    </ul>
                </fieldset>
            </div>
        </fieldset>

        <fieldset>
            <legend class="form-item__label heading">Your contact details</legend>
            {% include "patterns/molecules/form_field.html" with field=form.title form_item_extra_class="form-item--width form-item--width-5" %}
            {% include "patterns/molecules/form_field.html" with field=form.first_name %}
            {% include "patterns/molecules/form_field.html" with field=form.last_name %}

            <fieldset>
                <legend class="form-item__label heading">Your date of birth</legend>
                <div class="form-item__help">For example, 23 05 1978</div>
                {% include "patterns/molecules/form_field.html" with field=form.dob_day form_item_extra_class="form-item--date form-item--width form-item--width-2" %}
                {% include "patterns/molecules/form_field.html" with field=form.dob_month form_item_extra_class="form-item--date form-item--width form-item--width-2" %}
                {% include "patterns/molecules/form_field.html" with field=form.dob_year form_item_extra_class="form-item--date form-item--width form-item--width-4" %}
            </fieldset>

            {% include "patterns/organisms/form-templates/contact_method_fieldset.html" %}
        </fieldset>


        <fieldset>
            <legend class="form-item__label">Attach supporting documents</legend>
            {% include "patterns/molecules/form_field.html" with field=form.attachments %}
        </fieldset>



        {{ page.pre_submission_text|richtext }}
        <input class="form__submit button" type="submit" value="Submit">
    </div>
</form>
