{% extends base_page_template %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    {% include "patterns/molecules/hero/hero--blog.html" %}

    <div class="wrapper wrapper--flex">
        <div class="section section--main">
            {% include "patterns/molecules/blog-list/blog-list.html" %}
            {% include "patterns/molecules/pagination/pagination.html" with modifier="pagination--centred" %}
        </div>

        <div class="sidebar">
            [Sidebar content]
        </div>
    </div>
{% endblock %}
