{% extends base_page_template %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
<div class="wrapper wrapper--flex blog-hero">
    <div class="section section--main section--blog-hero">
        <h1 class="heading heading--xxl">{{ page.title }}</h1>
    </div>
    <div class="sidebar sidebar--blog-hero">
        <form action="" method="get" role="search" class="form blog-hero__form">
            <input class="input" type="text" placeholder="Search">
            <label class="u-sr-only">Search this website</label>
            <button class="button button--blog-search" type="submit" aria-label="Submit">
                {% include "patterns/atoms/icons/icon.html" with name="magnifying-glass" classname="icon--stroke icon--white button__icon" %}
            </button>
        </form>
    </div>
</div>

<div class="wrapper wrapper--flex">
    <div class="section section--main">
        Some content goes here. Some content goes here. Some content goes here. Some content goes here. Some content goes here. Some content goes here.
    </div>

    <div class="sidebar">
        Sidebar
    </div>
</div>


{% endblock %}
