{% load search_tags %}

{% if paginator_page.paginator.num_pages > 1 %}
    <nav class="pagination" aria-label="Pagination">
        <ul class="pagination__list">
            {% if paginator_page.has_previous %}
                <li class="pagination__item">
                    <a class="pagination__link pagination__link--previous" href="{% pagination_link paginator_page.previous_page_number %}" class="previous" rel="prev">
                        {% include "patterns/atoms/icons/icon.html" with name="arrow" classname="icon--stroke pagination__icon pagination__icon--previous" %}
                        <span class="pagination__link-text">Previous</span>
                    </a>
                </li>
            {% endif %}

            {% for page_number in paginator_page.paginator.page_range|slice_pagination:paginator_page.number %}
                <li class="pagination__item">
                    {% if paginator_page.number == page_number %}
                        <a href="#" class="pagination__link pagination__link--active" aria-current="page">
                            {{ page_number }}
                        </a>
                    {% else %}
                        <a class="pagination__link" href="{% pagination_link page_number %}">
                            {{ page_number }}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}

            {% if paginator_page.has_next %}
                <li class="pagination__item">
                    <a class="pagination__link pagination__link--next next" href="{% pagination_link paginator_page.next_page_number %}" rel="next">
                        <span class="pagination__link-text">Next</span>
                        {% include "patterns/atoms/icons/icon.html" with name="arrow" classname="icon--stroke pagination__icon pagination__icon--next" %}
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
