.accordion {
    $root: &;
    border-top: 1px solid $color--grey-accessible;
    padding: 15px 0;

    &.is-open {
        #{$root}__icon {
            transform: rotate(0deg);
        }

        #{$root}__title {
            margin-bottom: 10px;
        }

        #{$root}__content {
            display: block;
        }
    }

    &--detail {
        border: 0;
        padding: 10px 0;

        #{$root}__icon {
            height: 30px;
            margin-right: 0;
            width: 30px;
            stroke-width: 4;
        }

        #{$root}__header {
            @include font-size(s);
            font-weight: $weight--normal;
        }

        #{$root}__title {
            text-decoration: underline;
        }

        #{$root}__content {
            border-left: 5px solid $color--grey-border;
            margin-bottom: 0;
            margin-left: 5px;
            padding: 10px $grid--small;
            margin-top: 10px;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        transition: color 0.2s ease;
        text-decoration: none;

        #{$hover-states} {
            cursor: pointer;

            #{$root}__icon {
                stroke: $color--link-hover;
            }

            #{$root}__title {
                color: $color--link-hover;
            }
        }
    }

    &__header {
        @include font-size(m);
        @include heading-text();
        color: $color--lake;
        margin: 0;
        padding: 0;
    }

    &__icon {
        width: 35px;
        height: 35px;
        margin-right: $grid--min;
        transition: transform, stroke, 0.2s ease;
        stroke: $color--lake;
        stroke-width: 4;
        transform: rotate(-90deg);
    }

    &__content {
        display: none;
        margin-bottom: 15px;
        margin-left: 35px + $grid--min;
        margin-top: 15px;
    }
}
