.accordion {
    $root: &;
    border-top: 1px solid $color--grey-accessible;
    padding: 15px 0;

    &:last-child {
        border-bottom: 1px solid $color--grey-accessible;
    }

    &.is-open {
        #{$root}__icon {
            transform: rotate(0deg);
        }

        #{$root}__button {
            margin-bottom: 10px;
        }

        #{$root}__content {
            display: block;
        }
    }

    &--search-filters {
        border-top: 0;
        border-bottom: 1px solid $color--grey-accessible;
        padding: 5px 0;
        margin-bottom: 10px;

        #{$root}__title {
            @include font-size(s);
            display: block;
            font-weight: $weight--normal;
            margin-bottom: 5px;
            margin-top: 3px;
            position: relative;
        }
    }

    &--detail {
        border: 0;
        padding: 10px 0;

        &:last-child {
            border-bottom: 0;
        }

        #{$root}__icon {
            height: 30px;
            margin-right: $grid--min;
            stroke-width: 4;
            width: 15px;
            margin-top: 0;
        }

        #{$root}__title {
            @include font-size(s);
            font-weight: $weight--normal;
            margin-top: 2px; // offset for bottom border & icon alignment
        }

        #{$root}__button {
            text-decoration: underline;

            &:focus {
                text-decoration: none;
            }
        }

        #{$root}__content {
            border-left: 4px solid $color--grey-border;
            margin-bottom: 0;
            margin-left: 5px;
            padding: 10px 15px 10px 16px;
            margin-top: 10px;
        }
    }

    &__button {
        display: flex;
        border-bottom: 4px solid transparent;
        align-items: flex-start;
        transition: color 0.2s ease;
        text-decoration: none;
        margin-bottom: -4px; // offset bottom border to avoid browser 'jump' on focus
        text-align: left;

        #{$hover-states} {
            cursor: pointer;

            #{$root}__icon {
                stroke: $color--link-hover;
            }

            #{$root}__button {
                color: $color--link-hover;
            }
        }

        &:focus {
            background-color: $color--mustard;
            border-color: $color--off-black;
            color: $color--off-black;
            outline: 0; // focus style implemented directly on text instead
        }

        &--search-filters {
            @include font-size(s);
            flex-wrap: wrap;
            font-weight: $weight--normal;
            left: 1px;
            position: relative;
            color: $color--charcoal;
            align-items: center;

            #{$hover-states} {
                cursor: pointer;
                color: lighten($color--charcoal, 20%);

                #{$root}__icon {
                    stroke: lighten($color--charcoal, 20%);
                }
            }
        }
    }

    &__header {
        @include font-size(l);
        @include heading-text();
        color: $color--lake;
        line-height: 1.3;
        margin: 0;
        padding: 0;
    }

    &__title {
        border-bottom: 4px solid transparent;
        margin: 5px 0 0; // offset for bottom border & icon alignment
        padding: 0;
    }

    &__button--area-search {
        border-top: 1px solid $color--grey-border;
        color: $color--river;
        padding-top: $grid--small;
        position: relative;
    }

    &__icon {
        height: 35px;
        margin-right: $grid--small;
        transition: transform, stroke, 0.2s ease;
        stroke: $color--lake;
        stroke-width: 4;
        transform: rotate(-90deg);
        width: 17px;
        flex-grow: 0;
        flex-shrink: 0;
        margin-top: 2px; // compensates for line-height to visually line up with first line of text better

        #{$root}__button:focus & {
            stroke: $color--off-black;
        }

        &--search-filter {
            stroke: $color--charcoal;
            stroke-width: 3;
            width: 18px;
            height: 20px;
            margin-bottom: 5px;
            margin-right: 8px;
        }
    }

    &__icon--area-search {
        stroke: $color--river;
        width: 20px;
        margin-left: 8px;
    }

    &__content {
        display: none;
        margin-bottom: 10px;
        margin-left: 20px + 17px; // icon's right margin + icon width
        margin-top: 15px;

        &--search-filters {
            margin-bottom: 0;
            margin-left: 0;
        }

        .rich-text {
            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__content--area-link {
        margin-left: 0;
    }
}
