.accordion {
    $root: &;
    margin-bottom: $grid--min;

    &.is-open {
        #{$root}__icon {
            transform: rotate(180deg);
        }

        #{$root}__content {
            display: block;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: color 0.2s ease;
        color: $color--default;

        #{$hover-states} {
            cursor: pointer;

            #{$root}__icon {
                stroke: $color--link-hover;
            }

            #{$root}__title {
                color: $color--link-hover;
            }
        }

        h3 {
            @include font-size(s);
            font-weight: $weight--normal;
            margin: 0;
            padding: 5px 0;
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
        margin-left: 20px;
        transition: transform, stroke, 0.2s ease;
        stroke: $color--default;
    }

    &__content {
        display: none;
    }
}
