.activities-listing {
    background-color: $color--earth-light;
    padding: 30px 0;
    position: relative;

    @include media-query(tablet-landscape) {
        &::after {
            content: '';
            background-color: $color--earth-light;
            position: absolute;
            z-index: -1;
            width: 162px;
            top: 0;
            bottom: 0;
            right: 0;
            transform: translateX(100%);
        }
    }

    &__heading {
        margin: 0 0 30px;
    }

    &__inner {
        margin: 0 auto;
        padding-right: $grid--small;
        padding-left: $grid--small;

        @include media-query(tablet-portrait) {
            padding-right: $grid--large;
            padding-left: $grid--large;
        }

        @include media-query(tablet-landscape) {
            padding: 0;
            max-width: $wrapper--small;
        }
    }

    &__item {
        background-color: $color--white;
        padding: 25px 20px;

        & + & {
            margin-top: 20px;
        }
    }

    &__item-heading {
        margin-top: 0;
    }

    &__tag {
        display: inline-block;
        position: relative;
        padding: 0 5px;
        margin: 0 5px;

        &::after {
            content: '•';
            position: absolute;
            right: -0.6em;
            top: 0;
        }

        &:first-of-type {
            margin-left: -3px;
        }

        &:last-of-type::after {
            content: '';
        }

        &--highlight {
            padding: 2px 5px;
            background-color: $color--mustard-10;
            margin-right: 0;
            font-weight: $weight--bold;

            &::after {
                content: '';
            }
        }
    }
}
