.alert {
    $root: &;

    &__alpha {
        display: block;
        background: $color--primary;
        color: $color--white;
        text-transform: uppercase;
        font-weight: $weight--bold;
        padding: 2px 12px 0;
        margin-right: $grid--min;
    }

    &__inner {
        display: flex;
        align-items: baseline;
    }

    &--message {
        background: $color--white;
        border: 4px solid $color--orange;
        color: $color--default;
        padding: $grid / 2;
        margin: $grid--small 0 0 0;

        * {
            margin-bottom: 0;
        }
    }

    &--condensed {
        #{$root}__header,
        #{$root}__content {
            display: inline;
        }

        #{$root}__header {
            @include font-size(s);
        }

        #{$root}__link {
            display: block;
            margin-top: $grid--min;
        }
    }

    &--panel {
        border: 8px solid $color--leaf;
        margin-bottom: $grid;
        padding: $grid $grid / 2;
        text-align: center;

        #{$root}__title {
            @include font-size(xxl);
            font-weight: $weight--bold;
            line-height: 1.2;
            margin-bottom: $grid--min;
        }

        #{$root}__body {
            @include font-size(xl);
            line-height: 1.25;
        }
    }

    &__ref {
        @include font-size(xl);
        display: block;
        line-height: 1.25;
        font-weight: $weight--bold;
    }

    &--banner {
        @include font-size(xxs);
        background: $color--grey-light;
        padding: $grid--min 0;

        a {
            color: $color--charcoal;
            font-weight: $weight--bold;

            #{$hover-states} {
                color: $color--link-hover;
            }

            &:active {
                color: $color--link-active;
            }
        }
    }
}
