.alert {
    $root: &;

    &__alpha {
        display: block;
        background: $color--primary;
        color: $color--white;
        text-transform: uppercase;
        font-weight: $weight--bold;
        padding: 2px 12px 0;
        margin-right: $grid--min;
    }

    &__inner {
        display: flex;
        align-items: baseline;
    }

    &--message {
        background: $color--white;
        border: 4px solid $color--orange;
        color: $color--default;
        padding: $grid / 2;
        margin: $grid--small 0 0 0;

        * {
            margin-bottom: 0;
        }
    }

    &--banner {
        @include font-size(xxs);
        background: $color--grey-light;
        padding: $grid--min 0;

        a {
            color: $color--charcoal;
            font-weight: $weight--bold;

            #{$hover-states} {
                color: $color--link-hover;
            }

            &:active {
                color: $color--link-active;
            }
        }
    }
}
