// note that .apply is a body class that has to namespace all the other third party
// classnames in case of clashes with our naming system
.apply {
    // because of potential shared classnames for outer template elements (e.g row), we have a further level of nesting here
    .application-content {
        position: relative; // allows positioning of save progress button at the bottom of the form

        // reset from clashing namespace
        .grid {
            display: block;
            margin: 0;
        }

        // save progress button - moved to the bottom
        .lumesse-apply-save-app-container {
            position: absolute;
            bottom: 0;
            right: 0;
        }

        // edit button - follows example vendor styles
        .lumesse-apply-save-app-edit-disabled
            > .lumesse-apply-save-app-edit-button {
            display: none;
        }

        // row styling
        .row {
            display: flex;
            justify-content: space-between;
        }
    }

    // header styles
    .apply-application-title-header {
        @include font-size(l);
        display: block;
        color: $color--grey-medium;
    }

    .apply-application-title-content,
    .lumesse-apply-resume-application-header {
        // mirrors heading heading--xxl
        @include font-size(xl);
        font-weight: $weight--bold;
        margin-bottom: $grid;

        @include media-query(mob-landscape) {
            @include font-size(xxl);
        }
    }

    // options at the top to re-use previous appliation
    // info-box style
    .well {
        display: block;
        margin: $grid 0;
        padding: $grid--small;
        background: $color--grey-light;
        border-left: $border--accent $color--primary;
    }

    // previous application / import buttons
    .awli-buttons-wrapper {
        display: flex;
        justify-content: space-between;
    }

    // initially hide 'how it works' text
    .apply-sna-description {
        display: none;
    }

    // how it works text
    .apply-sna-show-description-button {
        color: $color--link;
        text-decoration: underline;
        font-weight: $weight--bold;
    }

    // various input styles
    .textarea,
    .select-input,
    .form-control,
    .text-input {
        @include font-size(m);
        border-radius: 0;
        padding: $grid--min;
        border: 2px solid $color--slate;
        color: $color--slate;
        margin-top: $grid--min;
        max-width: 300px;

        &:focus {
            outline: none;
            box-shadow: 0 0 0 3px $color--mustard;
        }
    }

    .select-input,
    .form-control,
    .text-input {
        width: 100%;
        height: 40px;
    }

    .textarea {
        width: 100%;
        max-width: 540px;
        height: 230px;
    }

    .select-input,
    .form-control {
        @include font-size(s);
        height: 40px;
    }

    input[type='radio'] {
        appearance: none;
        width: 30px;
        height: 30px;
        border: 2px solid $color--black;
        border-radius: 50%;
        margin: 0 $grid--min 0 0;

        /* stylelint-disable selector-max-specificity */
        &:checked {
            // background-color: $color--black;
            // background-size: 30%;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7' cy='7' r='7'/%3E%3C/svg%3E");
            background-size: 12px 12px;
            background-repeat: no-repeat;
            background-position: center;
        }
        /* stylelint-enable selector-max-specificity */
    }

    // radio labels (radio buttons nested inside)
    .radio-inline {
        display: flex;
        margin-top: $grid--min;
        align-items: center;
    }

    // Button styling
    // file upload / remove button
    // Most buttons have the btn-primary class. using the secondary button style
    // which file upload buttons need as the default, as they have no other useful identifier
    .btn-primary,
    .apply-remove-button {
        @include button(
            $color--grey-accessible,
            $color--grey-accessible,
            $color--grey-light
        );

        &:focus {
            outline: none;
            box-shadow: 0 0 0 3px $color--mustard;
        }
    }

    // other file upload bits
    .apply-attached-document-component {
        .row {
            display: block;
        }
    }

    .filename-txt {
        display: none;
    }

    .apply-fileitem-container {
        display: flex;
        align-items: center;
    }

    .apply-filename-container {
        order: 1;
        color: $color--grey-accessible;
    }

    .apply-filename-block {
        margin-left: $grid--min;
    }

    // submit button (has to override styles for file upload)
    .lumesse-apply-widget-submit {
        .btn-primary {
            @include button(
                $color--slate,
                darken($color--leaf, 25%),
                $color--leaf
            );
        }
    }

    // save and edit buttons (have to override styles for file upload)
    .lumesse-apply-save-app-save-button,
    .lumesse-apply-save-app-edit-button {
        @include button($color--slate, darken($color--leaf, 25%), $color--leaf);
    }

    // save progress button in modal (has to override styles for file upload)
    // get access code button in modal (ditto)
    // reuse button
    // import data from cv button
    .save-progress-btn,
    .my-prev-app-submit-btn,
    .reuse-button,
    .apply-cv-button {
        @include button($color--slate, darken($color--leaf, 25%), $color--leaf);
    }

    // hide 'ready to be sent' text
    .lumesse-apply-ready {
        display: none;
    }

    // fieldset / form section
    .lum-apply-section {
        border-top: 1px solid $color--grey-accessible;
        padding-top: $grid--small;
        padding-bottom: $grid;

        h2 {
            @include font-size(l);
            font-weight: $weight--bold;
            color: $color--link;
        }
    }

    .apply-form {
        // duplicates the h2
        .form-legend {
            display: none;
        }
    }

    // info box style
    .apply-no-answer {
        display: block;
        background: $color--grey-light;
        margin: $grid 0;
        padding: $grid--small;
        border-left: $border--accent $color--primary;
    }

    .form-group {
        margin-top: $grid--small;
    }

    // other labels
    .control-label {
        @include font-size(s);
        font-family: $font--primary;
        color: $color--slate;
        position: relative;

        .apply-required {
            /* stylelint-disable selector-max-specificity */
            &::before {
                @include font-size(xl);
                line-height: 28px;
                content: '*';
                color: $color--purple;
                position: absolute;
                left: -0.75em;
                top: 0;
            }
            /* stylelint-enable selector-max-specificity */
        }
    }

    // countries drop down - sits alongside phone number box
    .country-code {
        margin-right: $grid;
    }

    // help text - overrides inline style
    /* stylelint-disable declaration-no-important  */
    .apply-description-list {
        @include font-size(s);
        display: block !important;
        color: $color--grey-accessible;
    }
    /* stylelint-enable declaration-no-important  */

    // error messages
    .alert__fields {
        background: $color--grey-light;
        margin: $grid 0;
        padding: $grid--small;
        border-left: $border--accent $color--red;

        li {
            margin-bottom: $grid--min;
        }

        a {
            color: $color--red;
        }
    }

    // modal
    .confirm-dialog-container {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
        z-index: 200;
    }

    // overrding inline styles
    /* stylelint-disable declaration-no-important  */
    .ui-dialog {
        background-color: $color--white;
        position: relative;
        top: 50% !important;
        transform: translateY(50%);
        width: 90% !important;
        margin: 0 auto;
        padding: $grid;

        @include media-query(tablet-portrait) {
            width: 56% !important;
            max-width: 800px;
        }
    }
    /* stylelint-enable declaration-no-important  */

    .ui-dialog-title {
        // equivalent of heading--m
        @include font-size(m);
        margin-bottom: 5px;
        display: block;
        font-weight: $weight--bold;
    }

    // close button
    .ui-button-text {
        position: absolute;
        display: inline-block;
        top: $grid;
        right: $grid;
        z-index: 2;
    }
}
