.area-search {
    padding-bottom: 0;
    background: $color--grey-light;

    &__response-text {
        @include font-size(s);
        margin-top: 5px;

        div {
            margin: 20px 0;
        }

        &--error {
            color: $color--red;
            font-weight: $weight--semibold;
        }

        &--success {
            .area-links--lockdown & {
                margin-bottom: $grid;
            }
        }
    }

    &__input-wrapper {
        display: block;
    }

    &__heading {
        @include font-size(s);
    }

    &__title {
        @include font-size(s);
    }

    &__info {
        @include font-size(xs);
        color: $color--grey-accessible;
    }

    &__more-info {
        @include font-size(s);
        margin: 20px 0;
    }

    &__more-info-button {
        color: $color--river;
        border-bottom: 2px solid $color--river;
    }

    &__local-links {
        @include font-size(s);

        a {
            color: $color--river;
            font-weight: $weight--bold;
        }

        .icon--list-style-arrow {
            width: 20px;
            margin: 0 10px;
        }
    }

    &__button--change-postcode {
        margin-top: 0;
        margin-left: 20px;
        color: $color--river;
        border-bottom: 2px solid $color--river;
    }

    &__response-select-wrapper {
        position: relative;
        width: fit-content;

        &::before,
        &::after {
            color: $color--charcoal;
            padding: 0 0 2px;
            position: absolute;
            pointer-events: none;
            right: 10px;
            transform: scale(0.8);
        }

        &::before {
            content: '\25B2';
        }

        &::after {
            content: '\25BC';
            bottom: 0;
        }

        .form & {
            select {
                appearance: none;
                padding-right: 40px;
            }
        }
    }
}
