.back-to-contents {
    $root: &;

    align-items: center;
    display: inline-flex;
    text-decoration: none;

    #{$root}__icon {
        height: 14px;
        margin: 0 5px 5px 0;
        transform: rotate(-90deg);
        width: 16px;
    }

    &__text {
        text-decoration: underline;
    }

    @include media-query(tablet-landscape) {
        .longform-navigation & {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
