.blog-page {
    &__title {
        color: $color--slate;
        border-top: 1px solid $color--charcoal-50;
        padding-top: $grid--small;

        &--search {
            margin-bottom: $grid--medium;
            padding-bottom: $grid--medium;
            border-bottom: 2px solid $color--charcoal-50;
        }
    }

    &__meta {
        color: $color--slate;
    }

    &__content {
        margin-bottom: $grid--large * 4;
        padding-bottom: $grid--large * 2;
        border-bottom: 2px solid $color--charcoal-50;
    }
}
