.blog-page {
    &__title {
        color: $color--slate;
        border-top: 1px solid $color--charcoal-50;
        padding-top: $grid--small;

        &--search {
            padding: $grid--medium 0;
            border-top: 2px solid $color--charcoal-50;
        }
    }

    &__meta {
        color: $color--slate;
    }

    &__content {
        padding-bottom: $grid--large;
        border-bottom: 2px solid $color--charcoal-50;
    }
}
