.blog-page {
    &__title {
        color: $color--slate;

        &--search {
            margin-bottom: $grid--medium;
            padding-bottom: $grid--medium;
            border-bottom: 2px solid $color--charcoal-50;
        }
    }

    &__meta {
        color: $color--slate;
    }

    &__content {
        margin-bottom: $grid--large * 4;
        padding-bottom: $grid--large * 2;
        border-bottom: 2px solid $color--charcoal-50;

        &,
        p,
        h2,
        h3 {
            color: $color--slate;
        }
    }
}
