.blog-hero {
    padding: $grid--large 0 0;
    &__title {
        color: $color--slate;
        margin-bottom: 0;

        a {
            color: $color--slate;
        }

        span {
            @include font-size(m);
            display: block;
            color: $color--charcoal-75;
            font-weight: $weight--normal;
            margin-bottom: $grid--small / 4;
        }
    }

    &__form {
        display: flex;
        align-self: self-start;
    }
}
