.quote {
    @include font-size(l);
    padding: $grid $grid--small;
    margin: $grid 0;
    background: $color--earth-light;
    border-bottom: $border--accent $color--earth;

    &__attribution {
        @include font-size(s);
        margin-top: $grid--small;
        font-style: normal;
        text-align: right;
    }
}
