.blog-hero {
    padding: $grid--large 0 0;
    &__title {
        color: $color--slate;

        a {
            color: $color--slate;
        }
    }

    &__form {
        display: flex;
        align-self: self-start;
    }
}
