.breadcrumb {
    width: 100%;
    margin: $grid 0;
    grid-area: breadcrumbs;

    @include media-query(tablet-portrait) {
        margin: $grid 0 $grid--large;
    }

    &--jobs {
        margin: 0;
        padding: $grid 0;

        @include media-query(tablet-portrait) {
            margin: 0;
            padding: $grid 0 $grid--large;
        }
    }

    &__item {
        display: inline-block;
        width: auto;
        vertical-align: middle;

        &::after {
            content: '/';
            color: $color--earth;
            display: inline-block;
            margin: 0 8px;
            vertical-align: middle;
        }

        &:last-child {
            &::after {
                display: none;
            }
        }
    }

    &__link {
        color: $color--link;

        &--current {
            text-decoration: none;
        }

        #{$hover-states} {
            color: $color--link-hover;
        }

        &:active {
            color: $color--link-active;
        }
    }
}
