.button {
    $root: &;
    @include font-size(s);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: $color--link;
    color: $color--white;
    font-weight: $weight--bold;
    min-height: 50px;
    padding: 0 $grid--small;
    transition: background $transition;

    #{$hover-states} {
        background: $color--link-hover;
    }

    &:active {
        background: $color--link-active;
    }

    &__icon {
        fill: $color--white;
        width: 30px;
        height: 30px;
        transition: fill $transition;
    }

    &--subscribe {
        background: $color--lake;
        border: 2px solid $color--white;
        width: 100%;

        @include media-query(mob-landscape) {
            width: auto;
        }

        @include media-query(tablet-portrait) {
            min-width: 195px;
        }
    }

    &--search {
        min-height: 40px;
    }

    &--header {
        background: $color--charcoal;
        padding: 0 15px;

        &:active {
            background: darken($color--sky, 5%);
        }

        #{$root}__icon {
            width: 28px;
            height: 28px;
        }
    }
}
