.button {
    $root: &;
    @include font-size(s);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: $color--link;
    color: $color--white;
    font-weight: $weight--bold;
    min-height: $grid--medium;
    padding: $grid--min / 2 $grid--small;

    #{$hover-states} {
        background-color: $color--link-hover;
        cursor: pointer;
    }

    &:active {
        background-color: $color--link-active;
    }

    &--subscribe {
        background-color: $color--river;
        border: 2px solid $color--white;
        width: 100%;
        text-decoration: none;

        #{$hover-states} {
            background-color: $color--white;
            color: $color--river;
            cursor: pointer;
        }

        &:active {
            background-color: $color--mustard;
            border-color: $color--charcoal;
            color: $color--charcoal;
        }

        @include media-query(mob-landscape) {
            width: auto;
        }

        @include media-query(tablet-portrait) {
            min-width: 195px;
        }

        #{$root}__icon {
            width: 28px;
            height: 28px;
            fill: transparent;
            stroke: $color--white;
            transition: stroke $transition;
        }
    }

    &--search {
        min-height: 40px;
    }

    &--blog-search {
        width: 58px;
    }

    &--header {
        background-color: $color--charcoal;
        padding: 0 15px;

        &:active {
            background: darken($color--sky, 5%);
        }

        #{$root}__icon {
            width: 24px;
            height: 24px;
        }
    }

    &--apply,
    &--basic {
        @include button($color--slate, $color--leaf, $color--leaf);
    }

    &--area-search {
        display: flex;
        min-height: 40px;
        background: $color--leaf;
        text-decoration: none;
        font-weight: $weight--bold;
        color: $color--slate;
        transition: background $transition;
        margin-top: 25px;
        max-width: 400px;
    }

    &--link {
        margin-top: 20px;
        font-weight: $weight--normal;
        /* stylelint-disable */
        background: none !important;
        padding: 0 !important;
        /* stylelint-enable */
        border: none;
        color: $color--river;
        text-decoration: underline;
        cursor: pointer;
    }

    &--no-underline {
        text-decoration: none;
        &:hover,
        &:focus {
            color: $color--white;
        }
    }

    &--skeleton {
        background: none;
        text-decoration: none;
        color: $color--link;
        border: 2px solid $color--link;
        &:hover {
            background: none;
            border-color: $color--link-hover;
            color: $color--link-hover;
        }
        &:focus {
            background: none;
        }
    }
}
