.button {
    $root: &;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &__icon {
        fill: $color--white;
        width: 24px;
        height: 24px;
        transition: fill $transition;
    }

    &--search {
        padding: ($grid--small / 2) $grid--small;
        background: $color--link;
        transition: background $transition;

        #{$hover-states} {
            background: $color--link-hover;
        }

        &:active {
            background: $color--link-active;
        }
    }

    &--header {
        background: $color--charcoal;

        #{$hover-states} {
            background: lighten($color--charcoal, 25%);
        }

        &:active {
            background: lighten($color--charcoal, 15%);
        }

        #{$root}__icon {
            width: 20px;
            height: 20px;
        }
    }
}
