.card {
    $root: &;
    padding: $grid--small;
    background-color: $color--earth-light;
    transition: background-color $transition, border-color $transition;
    border-bottom: 5px solid $color--lake;
    text-decoration: none;

    &__title {
        text-decoration: underline;
        transition: color $transition;
    }

    &__summary {
        color: $color--default;
    }

    #{$hover-states} {
        border-color: $color--link-hover;
        background-color: darken($color--earth-light, 5%);

        #{$root}__title {
            color: $color--link;
        }
    }
}
