.categories {
    $root: &;
    margin-bottom: $grid--large * 2;

    &__card {
        background: $color--white;
        display: flex;
        border: 1px solid $color--light-blue;
        border-radius: 3px;
        padding: 15px;
        align-items: center;

        #{$hover-states} {
            #{$root} {
                &__category-title-label {
                    border-bottom: 1px solid $color--charcoal;
                }
            }
        }
    }

    &__category-title {
        @include font-size(s);
        color: $color--charcoal;
        margin: 0 0 5px;

        @include media-query(px550) {
            @include font-size(m);
            line-height: 28px;
        }
    }

    &__category-title-label {
        border-bottom: 1px solid transparent;
        transition: border $transition;
    }

    &__job-count {
        color: $color--slate;
        margin: 0;
    }

    &__all-vacancies-wrap {
        text-align: center;
    }

    &__all-vacancies-link {
        @include font-size(s);
        font-weight: $weight--bold;
        color: $color--river;
    }

    &__card-icon {
        width: 30px;
        height: 30px;
    }

    &__card-icon-wrap {
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        flex-shrink: 0;
    }

    &__icon-blob {
        color: $color--sky;
        opacity: 0.05;
        position: absolute;
    }

    @include target-ie11() {
        &__category-title,
        &__job-count {
            width: 100%;
        }
    }
}
