.chart-block {
    margin-bottom: $grid--large;
    padding: $grid--min;
    background-color: $color--charcoal-10;

    @include media-query(tablet-portrait) {
        padding: $grid--small;
    }

    &__wrapper {
        &--hidden {
            display: none;
        }
    }

    &__title {
        margin-top: 0;
    }

    // this div is used by Highcharts to display the chart
    &__chart {
        width: 100%;
        height: 400px;
        margin-top: $grid--small; // matches table spacing
    }

    &__table {
        margin-bottom: 0;
    }

    &__link {
        margin-top: 0; // override of button--link styling
    }

    &__caption {
        @include font-size(xs);
        display: block; // overrides the browser styling that positions the caption above the table
        font-weight: normal;
        margin-top: $grid--small;
    }
}
