.cookie {
    $root: &;
    position: relative;
    z-index: 13;
    display: none; // Doesn't display unless there isn't a cookie
    width: 100%;
    transition: transform $transition 0s;

    // Applied if cookie just added
    &.inactive {
        display: none;
    }

    &.active {
        display: block;
    }

    &__container {
        @include font-size(xs);
        padding: $grid 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        line-height: 1.3;
        color: $color--default;
        background-color: $color--white;

        @include media-query(tablet-landscape) {
            @include font-size(s);
        }
    }

    &__message {
        p {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &__button {
        margin-top: $grid--small;
    }
}
