.feedback-widget-wrapper {
    border-bottom: 10px solid $color--sky;
}

.feedback-widget {
    $root: &;
    background-color: $color--sky;
    margin: 1px 0;
    display: block;
    position: relative;
    width: 100%;
    border-bottom: 1px solid $color--white;
    padding: 25px;

    &.show-feedback-form {
        background-color: $color--white;
        border-top: 10px solid $color--sky;
        padding: 30px 0 25px;
    }

    &__content {
        color: $color--white;
        display: flex;
        align-items: center;

        .show-feedback-form & {
            display: none;
        }
    }

    &__heading {
        margin-bottom: 0;
    }

    &__buttons {
        display: none;

        .show-yes-no & {
            display: block;
        }
    }

    &__button-form {
        display: inline-block;
    }

    &__button {
        color: $color--white;
        line-height: 1.2;
        min-width: 100px;
        margin-left: 20px;
        padding: 9px 10px 6px;
        border: 1px solid $color--white;
        border-bottom-width: 3px;
    }

    &__feedback-block {
        display: none;
        position: relative;

        .show-feedback-form & {
            display: block;
        }
    }
}

.feedback-block {
    &__heading {
        margin-top: 0;
    }

    &__close {
        position: absolute;
        right: 0;
    }
}
