.ehcco-search {
    $root: &;
    border: 5px solid $color--river;

    &__container {
        padding: $grid--small;

        @include media-query(tablet-landscape) {
            padding: $grid;
        }
    }

    &__heading {
        color: $color--slate;
        margin-top: 0;
        margin-bottom: $grid--small;

        @include media-query(tablet-landscape) {
            margin-bottom: 0;
        }
    }

    &__label {
        @include font-size(s);
        display: block;
        color: $color--grey-accessible;
        margin: $grid--small 0;
    }

    &__result {
        border-left: 5px solid $color--river;
        padding-left: $grid;
    }
}
