.footer-links {
    width: 100%;

    &__item {
        display: inline-block;
        margin-bottom: $grid--min;
        margin-right: $grid--small;
        vertical-align: middle;

        @include media-query(tablet-portrait) {
            margin-right: $grid;
            margin-bottom: 0;
        }
    }

    &__link {
        color: $color--white;
        text-decoration: underline;

        #{$hover-states} {
            color: $color--grey-medium;
        }
    }
}
