.form-item {
    $root: &;
    margin-bottom: 20px;

    &--errors {
        padding: 20px;
        margin-bottom: 20px;
        border: 1px dotted $color--red;
    }

    &--inline {
        @include media-query(tablet-portrait) {
            display: inline-block;
            vertical-align: middle;
        }
    }

    // stylelint-disable-next-line selector-class-pattern
    &--checkbox_input {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        label {
            order: 2;
            margin-bottom: 0;
            font-weight: normal;
        }

        input {
            order: 1;
        }

        #{$root}__help {
            flex-basis: 100%;
            order: 3;
        }
    }

    // stylelint-disable-next-line selector-class-pattern
    &--radio_select {
        label {
            @include font-size(s);
            display: block;
            margin: $grid--min 0;
        }

        li {
            label {
                padding-left: 44px;
            }

            #{$root}__conditional-fields {
                label {
                    padding-left: 0;
                }

                input {
                    margin: 0 $grid--min 0 0;
                }
            }
        }

        input {
            appearance: none;
            display: inline-block;
            width: 30px;
            height: 30px;
            border: 2px solid $color--black;
            border-radius: 50%;
            margin: 0 $grid--min 0 -44px;
            background-color: $color--white;
            vertical-align: middle;

            // stylelint-disable-next-line selector-class-pattern
            &:checked {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7' cy='7' r='7'/%3E%3C/svg%3E");
                background-size: 12px 12px;
                background-repeat: no-repeat;
                background-position: center;
            }

            // stylelint-disable-next-line selector-class-pattern
            &:focus {
                @include focus();
            }
        }
    }

    /* stylelint-disable selector-class-pattern */
    &--custom_checkbox_select_multiple,
    &--custom_checkbox_select_single {
        // custom checkbox styles
        input[type='checkbox'] {
            opacity: 0;
            margin: 0 0 $grid--min 0;
            position: absolute;

            // slight adjustments for job search filter form
            .search-filters__fieldset & {
                + label {
                    @include font-size(xs);
                    padding: 0 0 0 35px;
                }

                + label::before {
                    height: 25px;
                    width: 25px;
                }

                + label::after {
                    content: '';
                    left: 9px;
                    top: 5px;
                    width: 7px;
                    height: 14px;
                    border-width: 0 3px 3px 0;
                }
            }

            + label {
                @include font-size(s);
                padding: 0 0 0 $grid--medium;
                margin: 0;
                line-height: 1.8;
                position: relative;

                // surrounding box
                &::before {
                    content: '';
                    border: 2px solid $color--default;
                    background-color: $color--white;
                    color: $color--default;
                    height: 30px;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 30px;
                }

                // inside checkbox
                &::after {
                    content: '';
                    left: 10px;
                    top: 5px;
                    width: 9px;
                    height: 17px;
                    border: solid $color--default;
                    border-width: 0 4px 4px 0;
                    position: absolute;
                    opacity: 0;
                    transform: rotate(45deg);
                }
            }

            &:checked + label::before {
                background-color: $color--white;
            }

            &:checked + label::after {
                opacity: 1;
            }

            // keep focus styles
            &:focus + label::before {
                outline: 0;
                box-shadow: 0 0 0 4px $color--mustard;
            }
        }
    }
    /* stylelint-enable */

    // stylelint-disable-next-line selector-class-pattern
    &--hidden_input {
        display: none;
    }

    // stylelint-disable-next-line selector-class-pattern
    &--re_captcha {
        .required {
            display: none;
        }
    }

    &__required {
        color: $color--red;
    }

    &__label {
        @include font-size(s);
        display: block;
        margin-bottom: 5px;
    }

    &__errors {
        @include font-size(s);
        margin-bottom: 10px;
        font-weight: bold;
        color: $color--red;
        position: relative;
    }

    &__help {
        @include font-size(s);
        margin-top: 5px;
        color: $color--charcoal-75;
    }

    textarea {
        height: 200px;
    }

    input[type='checkbox'] {
        margin-right: 10px;
    }

    &__custom-select {
        position: relative;
        width: 100%;
        background-color: $color--white;

        &:active,
        &:focus {
            border-color: $color--primary;
        }

        // custom select box arrow
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            width: 50px;
            height: 7px;
            margin: auto 0;
            pointer-events: none;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'/%3E%3Cpath fill='none' d='M0 0h24v24H0V0z'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 24px 24px;
        }

        // custom select box arrow background
        &::before {
            content: '';
            position: absolute;
            top: 1px;
            right: 1px;
            z-index: 1;
            display: block;
            width: $grid--medium;
            height: ($grid--medium - 2px);
            pointer-events: none;
        }

        select {
            @include font-size(s);
            background-color: $color--white;
            height: $grid--medium;
            margin: 0;
            color: $color--default;
            cursor: pointer;
            outline: none;
            appearance: none;
            border-radius: 0;

            &:active,
            &:focus {
                border-color: $color--primary;
            }
        }
    }

    &__conditional-fields {
        border-left: 5px solid $color--grey-border;
        display: none;
        margin-bottom: 0;
        margin-left: 10px;
        padding: 10px $grid--small;
        margin-top: 10px;
        width: auto;

        .is-checked & {
            display: block;
        }
    }
}
