.form {
    $root: &;

    &__container {
        margin-bottom: 20px;
    }

    &__errors {
        @include font-size(s);
        padding: 20px;
        margin-bottom: 15px;
        color: $color--white;
        background-color: $color--tertiary;
    }

    input:not([type='checkbox']):not([type='submit']),
    textarea,
    select {
        @include font-size(s);
        border: 2px solid $color--off-black;
        border-radius: 0;
        padding: $grid--min;
        width: 100%;
        max-width: 540px;
        height: 45px;

        &:focus,
        &:focus-within {
            outline: 0;
            box-shadow: 0 0 0 4px $color--mustard;
        }
    }

    // radio button styling
    input[type='radio'] {
        appearance: none;
        width: 30px;
        height: 30px;
        border: 2px solid $color--black;
        border-radius: 50%;
        margin: 0 $grid--min 0 0;
        background-color: $color--white;

        &:checked {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7' cy='7' r='7'/%3E%3C/svg%3E");
            background-size: 12px 12px;
            background-repeat: no-repeat;
            background-position: center;
        }

        &:focus {
            @include focus();
        }
    }

    &--subscribe {
        max-width: 760px;

        @include media-query(mob-landscape) {
            display: flex;
        }

        input {
            border: 0;
            margin-bottom: $grid--small;

            @include media-query(mob-landscape) {
                margin-bottom: 0;
                margin-right: $grid--small;
            }
        }
    }

    &--search {
        display: flex;
        margin-bottom: $grid;

        @include media-query(tablet-portrait) {
            margin-bottom: $grid--large;
        }

        input {
            border-right: 0;
            max-width: 100%;
        }
    }

    &--header-search {
        display: flex;
        justify-content: flex-end;

        input {
            border: 0;

            @include media-query(tablet-portrait) {
                width: 390px;
            }
        }
    }

    &--hero-search {
        display: flex;
        margin-bottom: $grid;

        input {
            border: 0;

            @include media-query(tablet-portrait) {
                width: 100%;
            }
        }
    }

    &--jobs-hero {
        margin-bottom: 15px;

        input:not([type='checkbox']):not([type='submit']) {
            border: 0;
        }
    }
}
