.form {
    $root: &;

    &__container {
        margin-bottom: 20px;
    }

    &__errors {
        @include font-size(s);
        padding: 20px;
        margin-bottom: 15px;
        color: $color--white;
        background-color: $color--tertiary;
    }

    &__submit {
        @include button($color--slate, $color--leaf, $color--leaf);

        &[disabled] {
            @include button(
                $color--grey-medium,
                $color--grey-light,
                $color--grey-light
            );
        }
    }

    input[type='text'],
    input[type='number'],
    input[type='email'],
    input[type='url'],
    textarea,
    select {
        @include font-size(s);
        border: 2px solid $color--off-black;
        border-radius: 0;
        padding: $grid--min / 2 $grid--min;
        width: 100%;
        max-width: 540px;
        min-height: $grid--medium;

        &:focus,
        &:focus-within {
            outline: 0;
            box-shadow: 0 0 0 4px $color--mustard;
        }
    }

    &--subscribe {
        max-width: 760px;

        @include media-query(mob-landscape) {
            display: flex;
        }

        input {
            border: 0;
            margin-bottom: $grid--small;

            @include media-query(mob-landscape) {
                margin-bottom: 0;
                margin-right: $grid--small;
            }
        }
    }

    &--search {
        display: flex;
        margin-bottom: $grid;

        @include media-query(tablet-portrait) {
            margin-bottom: $grid--large;
        }

        input {
            border-right: 0;
            max-width: 100%;
        }
    }

    &--header-search {
        display: flex;
        justify-content: flex-end;

        input[type='text'] {
            border: 0;

            @include media-query(tablet-portrait) {
                width: 390px;
            }
        }
    }

    &--hero-search {
        display: flex;
        margin-bottom: $grid;

        input[type='text'] {
            border: 0;

            @include media-query(tablet-portrait) {
                width: 100%;
            }
        }
    }

    &--jobs-hero {
        margin-bottom: 15px;

        input[type='text'] {
            border: 0;

            // change colour to match bg and 'hide' placeholder on mobile, to avoid being cut off & unreadable
            &::placeholder {
                color: $color--white;

                @include media-query(mob-landscape) {
                    color: $color--default;
                }
            }
        }
    }

    &--job-alerts {
        margin-bottom: $grid;

        label {
            margin-bottom: 5px;
        }

        label,
        input {
            display: block;
        }

        input[type='submit'] {
            max-width: 250px;
        }
    }

    &--area-search {
        input[type='text'] {
            margin-top: 20px;
            width: 100%;
            max-width: 220px;
        }
    }

    &--area-search-error {
        input[type='text'] {
            border: $border--error;
        }
    }
}
