.form-item {
    $root: &;
    margin-bottom: 20px;

    &--errors {
        padding: 20px;
        margin-bottom: 20px;
        border: 1px dotted $color--red;
    }

    // stylelint-disable-next-line selector-class-pattern
    &--checkbox_input {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        label {
            order: 2;
            margin-bottom: 0;
            font-weight: normal;
        }

        input {
            order: 1;
        }

        #{$root}__help {
            flex-basis: 100%;
            order: 3;
        }
    }

    // stylelint-disable-next-line selector-class-pattern
    &--radio_select {
        label {
            display: block;
            margin: $grid--min 0;
        }

        input {
            appearance: none;
            display: inline-block;
            width: 30px;
            height: 30px;
            border: 2px solid $color--black;
            border-radius: 50%;
            margin: 0 $grid--min 0 0;
            background-color: $color--white;
            vertical-align: middle;

            // stylelint-disable-next-line selector-class-pattern
            &:checked {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7' cy='7' r='7'/%3E%3C/svg%3E");
                background-size: 12px 12px;
                background-repeat: no-repeat;
                background-position: center;
            }

            // stylelint-disable-next-line selector-class-pattern
            &:focus {
                @include focus();
            }
        }
    }

    /* stylelint-disable selector-class-pattern */
    &--custom_checkbox_select_multiple,
    &--custom_checkbox_select_single {
        // custom checkbox styles
        input[type='checkbox'] {
            opacity: 0;
            margin: 0 0 $grid--min 0;
            position: absolute;

            + label {
                @include font-size(s);
                padding: 0 0 0 $grid--medium;
                margin: 0;
                line-height: 1.8;
                position: relative;

                // surrounding box
                &::before {
                    content: '';
                    border: 2px solid $color--default;
                    background-color: $color--white;
                    color: $color--default;
                    height: 30px;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 30px;
                }

                // inside checkbox
                &::after {
                    content: '';
                    left: 10px;
                    top: 5px;
                    width: 9px;
                    height: 17px;
                    border: solid $color--default;
                    border-width: 0 4px 4px 0;
                    position: absolute;
                    opacity: 0;
                    transform: rotate(45deg);
                }
            }

            &:checked + label::before {
                background-color: $color--white;
            }

            &:checked + label::after {
                opacity: 1;
            }

            // keep focus styles
            &:focus + label::before {
                outline: 0;
                box-shadow: 0 0 0 4px $color--mustard;
            }
        }
    }
    /* stylelint-enable */

    // stylelint-disable-next-line selector-class-pattern
    &--hidden_input {
        display: none;
    }

    // stylelint-disable-next-line selector-class-pattern
    &--re_captcha {
        .required {
            display: none;
        }
    }

    &__required {
        color: $color--red;
    }

    &__label {
        @include font-size(s);
        display: block;
        margin-bottom: 5px;
    }

    &__errors {
        @include font-size(s);
        margin-bottom: 10px;
        font-weight: bold;
        color: $color--red;
        position: relative;
    }

    &__help {
        @include font-size(s);
        margin-top: 5px;
        color: rgba($color--default, 0.6);
    }

    textarea {
        height: 200px;
    }

    input[type='checkbox'] {
        margin-right: 10px;
    }

    &__checkbox {
        @include hidden();

        + #{$root}__label {
            @include font-size(s);
            font-weight: normal;
        }

        &:checked {
            + #{$root}__label {
                #{$root}__dummy-checkbox::after {
                    opacity: 1;
                }
            }
        }

        &:focus {
            + #{$root}__label {
                #{$root}__dummy-checkbox {
                    box-shadow: 0 0 0 4px $color--grey-medium;
                }
            }
        }
    }

    &__dummy-checkbox {
        position: relative;
        display: inline-block;
        min-width: 25px;
        width: 25px;
        height: 25px;
        border: 2px solid $color--default;
        background: $color--white;
        margin-right: $grid--min;
        box-shadow: none;
        vertical-align: middle;

        &::after {
            content: '';
            border: solid $color--default;
            border-width: 0 3px 3px 0;
            height: 15px;
            left: 6px;
            opacity: 0;
            position: absolute;
            top: 1.5px;
            transition: opacity $transition;
            width: 8px;
            transform: rotate(45deg);
        }
    }
}
