.grid {
    display: grid;
    margin: $grid 0 $grid--large;
    grid-gap: $grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    > * {
        flex-basis: initial;
        margin: 0;
    }
}

@supports not (display: grid) {
    .grid {
        display: flex;
        flex-wrap: wrap;

        > * {
            flex-basis: calc(100% - 20px);
            margin: 10px;

            @media all and (min-width: 480px) {
                flex-basis: calc(50% - 20px);
            }

            @media all and (min-width: 1024px) {
                flex-basis: calc(33% - 20px);
            }
        }
    }
}
