.grid {
    display: grid;
    margin: $grid--large 0;
    grid-gap: $grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    > * {
        flex-basis: initial;
        margin: 0;
    }

    &--fis-home {
        margin-top: $grid--small;

        @include media-query(tablet-portrait) {
            margin-top: $grid;
        }
    }

    &--fis-index {
        margin-top: $grid;

        @include media-query(tablet-portrait) {
            margin-top: $grid--large;
        }
    }

    &--home {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

        @include media-query(tablet-portrait) {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
    }

    &--thirds {
        @include media-query(tablet-portrait) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-query(tablet-landscape) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @include target-ie11() {
        display: flex;
        flex-wrap: wrap;

        > * {
            flex-basis: calc(100% - 20px);
            margin: 10px;

            @media all and (min-width: 480px) {
                flex-basis: calc(50% - 20px);
            }

            @media all and (min-width: 1024px) {
                flex-basis: calc(33% - 20px);
            }
        }
    }

    // alternating two plus one then one plus two
    &--two-one-swap {
        @include media-query(tablet-portrait) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-query(tablet-landscape) {
            grid-template-columns: 2fr 1fr;
        }

        &:nth-child(even) {
            @include media-query(tablet-landscape) {
                grid-template-columns: 1fr 2fr;
            }

            > div:first-child {
                @include media-query(tablet-portrait) {
                    order: 2;
                }
            }
        }

        @include target-ie11() {
            > div:first-child {
                @media all and (min-width: 480px) {
                    flex-basis: calc(66% - 20px);
                }
            }

            > div:nth-child(2) {
                @media all and (min-width: 480px) {
                    flex-basis: calc(33% - 20px);
                }
            }
        }
    }
}
