.hero {
    $root: &;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: $grid 0;

    @include media-query(tablet-portrait) {
        padding: $grid--large 0;
    }

    &__strapline {
        color: $color--off-black;
        line-height: 1.2;
        margin-bottom: $grid;
        padding: $grid--small;
        background-color: $color--white;
        display: inline-block;
    }

    &__jobs-image {
        position: absolute;
        top: 0;
        right: 0;
        width: 500px;
        height: 500px;
        mask-image: url('../images/hero-blob.png');
        mask-repeat: no-repeat;
        mask-size: 100%;
        display: none;
        background-position: top right;
        background-repeat: no-repeat;
        background-size: contain;

        @include media-query(tablet-landscape) {
            display: block;
        }

        @include media-query(desktop) {
            width: 580px;
            right: -130px;
        }
    }

    &__search-link {
        @include font-size(s);
        text-decoration: none;
        font-weight: $weight--bold;
    }

    &__subtitle {
        @include font-size(s);
        margin-top: 0;
    }

    &__jobs-wrapper {
        position: relative;
        width: 100%;

        @include media-query(tablet-landscape) {
            max-width: $site-width;
            margin: 0 auto;
        }
    }

    &__jobs-content {
        padding: 50px 10px;
        text-align: center;

        @include media-query(tablet-landscape) {
            padding-left: 50px;
            padding-top: 115px;
            text-align: left;
        }

        @include media-query(desktop) {
            padding-left: 50px;
        }
    }

    &--with-alert {
        @include media-query(tablet-portrait) {
            padding-bottom: 60px;
        }
    }

    &--fis {
        background-color: $color--earth;
        // margin-bottom: $grid--large;

        #{$root} {
            &__heading {
                color: $color--white;
                margin-bottom: $grid;
                max-width: 600px;
            }

            &__strapline {
                @include font-size(m);
                display: none;
                line-height: 1.4;
                margin-top: 0;
                margin-bottom: $grid--small;
                background-color: transparent;
                color: $color--white;
                padding: 0;
                max-width: 530px;
            }

            @include media-query(tablet-portrait) {
                &__heading {
                    margin-bottom: 0;
                }

                &__strapline {
                    display: block;
                }
            }
        }
    }

    &--jobs {
        background-color: $color--earth;
        min-height: 330px;

        #{$root} {
            &__strapline {
                color: $color--default;
                line-height: 1.2;
            }
        }
    }

    &--jobs-home {
        background-color: $color--light-grey;
        text-align: center;
        padding: 0;

        @include media-query(tablet-portrait) {
            text-align: left;
        }

        @include media-query(tablet-landscape) {
            min-height: 500px;
        }

        #{$root}__strapline {
            color: $color--default;
            line-height: 1.2;
            max-width: 100%;
            text-align: center;
            margin-bottom: 15px;
            background-color: transparent;

            @include media-query(tablet-landscape) {
                @include font-size(xxxxl);
                max-width: 530px;
                text-align: left;
            }
        }
    }

    &--no-padding-top {
        padding-top: 0;
    }

    &--no-search {
        padding: ($grid--large * 2) 0;
    }

    &--404 {
        margin-bottom: $grid;
    }

    // Account for breadcrumb
    .template-jobs-index & {
        &__jobs-content {
            @include media-query(tablet-landscape) {
                padding-top: 85px;
            }
        }
    }
}
