.hero {
    $root: &;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: $grid 0;

    @include media-query(tablet-portrait) {
        padding: $grid--large 0;
    }

    &__strapline {
        color: $color--white;
        line-height: 1.2;
        max-width: 530px;
        margin-bottom: $grid;
    }

    &--with-alert {
        @include media-query(tablet-portrait) {
            padding-bottom: 60px;
        }
    }

    &--fis {
        background-color: $color--earth;
        margin-bottom: $grid--large;

        #{$root} {
            &__heading {
                color: $color--white;
                margin-bottom: $grid;
                max-width: 600px;
            }

            &__strapline {
                @include font-size(m);
                color: $color--white;
                display: none;
                line-height: 1.4;
                margin-top: 0;
                margin-bottom: $grid--small;
            }

            @include media-query(tablet-portrait) {
                &__heading {
                    margin-bottom: 0;
                }

                &__strapline {
                    display: block;
                }
            }
        }
    }

    &--jobs {
        background-color: $color--earth;
        margin-bottom: $grid--large;
        min-height: 330px;

        #{$root} {
            &__strapline {
                color: $color--default;
                line-height: 1.2;
            }
        }
    }

    &--no-padding-top {
        padding-top: 0;
    }

    &--no-search {
        padding: ($grid--large * 2) 0;
    }

    &--404 {
        margin-bottom: $grid;
    }
}
