.icon {
    $root: &;
    width: 22px;
    height: 22px;
    transition: fill $transition;
    fill: $color--link;

    &--white {
        fill: $color--white;
    }

    &--stroke {
        transition: stroke $transition;
        stroke: $color--link;
        fill: transparent;

        #{$root}--white {
            stroke: $color--white;
        }
    }

    &--footer-social {
        margin-right: 15px;
        fill: $color--white;

        #{$hover-states} {
            fill: $color--grey-medium;
        }
    }
}
