.icon {
    $root: &;
    width: 28px;
    height: 28px;
    transition: fill $transition;
    fill: $color--link;

    &--white {
        fill: $color--white;
    }

    &--stroke {
        transition: stroke $transition;
        stroke: $color--link;
        fill: transparent;

        &.icon--white {
            stroke: $color--white;
        }
    }

    &--header-social,
    &--footer-social {
        margin-right: 10px;
        fill: $color--white;
        height: 25px;
        width: 25px;

        #{$hover-states} {
            fill: $color--grey-medium;
        }
    }

    &--header-social {
        margin-right: 0;
    }

    &--blog-social {
        margin-right: 10px;
        height: 25px;
        width: 25px;
        border-radius: 50%;
    }
}
