.link-block {
    $root: &;
    line-height: 1.3;

    &__heading {
        @include font-size(m);
    }

    &__list-item {
        padding-left: 25px;
        margin-bottom: 5px;
        position: relative;

        &::before {
            content: '';
            width: 8px;
            height: 8px;
            background: $color--earth;
            border-radius: 100%;
            position: absolute;
            left: 0;
            top: 5px;
        }

        #{$root}--inlineindex & {
            margin: 15px 0;
        }
    }

    &__link {
        #{$root}--inlineindex & {
            font-weight: $weight--bold;
        }
    }
}
