.listing {
    margin: $grid--large 0;

    @include media-query(tablet-portrait) {
        margin: $grid--large 0 ($grid--large * 2);
    }

    &__item {
        margin-bottom: $grid;
        max-width: $wrapper--small;

        &--blog {
            margin-bottom: $grid--small;
        }
    }

    &__title {
        @include font-size(s);
        margin: 0;

        &--blog {
            color: $color--river;
            margin-top: $grid--small;
        }
    }

    &__summary {
        margin: 0;

        &--blog {
            @include font-size(s);
            color: $color--slate;
        }
    }

    &--blog {
        margin: 0;
    }
}
