.news-index {
    &__item {
        padding: $grid 0;
        border-top: $border--listing;
        display: flex;
        flex-direction: column;

        @include media-query(px550) {
            flex-direction: row;
        }
    }

    &__content {
        order: 1;
        max-width: 580px;

        @include media-query(px550) {
            order: 0;
        }
    }

    &__image {
        margin-bottom: $grid--small;

        @include media-query(px550) {
            flex-shrink: 0;
            margin-bottom: 0;
            margin-left: $grid;
        }

        img {
            width: 100%;
            height: auto;

            @include media-query(px550) {
                width: 290px;
            }
        }
    }

    &__date {
        @include font-size(xxs);
    }
}
