.paragraph-block {
    &__number {
        @include font-size(xxs);
        color: $color--grey-dark;
    }

    &__content {
        &:not(:first-child) {
            p:first-child {
                margin-top: 0;
            }
        }
    }
}
