.promo-404 {
    margin-top: 50px;
    margin-bottom: 50px;

    @include media-query(tablet-portrait) {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    &__title {
        @include font-size(xxl);
        font-weight: $weight--bold;
        line-height: 58px;
    }
}
