.promo-hero-content-wrapper {
    overflow: hidden;

    @include media-query(tablet-landscape) {
        overflow: visible;
    }
}

.promo-hero-content {
    // Escape parent
    position: relative;
    width: calc(100vw - 15px);
    transform: translateX(-50%);
    overflow-x: clip;
    display: grid;
    background-color: $color--promo-light-blue;
    overflow: hidden;
    padding: 20px 0 50px;
    margin: 0 0 50px 50%;

    @include media-query(mob-landscape) {
        padding-bottom: 80px;
    }

    @include media-query(tablet-portait) {
        padding: 0;
        min-height: 350px;
    }

    @include media-query(tablet-landscape) {
        margin-bottom: 120px;
        grid-template-columns: 6fr 5fr;
        min-height: 550px;
    }

    &::before {
        content: '';
        position: absolute;
        width: 110%;
        height: 15vw;
        bottom: -10vw;
        left: -5%;
        background-color: $color--white;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
        z-index: 1;

        @include media-query(tablet-landscape) {
            bottom: initial;
            top: 89%;
            left: -13%;
            width: 126%;
            height: 250px;
        }
    }

    &__wrapper {
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
        max-width: $wrapper--promo-inner;

        @include media-query(tablet-landscape) {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 0 25px;
        }
    }

    &__inner {
        @include media-query(tablet-landscape) {
            width: calc(100% - 560px);
        }

        &--no-image {
            @include media-query(tablet-landscape) {
                width: 100%;
                max-width: 650px;
            }
        }
    }

    &__title {
        @include font-size(xxl);
        color: $color--river;
        font-weight: $weight--bold;
        line-height: 50px;
        margin-bottom: 15px;

        /* stylelint-disable value-no-vendor-prefix, property-no-vendor-prefix */
        @include media-query(tablet-landscape) {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }
    }

    &__description {
        @include font-size(s);
        color: $color--river;
        line-height: 24px;

        p {
            margin: 0;
        }
    }

    &__image-wrapper {
        position: relative;
        width: 100%;
        height: 170%;
        border-radius: 50% 0 0 50%;
        overflow: hidden;
        transform: translate3d(0, -21%, 0);
        border-top: 12px solid $color--white;
        border-bottom: 12px solid $color--white;
        border-left: 12px solid $color--white;
        display: none;

        @include media-query(tablet-landscape) {
            display: block;
        }

        @media only screen and (min-width: 1755px) {
            width: 100%;
            height: 215%;
            transform: translate3d(0, -27%, 0);
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    &__button {
        margin-top: 20px;
    }
}
