.promo-explainer-wrapper {
    overflow: hidden;

    @include media-query(tablet-landscape) {
        overflow: visible;
    }
}

.promo-explainer {
    // Escape parent
    width: calc(100vw - 15px);
    transform: translateX(-50%);
    background-color: $color--promo-light-blue;
    position: relative;
    padding-bottom: 150px;
    margin: 75px 0 50px 50%;
    overflow-x: clip;

    @include media-query(mob-landscape) {
        margin-top: 110px;
    }

    @include media-query(tablet-portrait) {
        margin-top: 160px;
    }

    @include media-query(tablet-landscape) {
        margin-top: 250px;
        margin-bottom: 150px;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 110%;
        height: 15vw;
        left: -5%;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
        z-index: -1;

        @include media-query(tablet-landscape) {
            width: 110%;
            height: 250px;
        }
    }

    &::before {
        top: -15vw;
        background-color: $color--promo-light-blue;

        @include media-query(tablet-landscape) {
            top: -125px;
        }
    }

    &::after {
        bottom: -15vw;
        background-color: $color--white;

        @include media-query(tablet-landscape) {
            bottom: -125px;
        }
    }

    &--bottom-padding {
        @include media-query(tablet-landscape) {
            padding-bottom: 310px;
        }
    }

    &__title {
        @include font-size(xl);
        line-height: 35px;
        font-weight: $weight--bold;
        color: $color--river;
    }

    // Overrides
    .rich-text {
        color: $color--slate;
        margin-bottom: 25px;
    }

    .accordion {
        border-top-color: $color--charcoal-75;

        &__title {
            color: $color--river;
        }

        &__icon {
            stroke: $color--pink;
        }
    }

    &__button {
        margin-top: 25px;

        @include media-query(tablet-portrait) {
            margin-top: 50px;
        }
    }
}
