.rich-text {
    ul {
        margin-top: $grid--small;

        .page--jobs & {
            margin: $grid--min 0;
        }

        li {
            padding-left: 25px;
            position: relative;

            &::before {
                content: '';
                width: 7px;
                height: 7px;
                background: $color--default;
                border-radius: 100%;
                position: absolute;
                left: 0;
                top: 8px;

                .page--jobs & {
                    background: $color--leaf;
                }
            }
        }
    }

    ol {
        list-style: decimal;
        margin-left: 35px;

        li {
            padding-left: 10px;
        }

        li > ol {
            list-style-type: lower-alpha;
            margin-left: 15px;

            li > ol {
                list-style-type: lower-roman;
            }
        }
    }

    li {
        color: $color--default;
        margin-bottom: 5px;
    }

    h2 {
        @include font-size(m);
        margin-bottom: 5px;
        font-weight: $weight--bold;
    }

    h3 {
        @include font-size(s);
        margin-bottom: 5px;
        font-weight: $weight--bold;
    }
}
