.rich-text {
    ul {
        @include font-size(s);
        margin: $grid--small 0 $grid--small $grid--small;

        .page--jobs & {
            margin: $grid--min 0;
        }

        ul,
        ol {
            margin: $grid--min 0 0 $grid--small;
        }

        li {
            @include font-size(s);
            padding-left: 25px;
            position: relative;

            &::before {
                content: '';
                width: 7px;
                height: 7px;
                background: $color--default;
                border-radius: 100%;
                position: absolute;
                left: 0;
                top: 10px;

                .page--jobs & {
                    background: $color--leaf;
                }
            }
        }

        ul {
            margin-top: 5px;
        }
    }

    ol {
        @include font-size(s);
        list-style: decimal;
        margin: $grid--small 0 $grid--small $grid--small;

        ol,
        ul {
            margin: $grid--min 0 0 $grid--small;
        }

        li {
            padding-left: 10px;
        }

        li > ol {
            list-style-type: lower-alpha;
            margin-left: 15px;

            li > ol {
                list-style-type: lower-roman;
            }
        }
    }

    li {
        color: $color--default;
        margin-bottom: 5px;
    }

    p {
        @include font-size(s);
    }

    h2,
    .heading--m {
        @include font-size(m);
        margin-bottom: $grid--min;
        margin-top: $grid--medium;
        font-weight: $weight--bold;
    }

    h3,
    .heading--s {
        @include font-size(s);
        margin-bottom: $grid--min;
        margin-top: $grid--small * 1.75;
        font-weight: $weight--bold;
    }
}
