.search {
    &__results-header {
        border-bottom: 2px solid $color--earth;
        margin-bottom: $grid;
    }

    &__results {
        margin-bottom: $grid;
    }

    &__result {
        margin-bottom: $grid;
    }

    &__result-description {
        margin: 0;
    }
}
