.search-filters {
    $root: &;
    margin: $grid--min $grid $grid--large 0;
    max-width: 540px;
    padding: $grid--small;
    background: $color--grey-light;
    border-bottom: $border--accent $color--primary;

    @include media-query(tablet-portrait) {
        min-width: 290px;
    }

    &__group-title {
        @include font-size(s);
        display: block;
        margin-bottom: $grid--min / 2;
    }

    &__fieldset {
        margin-bottom: $grid--small;
    }

    &__option {
        margin-bottom: $grid--min;
    }

    &__label {
        cursor: pointer;
        display: flex;
        padding: 5px 0;
    }

    &__help {
        @include font-size(xs);
    }

    &__count {
        @include font-size(xxs);
        margin-left: $grid--min;
        align-self: flex-start;
    }

    &__submit {
        margin-top: 20px;
        max-width: 200px;
    }
}
