.search {
    &__results-header {
        border-bottom: 2px solid $color--earth;
        margin-bottom: $grid;
    }

    &__results {
        margin-bottom: $grid;
        flex-basis: 100%;
    }
}
