.search-result {
    margin-bottom: $grid;
    margin-top: $grid;

    &__logo {
        float: right;
        margin: 0 $grid--small $grid--small;
    }

    &__description {
        margin: 0;

        &--child-page {
            @include font-size(xxs);
            margin: 0;
        }
    }

    &__label {
        @include font-size(xxs);
        color: $color--grey-accessible;
        margin: 5px 0;
    }

    &__date {
        @include font-size(xxs);
        color: $color--grey-accessible;
        margin: 5px 0;
    }

    &__meta-list {
        display: grid;
        grid-template-columns: minmax(min-content, max-content) 1fr;
        grid-gap: 0 $grid--min;
        margin: 0;
    }

    &__meta-title {
        color: $color--grey-accessible;
    }

    &__meta-description {
        margin: 0;
    }

    &__title {
        margin-top: 0;
    }
}
