.search-filters {
    $root: &;
    margin: $grid--min $grid $grid--large 0;
    max-width: 540px;
    padding: $grid--small;
    background: $color--grey-light;
    border-bottom: $border--accent $color--primary;

    @include media-query(tablet-portrait) {
        min-width: 290px;
    }

    &__group-title {
        @include font-size(s);
        display: block;
        margin-bottom: 20px;

        &--accordion {
            margin-bottom: $grid--min / 2;
            position: relative;
        }
    }

    &__fieldset {
        margin-bottom: $grid--small;
    }

    &__option {
        margin-bottom: $grid--min;
    }

    &__label {
        cursor: pointer;
        display: flex;
        padding: 5px 0;
        word-break: break-word;
    }

    &__help {
        @include font-size(xs);
    }

    &__count {
        @include font-size(xxs);
        margin-left: $grid--min;
        align-self: flex-start;
        word-break: normal;
    }

    &__submit {
        margin-top: 20px;
        max-width: 200px;
    }

    &__active {
        display: none;

        &.active {
            @include font-size(xxs);
            display: block;
            flex: 1 0 100%;
            color: $color--charcoal-75;
            margin: -$grid--min / 2 0 $grid--min 26px;
        }
    }

    &__reset {
        @include button($color--slate, $color--charcoal-25, $color--charcoal-25);
        margin-left: $grid--min;
    }
}
