.section {
    &--main {
        width: 100%;
        margin-bottom: $grid--large;

        .blog-hero & {
            margin-bottom: $grid--medium;
        }

        @include media-query(desktop) {
            max-width: $wrapper--small;
        }

        &:only-child {
            margin: 0 auto $grid--large;
            max-width: none;
        }
    }

    &--inline-index {
        border-top: 1px solid $color--grey-medium;
        padding-top: $grid--small;

        // Long-form page adjustments

        .template-longform & {
            @include media-query(tablet-landscape) {
                border-top: 0;
                padding-top: 0;
            }
        }
    }
}
