.steps-nav {
    $root: &;

    &__controls {
        @include font-size(xs);
        line-height: 1.35;
        color: $color--river;
        position: relative;
        display: inline-block;
        margin-bottom: 20px;
        border-bottom: 2px solid transparent;

        &.is-open {
            #{$root}__controls-text--show {
                display: none;
            }

            #{$root}__controls-text--hide {
                display: inline;
            }

            &::after {
                transform: rotateZ(-90deg) scaleX(2) scaleY(1.5);
            }
        }

        &::after {
            content: '\203A';
            position: absolute;
            right: -20px;
            transform: rotateZ(90deg) scaleX(2) scaleY(1.5);
        }

        &:hover {
            cursor: pointer;
            border-bottom-color: $color--river;
        }
    }

    &__controls-text {
        &--show {
            display: inline;
        }

        &--hide {
            display: none;
        }
    }

    &__circle {
        box-sizing: border-box;
        position: absolute;
        z-index: 5;
        top: 15px;
        left: 3px;
        width: 30px;
        height: 30px;
        color: $color--charcoal;
        background: $color--white;
        border-radius: 100px;
        text-align: center;
        border: 3px solid $color--charcoal-25;
    }

    &__heading {
        border-top: 1px solid $color--charcoal-25;
    }

    &__step {
        position: relative;
        padding-left: 50px;
        max-width: 650px;

        &.is-open {
            #{$root}__panel {
                display: block;
            }

            #{$root}__button-text--show {
                display: none;
            }

            #{$root}__button-text--hide {
                display: inline;
            }

            #{$root}__button-text {
                &::after {
                    transform: rotateZ(-90deg) scaleX(2) scaleY(1.5);
                }
            }
        }

        &:last-child::before {
            content: '';
            position: absolute;
            z-index: 6;
            bottom: -16px;
            left: 10px;
            width: 15px;
            height: 0;
            border-bottom: 3px solid $color--charcoal-25;
        }

        &::after {
            content: '';
            position: absolute;
            z-index: 2;
            width: 0;
            height: 100%;
            border-left: 3px solid $color--charcoal-25;
            background: $color--white;
            left: 0;
            margin-left: 1em;
            top: 1em;
        }
    }

    &__button {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 15px 0;

        &:focus {
            background-color: $color--mustard;
        }
    }

    &__button-text--hide {
        display: none;
    }

    &__button-text--show {
        display: inline;
    }

    &__title-text {
        @include font-size(l);
        line-height: 1.3;
        font-weight: $weight--bold;
        text-align: left;

        .steps-nav__button:hover & {
            color: $color--river;
        }
    }

    &__button-text {
        position: relative;
        color: $color--river;
        border-bottom: 2px solid transparent;

        .steps-nav__button:hover & {
            border-bottom-color: $color--river;
        }

        &::after {
            content: '\203A';
            position: absolute;
            right: -20px;
            transform: rotateZ(90deg) scaleX(2) scaleY(1.5);
        }
    }

    &__panel {
        display: none;
        padding-bottom: 20px;

        p,
        a {
            margin: 5px 0;
        }

        a {
            display: block;
            color: $color--river;
            text-decoration: underline;
        }
    }
}
