.subscribe {
    background: $color--river;
    color: $color--white;

    &__inner {
        padding-top: $grid;
        padding-bottom: $grid--large;
    }

    &__heading {
        @include font-size(xl);
    }

    &__text {
        margin-bottom: $grid;
    }
}
