.table-container {
    display: block;
    width: 100%;
    overflow-x: auto;
}

table {
    @include font-size(s);
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: $grid--small;
    margin-bottom: $grid--small;
    width: 100%;

    thead,
    caption {
        font-weight: $weight--bold;
        text-align: left;
        vertical-align: top;
    }

    td,
    th {
        border-bottom: 1px solid $color--grey-medium;
        padding: 10px;
        vertical-align: top;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }

        &.left-align {
            text-align: left;
        }

        &.right-align {
            text-align: right;
        }
    }

    // support for pre-2.15 and plain text tables
    th[scope='row'],
    .row-header {
        text-align: left;
    }
}
