table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: $grid--small;
    width: 100%;

    thead,
    caption {
        font-weight: $weight--bold;
        text-align: left;
    }

    td,
    th {
        border-bottom: 1px solid $color--grey-medium;
        padding: 10px;
        text-align: left;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}
