.wrapper {
    &--grid {
        min-height: 100vh;
        display: grid;
        grid-template-areas:
            'header'
            'content'
            'footer';
        grid-template-rows: minmax(70px, max-content) auto 250px;
        grid-template-columns: auto;
    }

    &--main {
        grid-area: content;
    }

    &--small {
        max-width: $wrapper--small;
        margin: 0 auto;
    }

    &--large {
        width: 100%;
        max-width: $site-width;
        margin: 0 auto;
        padding: 0 20px;

        @include media-query(tablet-portrait) {
            padding: 0 50px;
        }
    }

    &--flex {
        display: flex;
        flex-direction: column;

        @include media-query(tablet-portrait) {
            flex-direction: row;
        }
    }
}
