{% extends base_page_template %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block hero %}
    {% include "patterns/molecules/hero/hero.html" %}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    {% include "patterns/organisms/promotional-hero/promotional-hero.html" with title=page.hero_title text=page.hero_text image=page.hero_image link_url=hero_link_url link_text=page.hero_link_text %}

    {% if page.teasers %}
        {% include "patterns/pages/promotional/home-page/teasers.html" with block=page.teasers %}
    {% endif %}

    {% include "patterns/molecules/cta/call_to_action.html" with call_to_action=page.call_to_action %}

    {% include "patterns/organisms/latest-articles/latest-articles.html" %}
{% endblock %}
