{% load wagtailcore_tags wagtailimages_tags %}

<div class="u-breakout benefits-list">
    <section aria-labelledby="working-at-buckinghamshire-title" class="benefits-list__wrap">
        <h2 class="heading heading--xxl" id="working-at-buckinghamshire-title">Working at Buckinghamshire</h2>

        <ul class="benefits-list__grid">
            {% for benefit in benefits_list %}
                {% comment %}
                    The top 3 cards should be rendered with images, while the bottom 3 shouldn't
                {% endcomment %}
                <li class="benefits-list__item{% if forloop.counter > 3 %} benefits-list__item--no-image{% endif %}">
                    <a class="benefits-list__card" href="{{ benefit.url }}">
                        {% if forloop.counter < 4 %}
                            {% if benefit.listing_image %}
                                {% image benefit.listing_image fill-310x240 class="benefits-list__image" %}
                            {% endif %}
                        {% endif %}
                        <div class="benefits-list__content">
                            <svg class="benefits-list__wave" aria-hidden="true" focusable="false">
                                <use xlink:href="#wave"></use>
                            </svg>
                            <h3 class="benefits-list__title">{{ benefit.title }}</h3>
                            {% include "patterns/atoms/icons/icon.html" with name="arrow" classname="icon--benefit-arrow benefits-list__icon" %}
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>

        <p class="benefits-list__link-wrap">
            <a class="benefits-list__bottom-link" href="{% pageurl index_page %}">{% firstof page.recruitment_index_link_text "Visit our guide page" %}</a>
        </p>
    </section>
</div>
