{% load wagtailimages_tags %}

<div class="promo-home-cta promo-home-cta--sf">
    <div class="promo-home-cta__image-wrapper">
        {% image value.image fill-590x590 as rendition %}
        <div class="promo-home-cta__image" {% if rendition %}style="background-image: url('{{ rendition.url }}')"{% endif %}></div>
    </div>

    <div class="promo-home-cta__content">
        <h2 class="promo-home-cta__title">{{ value.title }}</h2>

        {% if value.text %}
            <div class="promo-home-cta__description">
                {{ value.text }}
            </div>
        {% endif %}

        {% if link_url and value.link_text %}
            <a class="promo-button promo-button--white-border" href="{{ link_url }}">
                {{ value.link_text }}
            </a>
        {% endif %}
    </div>
</div>
