{% load wagtailcore_tags %}

{% if yes_form and no_form%}
<div class="feedback-widget active" data-feedback-widget>
    <div class="feedback-widget__content wrapper wrapper--large">
        <h4 class="feedback-widget__heading heading" data-feedback-heading>Is this page useful?</h4>
        <div class="feedback-widget__buttons">
            <button class="feedback-widget__link" id="page-feedback-yes" aria-label="Feedback - yes this page is useful" data-feedback-button type="submit">Yes</button>
            <button class="feedback-widget__link" id="page-feedback-no" aria-label="Feedback - No this page isn't useful" data-feedback-button type="submit">No</button>
        </div>
    </div>
</div>
<p>
    <form action="{% url "feedback:create_usefulness_feedback" %}" method="post">
        {% csrf_token %}
        {{ yes_form }}
        <button type="submit">YES</button>
    </form>
</p>
<p>
    <form action="{% url "feedback:create_usefulness_feedback" %}" method="post">
        {% csrf_token %}
        {{ no_form }}
        <button type="submit">NO</button>
    </form>
</p>
{% endif %}
