<div class="activities-listing u-breakout">
    <div class="activities-listing__inner">
        <h2 class="activities-listing__heading heading heading--l">Activities in Amersham Family Centre</h2>

        <ul>
            {% for activity in activities %}
                <li class="activities-listing__item">
                    <h3 class="activities-listing__item-heading heading heading--m">{{ activity.title }}</h3>
                    <p>{{ activity.intro|truncatechars:106 }}</p>

                    {% for tag in activity.tags %}
                        {% if tag.highlight %}
                            <span class="activities-listing__tag activities-listing__tag--highlight">
                                {% include "patterns/atoms/icons/icon.html" with name="tick" classname="icon--tag-tick activities-listing__tag-icon" %}
                                {{ tag.title }}
                            </span>
                        {% else %}
                            <span class="activities-listing__tag">{{ tag.title }}</span>
                        {% endif %}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
