{% load wagtailcore_tags %}

<div class="steps-nav" data-steps-container>
    <button class="steps-nav__controls" data-steps-toggle>
        <span class="steps-nav__controls-text steps-nav__controls-text--show">
            <span class="steps-nav__controls-label">Show all steps</span>
            {% include "patterns/atoms/icons/icon.html" with name="chevron-small" classname="icon--stroke after" %}
        </span>
        <span class="steps-nav__controls-text steps-nav__controls-text--hide">
            <span class="steps-nav__controls-label">Hide all steps</span>
            {% include "patterns/atoms/icons/icon.html" with name="chevron-small" classname="icon--stroke after" %}
        </span>
    </button>
    <ol class="steps-nav__steps">
        {% for step in steps  %}
            <li class="steps-nav__step" data-step-accordion>
                <div class="steps-nav__heading">
                    <h2 class="steps-nav__title-section">
                        <span class="steps-nav__circle">
                            {{ forloop.counter }}
                        </span>
                        <span class="steps-nav__title">
                            <button class="steps-nav__button" data-accordion-question>
                                <span class="steps-nav__title-text">
                                    {{ step.title }}
                                </span>
                                <span class="steps-nav__button-text steps-nav__button-text--show">
                                    Show
                                    {% include "patterns/atoms/icons/icon.html" with name="chevron-small" classname="icon--stroke after" %}
                                </span>
                                <span class="steps-nav__button-text steps-nav__button-text--hide">
                                    Hide
                                    {% include "patterns/atoms/icons/icon.html" with name="chevron-small" classname="icon--stroke after" %}
                                </span>
                            </button>
                        </span>
                    </h2>
                </div>
                <div class="steps-nav__panel" data-accordion-answer hidden="until-found">
                    {% include_block step.information %}
                </div>
            </li>
        {% endfor %}
    </ol>
</div>
