{% load wagtailimages_tags %}

{% image image fill-1200x980 as rendition %}

<div class="promo-hero-content-wrapper">
    <div class="promo-hero-content">
        <div class="promo-hero-content__wrapper">
            <div class="promo-hero-content__inner {% if not image %}promo-hero-content__inner--no-image{% endif %}">
                <h1 class="promo-hero-content__title">{{ title }}</h1>
                {% if text %}
                    <div class="promo-hero-content__description">
                        {{ text|linebreaks }}
                    </div>
                {% endif %}
                {% if link %}
                    <a href="{{ link.get_url }}" class="promo-hero-content__button promo-button promo-button--blue-border promo-button--extra-padding promo-button--transparent-bg">{{ link.get_text }}</a>
                {% endif %}
            </div>
        </div>
        <div aria-hidden="true"></div>
        {% if image %}
            <div class="promo-hero-content__image-wrapper">
                <div class="promo-hero-content__image" {% if rendition %}style="background-image: url('{{ rendition.url }}')"{% endif %}></div>
            </div>
        {% endif %}
    </div>
</div>