{% load wagtailimages_tags %}

<div class="search-widget">
    <form class="search-widget__form form">
        <h2 class="search-widget__heading heading heading--xl">{{ title|default:"Find activities and organisations near you" }}</h2>
        <div class="search-widget__form-layout">
            <div>
                <label for="activity-service-search" class="search-widget__label label">{{ search_label }}</label>
                <input id="activity-service-search" class="search-widget__input input" type="text" placeholder="{{ activity_input_placeholder|default:"E.g. Swimming for children" }}" />
            </div>

            <div>
                <label for="region-search" class="search-widget__label">{{ location_label }}</label>
                <input id="region-search" class="search-widget__input input" type="text" placeholder="{{ region_input_placeholder|default:"E.g. Buckingham" }}" />
            </div>

            <button class="search-widget__button button">
                {% include "patterns/atoms/icons/icon.html" with name="magnifying-glass" %}
                {{ cta_label }}
            </button>
        </div>
    </form>
</div>
