{% extends base_page_template %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    {% include "patterns/molecules/hero/hero--blog.html" with page=page.homepage %}

    <div class="wrapper wrapper--flex blog-page">
        <div class="section section--main">
            <h2 class="heading heading--xxl blog-page__title">{{ page.title }}</h2>
            <div class="blog-page__content">
                <div class="rich-text">
                    <p>You have been sent a confirmation email, please follow the link in the email to confirm your subscription.</p>
                    <p><a href="">Read our privacy policy</a></p>
                </div>
            </div>
        </div>

        {% include 'patterns/organisms/blogs-sidebar/blogs-sidebar.html' %}
    </div>
{% endblock %}
