{% extends 'patterns/base_page--blogs.html' %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    {% include "patterns/molecules/hero/hero--blog.html" with link_back=True %}

    <div class="wrapper wrapper--flex blog-page">
        <div class="section section--main">
            <h2 class="heading heading--xxl blog-page__title">Subscribe</h2>
            <div class="blog-page__content">
                <div class="rich-text">
                    <p><b>Subscription options for {{ subscription.email }}</b></p>
                    <form method="post"class="form form--subscribe-page">
                        {% csrf_token %}
                        {% for value, label in form.fields.subscribe.choices %}
                        <label class="radio-inline">
                            <input class="input" type="radio" name="subscribe" value="{{ value }}" required id="id_subscribe_{{ forloop.counter0 }}" {% if value == True %}checked{% endif %}>
                            {{ label }}
                        </label>    
                        {% endfor %}
                        <button class="button button--subscribe-submit">Save</button>
                    </form>
                    <br>
                    <p><a href="https://www.buckinghamshire.gov.uk/your-council/privacy/privacy-policy/">Read our privacy policy</a></p>
                </div>
            </div>
        </div>

        {% include 'patterns/organisms/blogs-sidebar/blogs-sidebar.html' %}
    </div>
{% endblock %}
