{% extends "patterns/base_page.html" %}
{% load static wagtailcore_tags wagtailsearchpromotions_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}{% if search_query %}Search results for &ldquo;{{ search_query }}&rdquo;{% else %}Search{% endif %}{% endblock %}

{% block breadcrumbs %}
    <div class="wrapper wrapper--large">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb__item">
                    <a class="breadcrumb__link" href="/" title="Home">
                        Home
                    </a>
                </li>
                <li class="breadcrumb__item" aria-current="page">
                    {{ page.title }}
                </li>
            </ol>
        </nav>
    </div>
{% endblock %}

{% block content %}
    <div class="wrapper wrapper--page search">
        <h1 class="heading heading--xxl">Search</h1>

        <form action="{% url 'search' %}" method="get" role="search" class="form form--search">
            <label class="u-sr-only" for="search--page">Search this website</label>
            <input class="input" id="search--page" type="text" placeholder="Search" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
            <button class="button button--search" type="submit" aria-label="Search">
                <svg class="button__icon icon icon--stroke icon--white" aria-hidden="true">
                    <use xlink:href="#magnifying-glass"></use>
                </svg>
                <span class="u-sr-only">Search</span>
            </button>
        </form>

        {% if search_results %}
            <section class="search__results">
                <header class="search__results-header">
                    {% with count=search_results.paginator.count %}
                        <h2 class="heading heading--l">{{ count }} result{{ count|pluralize }} for ‘{{ search_query }}’</h2>
                    {% endwith %}
                </header>

                {% for result in search_results %}
                    {% include "patterns/molecules/search-result/search-result.html" with result=result.specific %}
                {% endfor %}

                {% include "patterns/molecules/pagination/pagination.html" with paginator_page=search_results %}
            </section>

        {% else %}
            <p>No results found.</p>
        {% endif %}
    </div>
{% endblock %}
