{% load wagtailcore_tags %}

<div class="sidebar">
    <section>
        <h2 class="sidebar__heading heading">{{ page.about_title }}</h2>
        <p>{{ page.about_description }}</p>
        {% if page.about_page and request.build_absolute_uri != page.about_page.url %}
            <a href="{% pageurl page.about_page %}">Find out more</a>
        {% endif %}
    </section>
    {% include 'patterns/molecules/blog-categories/blog-categories.html' with categories=page.categories %}
    {% include 'patterns/molecules/blog-recent-posts/blog-recent-posts.html' with recent_posts=page.recent_posts %}
    {% include "patterns/molecules/navigation/sidebar-section.html" with related_pages=page.related_pages.all %}
    {% include 'patterns/molecules/blogs-subscribe-section/blogs-subscribe-section.html' %}
    {% include 'patterns/molecules/blogs-social-section/blogs-social-section.html' %}
</div>
