{% load wagtailcore_tags wagtailimages_tags %}
{% with value as content_block %}
    <div class="grid grid--two-one-swap campaign-content-block">
        <div class="campaign-content-block__media-wrapper">
            {% if content_block.image_or_embed.image %}
                {% image content_block.image_or_embed.image fill-660x412 class="campaign-content-block__image" %}
            {% elif content_block.image_or_embed.embed %}
                {% include_block content_block.image_or_embed.bound_blocks.embed %}
            {% endif %}
        </div>
        <div class="campaign-content-block__text-wrapper">
            {% include_block content_block.bound_blocks.subheading with class="heading heading--l heading--no-margin" %}
            {% include_block content_block.bound_blocks.paragraph %}
        </div>
    </div>
{% endwith %}
