.u {
    &-sr-only {
        @include hidden();
    }

    &-breakout {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}

.block {
    display: block;
}

.hide {
    display: none;
}

/* stylelint-disable declaration-no-important */

// taken from gov.uk website
.visually-hidden-content {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    border: 0 !important;
    white-space: nowrap !important;
}

/* stylelint-enable declaration-no-important */
