{% load static wagtailcore_tags wagtailimages_tags %}

<div class="sidebar sidebar--jobs" aria-label="Job details">
    {% if page.logo %}
        {% comment %}
        This is imported content. We have no reliable value for the alt text.
        The image is mostly decorative. Set blank alt text.
        {% endcomment %}
        {% image page.logo max-110x110 class="sidebar__job-detail-logo" alt="" %}
    {% endif %}

    <div class="sidebar__inner">
        {% if show_apply_button %}
            <a href="{{ page.application_url }}" class="sidebar__apply-link button button--apply">Apply for this job</a>
        {% endif %}

        <dl class="sidebar__job-details">
            {% if page.salary_range %}
                <div>
                    <dt class="sidebar__job-detail-title">Salary</dt>
                    <dd class="sidebar__job-detail-description">{{ page.salary_range }}</dd>
                </div>
            {% endif %}
            {% if page.job_number %}
                <div>
                    <dt class="sidebar__job-detail-title">Reference number</dt>
                    <dd class="sidebar__job-detail-description">{{ page.job_number }}</dd>
                </div>
            {% endif %}
            {% if page.contract_type %}
                <div>
                    <dt class="sidebar__job-detail-title">Contract type</dt>
                    <dd class="sidebar__job-detail-description">{{ page.contract_type }}</dd>
                </div>
            {% endif %}
            {% if page.working_hours %}
                <div>
                    <dt class="sidebar__job-detail-title">Working hours</dt>
                    <dd class="sidebar__job-detail-description">{{ page.working_hours }}</dd>
                </div>
            {% endif %}
            <div>
                <dt class="sidebar__job-detail-title">Level of DBS check required</dt>
                <dd class="sidebar__job-detail-description">{{ page.dbs_check }}</dd>
            </div>
            {% if page.expected_start_date %}
                <div>
                    <dt class="sidebar__job-detail-title">Expected start date</dt>
                    <dd class="sidebar__job-detail-description">{{ page.expected_start_date }}</dd>
                </div>
            {% endif %}
            {% if page.posting_start_date %}
                <div>
                    <dt class="sidebar__job-detail-title">Date posted</dt>
                    <dd class="sidebar__job-detail-description">{{ page.posting_start_date }}</dd>
                </div>
            {% endif %}
            {% if page.closing_date %}
                <div>
                    <dt class="sidebar__job-detail-title">Application deadline</dt>
                    <dd class="sidebar__job-detail-description">{{ page.closing_date }}</dd>
                </div>
            {% endif %}
            {% if page.interview_date %}
                <div>
                    <dt class="sidebar__job-detail-title">Interview date</dt>
                    <dd class="sidebar__job-detail-description">{{ page.interview_date }}</dd>
                </div>
            {% endif %}
            {% if page.contact_email %}
                <div>
                    <dt class="sidebar__job-detail-title">Contact email</dt>
                    <dd class="sidebar__job-detail-description">{{ page.contact_email }}</dd>
                </div>
            {% endif %}
            {% if page.attachments.all %}
                <div>
                    <dt class="sidebar__job-detail-title">Additional Information</dt>
                    <dd class="sidebar__job-detail-description">
                        {% for document in page.attachments.all %}
                            <a href="{{ document.url }}" class="sidebar__job-detail-attachment">
                                {{ document.title }}
                                ({{ document.file_extension }}{% if document.file_size %}, {{ document.file_size|filesizeformat }}{% endif %})
                            </a>
                        {% endfor %}
                    </dd>
                </div>
            {% endif %}
        </dl>
    </div>
</div>
