{% load wagtailcore_tags %}

<aside class="sidebar sidebar--jobs">
    {% if page.show_apply_button %}
        <a href="{{ page.application_url }}" class="sidebar__apply-link button button--apply">Apply for this job</a>
    {% endif %}

    <dl class="sidebar__job-details">
        {% if page.working_hours %}
            <div>
                <dt class="sidebar__job-detail-title">Working pattern</dt>
                <dd class="sidebar__job-detail-description">{{ page.working_hours }}</dd>
            </div>
        {% endif %}
        {% if page.salary_range %}
            <div>
                <dt class="sidebar__job-detail-title">Salary</dt>
                <dd class="sidebar__job-detail-description">{{ page.salary_range }}</dd>
            </div>
        {% endif %}
        {% if page.closing_date %}
            <div>
                <dt class="sidebar__job-detail-title">Application deadline</dt>
                <dd class="sidebar__job-detail-description">{{ page.closing_date }}</dd>
            </div>
        {% endif %}
        {% if page.expected_start_date %}
            <div>
                <dt class="sidebar__job-detail-title">Expected start date</dt>
                <dd class="sidebar__job-detail-description">{{ page.expected_start_date }}</dd>
            </div>
        {% endif %}
        {% if page.posting_start_date %}
            <div>
                <dt class="sidebar__job-detail-title">Date posted</dt>
                <dd class="sidebar__job-detail-description">{{ page.posting_start_date }}</dd>
            </div>
        {% endif %}
        {% if page.attachments.all %}
            <div>
                <dt class="sidebar__job-detail-title">Additional Information</dt>
                <dd class="sidebar__job-detail-description">
                    {% for document in page.attachments.all %}
                        <a href="{{ document.url }}" class="sidebar__job-detail-attachment">
                            {{ document.title }}
                            ({{ document.file_extension }})
                        </a>
                    {% endfor %}
                </dd>
            </div>
        {% endif %}
    </dl>

</aside>
