{% extends "patterns/base_page--jobs.html" %}
{% load wagtailcore_tags static %}

{% block content %}
    <div class="wrapper wrapper--flex wrapper--margin">
        <section class="section section--main">

            <h1 class="heading heading--xxl heading--no-margin">{{ page.title }}</h1>

            {% include "patterns/molecules/helpful-hint/helpful-hint.html" with value=page.hint %}

            <p class="job-alerts__keywords">Set up job alerts for the following keywords: {{ page.keywords }}</p>

            <form action="{% pageurl job_alert as job_alert_url %}" method="post" class="form">
                <div class="form__container">
                    <div class="form-item">
                        {% if field.errors %}
                            <div class="form-item__errors">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="form-item">
                        <fieldset>
                            <label class="form-item__label" for="{{ option.id }}">
                                Email address
                            </label>
                            <input type="text" id="{{ option.id }}" />
                        </fieldset>
                    </div>

                    <fieldset>
                        <input class="form-item__checkbox" type="checkbox" id="{{ option.id }}" {% if option.id|slugify in filter.selected %}checked{% endif %}>
                        <label class="form-item__label" for="{{ option.id }}">
                            <span class="form-item__dummy-checkbox"></span>
                            Confirm consent to keep email
                        </label>

                        <div class="rich-text">
                            <p>To be able to send you job alerts we need to keep your email on our records.</p><p>We will send an email for each new job that is posted that matches your criteria.</p><p>You'll be able to unsubscribe from receiving alerts at anytime</p>
                        </div>
                    </fieldset>

                </div>

                <input class="button button--default" type="submit" value="{% if page.action_text %}{{ page.action_text|safe }}{% else %}Submit{% endif %}" />
            </form>
        </section>
    </div>
{% endblock %}
