{% extends base_page_template %}

{% load wagtailcore_tags %}

{% block body_class %}{{ block.super }} template-inlineindex{% endblock body_class %}

{% block content %}
    <h1 class="heading heading--xxl">
        {{ page.index_title }}
    </h1>

    {% with page_links=index %}
    <nav class="index-nav" aria-label="Pages in this section">
        <h2 class="index-nav__title">Contents</h2>
        <ul class="index-nav__list">
            {% for link in page_links %}
                {% if link.id == page.id %}
                    <li class="index-nav__item index-nav__item--current">
                        <span class="index-nav__link">{{ link.content_title }}</span>
                    </li>
                {% else %}
                    <li class="index-nav__item">
                        <a class="index-nav__link" href="{% pageurl link %}">{{ link.content_title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>

    <div class="wrapper wrapper--flex">
        <div class="section section--main section--inline-index">
            <h2 class="heading heading--xl">
                {{ page.content_title }}
            </h2>

            {% if page.intro_text %}
                <h2 class="heading--l">{{ page.intro_text }}</h2>
            {% endif %}

            <div class="main-body">
                {% include_block page.body %}

                {% include "patterns/molecules/pagination/index-pagination.html" with next_page=next_page prev_page=prev_page %}
            </div>
        </div>

        {% include "patterns/molecules/navigation/sidebar.html" with related_pages=page.live_related_pages %}
    </div>
    {% endwith %}

{% endblock %}
