{% load wagtailcore_tags %}

{% if show_intro %}
    {% comment %} Show intro for search results {% endcomment %}
    <div class="area-links__intro">{{ value.introduction|richtext }}</div>
{% endif %}

<ul class="area-links__list">
    {% if value.aylesbury_vale_url %}
        <li class="area-links__item">
            {% include "patterns/atoms/icons/icon.html" with name="arrow" classname="icon--stroke area-links__arrow" %}
            <a data-area-link="aylesbury-vale-url" href="{{ value.aylesbury_vale_url }}" class="area-links__link"><h3 class="area-links__heading heading">Aylesbury Vale</h3></a>
        </li>
    {% endif %}
    {% if value.chiltern_url %}
        <li class="area-links__item">
            {% include "patterns/atoms/icons/icon.html" with name="arrow" classname="icon--stroke area-links__arrow" %}
            <a data-area-link="chiltern-url" href="{{ value.chiltern_url }}" class="area-links__link"><h3 class="area-links__heading heading">Chiltern</h3></a>
        </li>
    {% endif %}
    {% if value.south_bucks_url %}
        <li class="area-links__item">
            {% include "patterns/atoms/icons/icon.html" with name="arrow" classname="icon--stroke area-links__arrow" %}
            <a data-area-link="south-bucks-url" href="{{ value.south_bucks_url }}" class="area-links__link"><h3 class="area-links__heading heading">South Bucks</h3></a>
        </li>
    {% endif %}
    {% if value.wycombe_url %}
        <li class="area-links__item">
            {% include "patterns/atoms/icons/icon.html" with name="arrow" classname="icon--stroke area-links__arrow" %}
            <a data-area-link="wycombe-url" href="{{ value.wycombe_url }}" class="area-links__link"><h3 class="area-links__heading heading">Wycombe</h3></a>
        </li>
    {% endif %}
</ul>
