{% extends "patterns/base_page--jobs.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}{{ block.super }} template-searchresults{% endblock %}

{% block title %}{{title}}{% endblock %}

{% block breadcrumbs %}
    <div class="wrapper wrapper--large">
        <nav role="navigation" aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb__item">
                    <a class="breadcrumb__link" href="/" title="Home">
                        Home
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}

{% block content %}

<div class="wrapper wrapper--flex">
    <section class="section section--main">
        {% if status == STATUSES.STATUS_UNSUBSCRIBED %}
            <h1 class="heading heading--xxl">You have successfully unsubscribed</h1>
            <p>You've been unsubscribed from the job alert.</p>
        {% elif status == STATUSES.STATUS_LINK_EXPIRED %}
            <h1 class="heading heading--xxl">Subscription not found</h1>
            <p>Sorry, we could not find a matching job alert subscription.</p>
        {% endif %}
    </section>
</div>

{% endblock %}
