{% extends base_page_template %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block hero %}
    {% image page.hero_image min-1600x350 as hero_image %}
    <div class="hero {% if alert %}hero--with-alert{% endif %} hero--family-info" style="background-image: url('{{ hero_image.url }}');">
        <div class="wrapper wrapper--large">
            {% include "patterns/molecules/navigation/breadcrumbs.html" with custom_class="breadcrumb--family-info" %}
            <h1 class="hero__strapline heading heading--xxxl">{{ page.title }}</h1>
            <p>{{ page.description }}</p>

            <form 
                action="{% url 'search' %}" 
                aria-labelledby="service-search-form-title" 
                role="search"
                action="get"
                class="form form--search family-info__search-form">
                <label for="search">Search</label>
                <input type="text" id="search" name="search" placeholder="{{ page.search_placeholder }}"/>
                <button class="button button--search button--hero">Search</button>
            </form>
    </div>
        </div>
    </div>
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <section>
        <h2>Get information, advice and guidance</h2>
        {% for category_page in page.category_pages %}
            <a href="{% pageurl category_page %}">
                {% image category_page.listing_image fill-600x500 %}
                {% firstof category_page.listing_title category_page.title %}
                <p>{{ category_page.listing_summary }}</p>
            </a>
        {% endfor %}
        </div>
    </section>

    <section>
        <h2>{{ page.banner_title }}</h2>
        <p>{{ page.banner_description }}<p>
        <a href="{{ page.banner_link }}">{{ page.banner_link_text }}</a>
    </section>

    {% include "patterns/molecules/cta/call_to_action.html" with call_to_action=page.call_to_action %}

    <p>
    If you can't find what you're looking for <a href="{% url 'search' %}">search our information pages</a>.
    </p>

{% endblock %}

{% block footer %}
    {{ block.super }}
{% endblock %}
