{% extends base_page_template %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block extra_css %}
    {# Hero image background images #}
    {% image page.hero_image fill-450x200 as mobile_image %}
    {% image page.hero_image fill-900x400 as retina_mobile_image %}
    {% image page.hero_image fill-1440x250 as desktop_image %}
    {% include "patterns/atoms/image/background-image-style.html" with class="hero" mobile_image=mobile_image retina_mobile_image=retina_mobile_image desktop_image=desktop_image %}

    {# CTA image background images #}
    {% if page.call_to_action %}
        {% image page.call_to_action.image fill-450x350 as mobile_image %}
        {% image page.call_to_action.image fill-900x700 as retina_mobile_image %}
        {% image page.call_to_action.image fill-990x350 as desktop_image %}
        {% include "patterns/atoms/image/background-image-style.html" with class="highlighted-content" mobile_image=mobile_image retina_mobile_image=retina_mobile_image desktop_image=desktop_image %}
    {% endif %}
{% endblock %}

{% block body_class %}template-fis-home {{ block.super }}{% endblock %}

{% block hero %}
    {% include "patterns/molecules/hero/hero--fis-home.html" %}

    {% if page.top_tasks.all %}
        {% include "patterns/molecules/top-tasks/top-tasks.html" with heading=page.top_tasks_heading tasks=page.top_tasks.all %}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

    {# Category cards #}
    <div>
        {% if page.heading %}
            <h2 class="page__heading heading heading--xl">
                {{ page.heading }}
            </h2>
        {% endif %}

        {% if page.highlighted_cards %}
            {% include_block page.highlighted_cards %}
        {% endif %}

        <div class="grid grid--index grid--fis-home" data-height-equalizer>
            {% for subpage in page.other_child_pages %}
                {% include "patterns/molecules/page-card/page-card.html" with classes="card--fis-home" page=subpage %}
            {% endfor %}
        </div>
    </div>

    {% if page.directory_search %}
        {% include_block page.directory_search %}
    {% endif %}

    {% include "patterns/molecules/directory-banner/directory-banner.html" with classes="directory-banner--with-space" %}

    {% include "patterns/molecules/cta/call_to_action.html" with call_to_action=page.call_to_action %}

    {% include "patterns/molecules/search-prompt/search-prompt--fis.html" with search_prompt_text=page.search_prompt_text %}

{% endblock %}
