{% extends base_page_template %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-jobs-home {{ block.super }}{% endblock %}

{% block hero %}
    {% include "patterns/molecules/hero/hero--jobs-home.html" %}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    {% include "patterns/molecules/split-content/split-content.html" with content_block=page.body %}

    <section class="categories">
        <h2 class="heading heading--xl">Top job categories</h2>

        <div class="categories__grid grid grid--categories">
            {% for cat in job_categories|slice:":6" %}
                {% if cat.count %}
                    <a class="categories__card link--alt" href="search/?category={{cat.key}}">
                        <header class="categories__header">
                            <h3 class="categories__category-title heading">{{ cat.label }}</h3>
                            <p class="categories__job-count">({{ cat.count }} jobs)</p>
                        </header>
                        <div class="categories__content">
                            {% if cat.description %}
                                <p class="categories__description">{{ cat.description }}</p>
                            {% endif %}
                            <p class="categories__jobs-link">See jobs</p>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>

        <a class="categories__all-vacancies" href="search/">See all {{ vacancies }} current vacancies</a>
    </section>

{% endblock %}
