{% extends base_page_template %}
{% load wagtailcore_tags static %}

{% block body_class %}template-jobs-home {{ block.super }}{% endblock %}

{% block hero %}
    {% include "patterns/molecules/hero/hero--jobs-home.html" %}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

    {% if page.benefits_list %}
        {% include "patterns/molecules/benefits-list/benefits-list.html" with benefits_list=page.benefits_list %}
    {% endif %}

    <section class="categories" aria-labelledby="job-cat-title">
        <h2 class="heading heading--xl" id="job-cat-title">Search top job categories</h2>

        <div class="categories__grid grid grid--categories">
            {% for cat in job_categories|slice:":6" %}
                {% if cat.count %}
                    <a class="categories__card link--alt" href="search/?category={{cat.key}}">
                        <div class="categories__card-icon-wrap">
                            <div class="categories__icon-blob">
                                {% include "patterns/atoms/icons/icon.html" with name="blob" classname="icon--categories-blob" %}
                            </div>
                            {% include "patterns/atoms/icons/icon.html" with name=cat.icon classname="categories__card-icon" %}
                        </div>

                        <div>
                            <h3 class="categories__category-title heading">
                                <span class="categories__category-title-label">{{ cat.label }}</span>
                            </h3>
                            <p class="categories__job-count">{{ cat.count }} jobs</p>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>

        <p class="categories__all-vacancies-wrap">
           <a class="categories__all-vacancies-link" href="search/">See all {{ vacancies }} current vacancies</a>
        </p>
    </section>

    {% if page.media %}
        {% include "patterns/molecules/jobs-media-block/jobs-media-block.html" with jobs_media_snippet=page.media %}
    {% endif %}

    {% if page.awards %}
        {% include "patterns/molecules/awards-block/awards-block.html" with awards_snippet=page.awards %}
    {% endif %}
{% endblock %}
