{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block header %}
    {{ block.super }}

    {% include "patterns/molecules/hero/hero.html" %}
{% endblock %}

{# Do not show the alert banner on the homepage #}
{% block alert_banner %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    {% include "patterns/organisms/link-block-grid/link-block-grid.html" %}

    {% include "patterns/molecules/cta/call_to_action.html" with call_to_action=page.call_to_action %}

    {% include "patterns/organisms/latest-articles/latest-articles.html" %}
{% endblock %}

{% block footer %}
    {% include "patterns/molecules/subscribe/subscribe.html" with heading='Sign up for our e-newsletter' text='Get the latest news about council services, consultations, projects and events in your area.' button_text='Subscribe' button_link='https://r1.dotdigital-pages.com/p/5438-2JW/newsletter' %}
    {{ block.super }}
{% endblock %}
