{% extends "patterns/base_page--jobs.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-jobs-home {{ block.super }}{% endblock %}

{% block header %}
    {{ block.super }}

    {% include "patterns/molecules/hero/hero--jobs.html" %}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    {% include "patterns/molecules/split-content/split-content.html" with content_block=page.body %}

    <h2>Top job categories</h2>

    <ul>
    {% for cat in job_categories|slice:":6" %}
        {% if cat.count %}
        <li>
            <h3><a href="search/?category={{cat.category}}">{{ cat.title }}</a> ({{ cat.count }} jobs)</h3>
            {% if cat.description %}
                <p>{{ cat.description }}</p>
            {% endif %}
            <p><a href="search/?category={{cat.category}}">See jobs</a></p>
        </li>
        {% endif %}
    {% endfor %}
    </ul>
{% endblock %}
