{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block header %}
    {{ block.super }}

    {% include "patterns/molecules/hero/hero.html" %}
{% endblock %}

{% block content %}
    {% include "patterns/organisms/link-block-grid/link-block-grid.html" %}

    <h2>Pages</h2>
    <ul>
    {% for section in sections %}
        <li>
            <a href="{% pageurl section %}"><h3>{{section.title}}</h3></a>
            {% for page in section.featured_pages %}
                <a href="{% pageurl page %}">{{page.title}}</a>
            {% endfor %}
        </li>
    {% endfor %}
    </ul>

    {% include "patterns/molecules/cta/call_to_action.html" with call_to_action=page.call_to_action %}
{% endblock %}
