{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags navigation_tags util_tags %}

<div class="header header--fis">
    <div class="header__inner wrapper wrapper--large">
        <a class="header__home-link" href="{% get_default_site %}" aria-label="Buckinghamshire Council">
            {% include "patterns/atoms/icons/icon.html" with name="logo" classname="header__logo" %}
        </a>

        <div class="header__heading">
            <a href="/" class="header__heading-title">{% header_title %}</a>

            <div class="header__search">
                <form action="{% url 'search' %}" method="get" role="search" class="form form--header-search">
                    <label class="u-sr-only" for="search">Search this website</label>
                    <input class="input" id="search" type="text" placeholder="Search" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
                    <button class="button button--search button--header" type="submit" aria-label="Submit">
                        {% include "patterns/atoms/icons/icon.html" with name="magnifying-glass" classname="icon--stroke icon--white button__icon" %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% include "patterns/organisms/search-header/search-header--fis.html" %}
