{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags navigation_tags util_tags %}

<div class="header header--jobs">
    <div class="header__inner wrapper wrapper--large">
        <a class="header__home-link" href="{% get_default_site %}" aria-label="Buckinghamshire Council">
            {% include "patterns/atoms/icons/icon.html" with name="logo" classname="header__logo" %}
        </a>

        <div class="header__heading">
            <a href="/" class="header__heading-title">Jobs and Careers</a>
        </div>

        {% with socialSettings=settings.utils.SocialMediaSettings %}
            {% if socialSettings.has_any_setting %}
                <ul class="header__social-icons">
                    {% if socialSettings.facebook_app_id %}
                        <li class="header__social-item">
                            <a href="https://www.facebook.com/{{ socialSettings.facebook_app_id }}"
                                target="_blank"
                                rel="nofollow noreferrer"
                                aria-label="Buckinghamshire Council Careers Facebook - opens in a new tab"
                                class="header__social-icon"
                            >
                                    {% include "patterns/atoms/icons/icon.html" with name="facebook-alt" classname="icon--header-social" %}
                            </a>
                        </li>
                    {% endif %}

                    {% if socialSettings.twitter_handle %}
                        <li class="header__social-item">
                            <a href="https://twitter.com/{{ socialSettings.twitter_handle }}"
                                target="_blank"
                                rel="nofollow noreferrer"
                                aria-label="Buckinghamshire Council Careers X (formerly Twitter) - opens in a new tab"
                                class="header__social-icon"
                            >
                                {% include "patterns/atoms/icons/icon.html" with name="twitter-alt" classname="icon--header-social" %}
                            </a>
                        </li>
                    {% endif %}

                    {% if socialSettings.instagram_username %}
                        <li class="header__social-item">
                            <a href="https://www.instagram.com/{{ socialSettings.instagram_username }}"
                                target="_blank"
                                rel="nofollow noreferrer"
                                aria-label="Buckinghamshire Council Careers Instagram - opens in a new tab"
                                class="header__social-icon"
                            >
                                {% include "patterns/atoms/icons/icon.html" with name="instagram-alt" classname="icon--header-social" %}
                            </a>
                        </li>
                    {% endif %}

                    {% if socialSettings.linkedin_organisation_url %}
                        <li class="header__social-item">
                            <a href="{{ socialSettings.linkedin_organisation_url }}"
                                target="_blank"
                                rel="nofollow noreferrer"
                                aria-label="Buckinghamshire Council Careers Linkedin - opens in a new tab"
                                class="header__social-icon"
                            >
                                {% include "patterns/atoms/icons/icon.html" with name="linkedin-alt" classname="icon--header-social" %}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</div>
