{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags navigation_tags util_tags %}

<header class="header">
    <div class="header__inner wrapper wrapper--large">
        <a href="{% slugurl 'home' %}">
            <img class="header__logo" src="https://placehold.it/150x100" alt="Logo for Buckinghamshire Council">
        </a>

        <div class="header__menu-toggle">
            <span>Menu</span>
            <button class="button button-menu-toggle" data-mobile-menu-toggle aria-haspopup="true" aria-label="Mobile menu toggle">
                <span class="button-menu-toggle__line"></span>
                <span class="button-menu-toggle__line"></span>
                <span class="button-menu-toggle__line"></span>
                <span class="button-menu-toggle__line"></span>
            </button>
        </div>

        <section class="header__menus header__menus--desktop">
            <div class="header__inner--top">
                    {% secondarynav %}
                <form action="{% url 'search' %}" method="get" role="search" class="form form--header-search">
                    <input class="input" id="search" type="text" placeholder="Search…" name="query"{% if search_query %} value="{{ search_query }}{% endif %}">
                    <label class="u-sr-only" for="search">Search this website</label>
                    <button class="button" type="submit">
                        <svg class="icon icon--magnifying-glass" aria-hidden="true">
                            <use xlink:href="#magnifying-glass"></use>
                        </svg>
                        <span class="u-sr-only">Search</span>
                    </button>
                </form>
            </div>

            {% primarynav %}
        </section>

        <section class="header__menus header__menus--mobile" data-mobile-menu>
            {% primarynav %}
        </section>
    </div>
</header>
