{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags navigation_tags util_tags %}

<header class="header header--jobs">
    <div class="header__inner wrapper wrapper--large">
        <a class="header__home-link" href="{% get_default_site %}" aria-label="Buckinghamshire Council">
            {% include "patterns/atoms/icons/icon.html" with name="logo" classname="header__logo" %}
        </a>

        <div class="header__heading">
            <a href="/" class="header__heading-title">Jobs and Careers</a>

            <div class="header__heading-logos">
                <img class="header__heading-logo header__heading-logo--padding" src="{% static 'images/dc-logo.png' %}" alt="Disability Confident Employer "/>
                <img class="header__heading-logo" src="{% static 'images/rest_less_age_diverse_employer.png' %}" alt="Restless Age Diverse Employer "/>
                <img class="header__heading-logo" src="{% static 'images/enei-logo.png' %}" alt="Employers Network for equality and inclusion "/>
            </div>
        </div>
    </div>
</header>
