{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags navigation_tags util_tags %}

<header class="header">
    <div class="header__inner wrapper wrapper--large">
        <a class="header__home-link" href="/" aria-label="Home">
            {% include "patterns/atoms/icons/icon.html" with name="logo" classname="header__logo" %}
        </a>

        <div class="header__search">
            <form action="{% url 'search' %}" method="get" role="search" class="form form--header-search">
                <label class="u-sr-only" for="search">Search this website</label>
                <input class="input" id="search" type="text" placeholder="Search" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
                <button class="button button--search button--header" type="submit" aria-label="Search">
                    {% include "patterns/atoms/icons/icon.html" with name="magnifying-glass" classname="icon--stroke icon--white button__icon" %}
                    <span class="u-sr-only">Search</span>
                </button>
            </form>
        </div>
    </div>
</header>
