{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags navigation_tags util_tags %}

<header class="header header--fis">
    <div class="header__inner wrapper wrapper--large">
        {% get_default_site as default_site %}
        <a class="header__home-link" href="{% pageurl default_site.root_page %}" aria-label="Buckinghamshire Council">
            {% include "patterns/atoms/icons/icon.html" with name="logo" classname="header__logo" %}
        </a>

        <div class="header__heading">
            <a href="/" class="header__heading-title">Family Information Service</a>

            <div class="header__search">
            </div>
        </div>
    </div>
</header>
