{% load i18n %}
<div class="field">
    <label for="{{ widget.attrs.id }}-handsontable-container">{% trans "Data" %}</label>
    <div class="field-content">
        <p class="help">
            {% if help_text %}{{ help_text }}{% endif %}
            {% if example %}{% trans "Example of chart data:" %}{% endif %}
        </p>
            {% if example == "pie" %}
                <table style="font-size: 0.85em;">
                    <tr>
                        <td style="padding-right:20px">{% trans "Apples" %}</td>
                        <td>234</td>
                    </tr>
                    <tr>
                        <td style="padding-right:20px">{% trans "Pears" %}</td>
                        <td>56</td>
                    </tr>
                    <tr>
                        <td style="padding-right:20px">{% trans "Bananas" %}</td>
                        <td>109</td>
                    </tr>
                </table>
            {% elif example == "bar" %}
                <table style="font-size: 0.85em;">
                    <tr>
                        <td style="padding-right:20px">{% trans "Fruit eaten" %}</td>
                        <td style="padding-right:20px">{% trans "Orangutan" %}</td>
                        <td style="padding-right:20px">{% trans "Spider monkey" %}</td>
                    </tr>
                    <tr>
                        <td style="padding-right:20px">{% trans "Apples" %}</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td style="padding-right:20px">{% trans "Pears" %}</td>
                        <td>1</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td style="padding-right:20px">{% trans "Bananas" %}</td>
                        <td>10</td>
                        <td>2</td>
                    </tr>
                </table>
            {% elif example == "line" %}
                <table style="font-size: 0.85em;">
                    <tr>
                        <td style="padding-right:20px">{% trans "Number of Employees" %}</td>
                        <td style="padding-right:20px">{% trans "Waste management" %}</td>
                        <td style="padding-right:20px">{% trans "Construction" %}</td>
                    </tr>
                    <tr>
                        <td>2010</td>
                        <td>43934</td>
                        <td>24916</td>
                    </tr>
                    <tr>
                        <td>2011</td>
                        <td>52503</td>
                        <td>24064</td>
                    </tr>
                    <tr>
                        <td>2012</td>
                        <td>57177</td>
                        <td>29742</td>
                    </tr>
                </table>
            {% endif %}
            <p class="help">{% trans "Right-click on the table for more options" %}</p>
        </p>
        <div id="{{ widget.attrs.id }}-handsontable-container"></div>
        {% include 'django/forms/widgets/hidden.html' %}
        <script>initTable("{{ widget.attrs.id|escapejs }}", {{ widget.table_options_json|safe }});</script>
    </div>
</div>
