{% load i18n %}
<div class="required">
    <div class="required field typed_choice_field radio_select">
        <label for="{{ widget.attrs.id }}-handsontable-direction">{% trans "Chart direction" %}</label>
        {# TODO Figure out how to add the required asterisk #}
        <div class="field-content">
            <div class="input">
                <ul>
                    <li>
                        <div>
                            <label for="{{ widget.attrs.id }}-handsontable-horizontal">
                                <input type="radio" id="{{ widget.attrs.id }}-handsontable-horizontal" name="handsontable-direction-{{ widget.attrs.id }}"" value="horizontal" required />
                                <span>{% trans "Horizontal" %}</span>
                            </label>
                        </div>
                        <div>
                            <label for="{{ widget.attrs.id }}-handsontable-vertical">
                                <input type="radio" id="{{ widget.attrs.id }}-handsontable-vertical" name="handsontable-direction-{{ widget.attrs.id }}" value="vertical" required checked="checked" />
                                <span>{% trans "Vertical" %}</span>
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
            <p class="help">Choose whether the bars of the chart display horizontally or vertically.</p>
        </div>
    </div>
</div>
