{% load i18n %}
<div class="required">
    <div class="required field typed_choice_field radio_select">
        <label for="{{ widget.attrs.id }}-handsontable-row-to-axes">{% trans "Data direction" %}</label>
        {# TODO Figure out how to add the required asterisk #}
        <div class="field-content">
            <div class="input">
                <ul id="{{ widget.attrs.id }}-handsontable-row-to-axes">
                    <li>
                        <div>
                            <label for="{{ widget.attrs.id }}-handsontable-row-to-x-axis">
                                <input type="radio" id="{{ widget.attrs.id }}-handsontable-row-to-x-axis" name="handsontable-row-to-axes" value="row-x-axis" required />
                                <span>{% trans "Row header is axis X, column header is axis Y" %}</span>
                            </label>
                        </div>
                        <div>
                            <label for="{{ widget.attrs.id }}-handsontable-row-to-y-axis">
                                <input type="radio" id="{{ widget.attrs.id }}-handsontable-row-to-y-axis" name="handsontable-row-to-axes" value="row-y-axis" required />
                                <span>{% trans "Column header is axis X, row header is axis Y" %}</span>
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
            <p class="help"></p>
        </div>
    </div>
</div>
