{% load i18n %}
<div class="field boolean_field widget-checkbox_input">
    <label for="{{ widget.attrs.id }}-handsontable-show-table-first">{% trans "Show table first" %}</label>
    <div class="field-content">
        <div class="input">
            <input
                type="checkbox"
                id="{{ widget.attrs.id }}-handsontable-show-table-first" name="handsontable-show-table-first"
                checked="checked"
            />
        </div>
        <p class="help">{% trans "Select this to display the table, and the chart will be displayed by clicking a link. If you do not select this box, the chart will be displayed first." %}</p>
    </div>
</div>
