{% load i18n %}
<div class="field">
    <label for="{{ widget.attrs.id }}-handsontable-title">{% trans "Chart and table title" %}</label>
    <div class="field-content">
        <div class="input">
          <input type="text" id="{{ widget.attrs.id }}-handsontable-title" name="handsontable-title" value="{{ widget.table_title }}"/>
        </div>
        <p class="help">{% blocktrans %}A heading for your chart. A default value of "{{ chart_type }} chart" will be used if no value is entered{% endblocktrans %}</p>
    </div>
</div>
