{% load i18n %}
<div class="field">
    <label for="{{ widget.attrs.id }}-handsontable-title">{% trans "Chart and table title" %}</label>
    <div class="field-content">
        <div class="input">
          <input type="text" id="{{ widget.attrs.id }}-handsontable-title" name="handsontable-title" value="{{ widget.table_title }}"/>
        </div>
        <p class="help">{% blocktrans %}Use the title to describe what the chart and table show. The title helps users find, navigate and understand charts and tables. If you do not enter a title, it will display "{{ chart_type }}".{% endblocktrans %}</p>
    </div>
</div>
