// --------------------------------- Colors -------------------------------------

$color--white: #fff;
$color--black: #000;

$color--off-black: #141414;
$color--red: #d4351c;
$color--border: rgba($color--off-black, 0.2);

$color--river: #2c2d84;
$color--lake: #233b8e;
$color--sky: #1065a3;
$color--grape: #3e2d73;
$color--leaf: #9fc63b;
$color--charcoal: #212121;
$color--slate: #3c3c3b;
$color--mustard: #fcbc00;
$color--purple: #51247a;
$color--orange: #ee7e00;

$color--earth: #d0cdc4;
$color--earth-light: #f7f6f2;
$color--almond: #e4dbd2;

$color--grey-light: #efefef;
$color--grey-medium: #999;
$color--grey-dark: #858585;
$color--grey-accessible: #6d6d6c;
$color--grey-border: #cecece;

$color--default: $color--charcoal;

$color--primary: $color--river;
$color--secondary: $color--white;
$color--tertiary: $color--charcoal;

$color--link: $color--primary;
$color--link-hover: $color--sky;
$color--link-active: $color--grape;

// Button colours
$button-colours: (
    primary: (
        bg: $color--primary,
        color: $color--white,
    ),
    secondary: (
        bg: $color--secondary,
        color: $color--charcoal,
    ),
    tertiary: (
        bg: $color--tertiary,
        color: $color--charcoal,
    ),
);

// --------------------------------- Fonts --------------------------------------

$font--primary: 'Helvetica', 'Calibri', Sans-Serif;
$font--secondary: Sans-Serif;

// Font weights
$weight--bold: 700;
$weight--semibold: 600;
$weight--medium: 500;
$weight--normal: 400;
$weight--light: 200;

// Font sizes
// To get an accurate px font size from design multiply design size by 1.333
$base-font-size: 16px; // 12 in designs
$base-line-height: 25px;
$font-sizes: (
    // xxxl = 48px = 36 in designs
        xxxl: 48px,
    // xxl = 42px = 32 in designs
        xxl: 42px,
    // xl = 28px = 21 in designs
        xl: 28px,
    // l = 24px = 18 in designs
        l: 24px,
    // m = 21px = 15.5 in designs
        m: 21px,
    // s = 18px = 13.5 in designs
        s: 18px,
    // xs = 16px = 12 in designs
        xs: $base-font-size,
    // xxs = 14px = 10.5 in designs,
        xxs: 14px
);

// --------------------------------- Breakpoints --------------------------------
// Ensure that all breakpoints are duplicated in the gutters array

$breakpoints: (
    'mob-portrait' '(min-width: 320px)',
    'mob-landscape' '(min-width: 480px)',
    'px550' '(min-width: 550px)',
    'tablet-portrait' '(min-width: 768px)',
    'px900' '(min-width: 900px)',
    'tablet-landscape' '(min-width: 1024px)',
    'desktop' '(min-width: 1280px)',
    'desktop-wide' '(min-width: 2556px)'
);

// --------------------------------- Grid Dimensions ----------------------------

// Wrappers
$site-width: 1024px;
$wrapper--small: 610px;
$wrapper--page: 690px;

// Grid setup
$grid: 30px;
$grid--min: 10px;
$grid--small: 20px;
$grid--medium: 45px;
$grid--large: 50px;

// --------------------------------- Transitions --------------------------------

$transition: 0.25s ease-out;

// --------------------------------- Hover --------------------------------------

$hover-states: '&:hover, &:focus';

// --------------------------------- Borders ------------------------------------

$border--accent: 4px solid;
$border--listing: 2px solid $color--earth;
$border--grey: 1px solid $color--grey-border;
