{% load wagtailcore_tags %}

<div class="search-filters" role="tablist" aria-multiselectable="true">
    <form action="#" method="get" role="filter" class="form">
        <input class="search-filters__checkbox" type="checkbox" value="1" name="hide_schools_and_early_years" id="hide_schools_and_early_years" {% if hide_schools_and_early_years.selected %}checked{% endif %}>
        <label class="search-filters__label" for="hide_schools_and_early_years">
            <span class="search-filters__dummy-checkbox">
                <svg class="search-filters__check-icon icon">
                    <use xlink:href="#close"></use>
                </svg>
            </span>
            {{ hide_schools_and_early_years.label }}
            <span class="search-filters__count">({{ hide_schools_and_early_years.count }})</span>
        </label>

        {% for filter in filters %}
            {% if forloop.first %}
                <h3 class="search-filters__group-title">{{ filter.title }}</h3>

                <div class="search-filters__fieldset">
                    {% for option in filter.options %}
                        <div class="search-filters__option {% if option.is_schools_and_early_years %}is_schools_and_early_years{% endif %}">
                            <input class="search-filters__checkbox" type="checkbox" name="{{ filter.key }}" value="{{ option.key }}" id="{{ option.key }}" {% if option.key|slugify in filter.selected %}checked{% endif %}>
                            <label class="search-filters__label" for="{{ option.key }}">
                                <span class="search-filters__dummy-checkbox"></span>
                                {{ option.label }}
                                <span class="search-filters__count">({{ option.count }})</span>
                            </label>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="search-filters__accordion accordion" data-accordion>
                    <a
                        href=""
                        class="search-filters__accordion-title accordion__title link link--alt"
                        data-accordion-question
                        role="tab"
                        aria-controls="answer-{{ forloop.counter }}"
                        aria-expanded="false"
                        aria-selected="false"
                        id="question-{{ forloop.counter }}">
                        <svg class="accordion__icon icon icon--stroke" aria-hidden="true">
                            <use xlink:href="#chevron"></use>
                        </svg>

                        <h3 class="search-filters__group-title">{{ filter.title }}</h3>
                    </a>
                    <div
                        aria-live="polite"
                        class="search-filters__accordion-content accordion__content"
                        data-accordion-answer
                        id="answer-{{ forloop.counter }}"
                        role="tabpanel"
                        aria-labelledby="question-{{ forloop.counter }}"
                        aria-hidden="false">

                        <div class="search-filters__fieldset">
                            {% for option in filter.options %}
                                <div class="search-filters__option">
                                    <input class="search-filters__checkbox" type="checkbox" id="{{ option.key }}" {% if option.key|slugify in filter.selected %}checked{% endif %}>
                                    <label class="search-filters__label" for="{{ option.key }}">
                                        <span class="search-filters__dummy-checkbox"></span>
                                        {{ option.label }}
                                        <span class="search-filters__count">({{ option.count }})</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <input type="submit" value="Filter" class="search-filters__submit button button--basic" />
    </form>
</div>
