{% if page.has_any_social_setting %}

<section>
    <h2 class="sidebar__heading heading">Follow us</h2>
    <ul class="sidebar__link-list">
        {% if page.socials.twitter_handle %}
        <li class="sidebar__link sidebar__link--flex">
            {% include "patterns/atoms/icons/icon.html" with name="x" classname="icon--blog-social" %}
            <a href="https://twitter.com/{{ page.socials.twitter_handle }}"
                aria-label="{{ page.title }} X (formerly Twitter) - opens in new tab"
                target="_blank"
                rel="nofollow noreferrer">
                Twitter
            </a>
        </li>
        {% endif %}
        {% if page.socials.facebook_page_url %}
        <li class="sidebar__link sidebar__link--flex">
            {% include "patterns/atoms/icons/icon.html" with name="facebook" classname="icon--blog-social" %}
            <a href="{{ page.socials.facebook_page_url }}"
                aria-label="{{ page.title }} Facebook - opens in a new tab"
                target="_blank"
                rel="nofollow noreferrer">
                Facebook
            </a>
        </li>
        {% endif %}
        {% if page.socials.linkedin_url %}
        <li class="sidebar__link sidebar__link--flex">
            {% include "patterns/atoms/icons/icon.html" with name="linkedin" classname="icon--blog-social" %}
            <a href="{{ page.socials.linkedin_url }}"
                aria-label="{{ page.title }} LinkedIn - opens in a new tab"
                target="_blank"
                rel="nofollow noreferrer">
                LinkedIn
            </a>
        </span>
        {% endif %}
        {% if page.socials.youtube_channel_url %}
        <li class="sidebar__link sidebar__link--flex">
            {% include "patterns/atoms/icons/icon.html" with name="youtube" classname="icon--blog-social" %}
            <a href="{{ page.socials.youtube_channel_url }}"
                aria-label="{{ page.title }} YouTube - opens in a new tab"
                target="_blank"
                rel="nofollow noreferrer">
                YouTube
            </a>
        </span>
        {% endif %}
    </ul>
</section>
{% endif %}
