/* ------------------------------------ *\
	$BASE DEFAULTS
\* ------------------------------------ */

// Box Sizing
*,
*::before,
*::after {
    box-sizing: border-box;
}

// Prevent text size change on orientation change.
html {
    font-family: $font--primary;
    text-size-adjust: 100%;
}

body {
    background-color: $color--white;

    &.no-scroll {
        overflow-y: hidden;
        position: fixed;
        width: 100%;
    }
}

// Prevent empty space below images appearing
img,
svg {
    vertical-align: top;
}

// Responsive images
img {
    height: auto;
    max-width: 100%;
}

button,
input,
select,
textarea {
    font-family: inherit;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

button {
    background: transparent;
    border: 0;
    padding: 0;
    box-shadow: none;
    cursor: pointer;
}

a,
.link {
    color: $color--link;
    transition: color $transition;
    cursor: pointer;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;

    #{$hover-states} {
        color: $color--link-hover;
    }

    &:active {
        color: $color--link-active;
    }

    &--alt {
        text-decoration: none;
    }
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.hidden {
    @include hidden();
}
