/* ------------------------------------ *\
    $TYPOGRAPHY
\* ------------------------------------ */

/* ============================================
    Base font
*/
html {
    font-size: ($base-font-size / 16px) * 100%;
    line-height: $base-line-height / $base-font-size;
    color: $color--default;
}

/* ============================================
    Families – one mixin per typeface
    :: For each font mixin defined here, make sure each property is negated (set
    :: to its default value, usually `inherit`) in all other font mixins.
*/
@mixin heading-text() {
    font-family: $font--primary;
    font-style: inherit;
    font-weight: $weight--bold;
}

@mixin body-text() {
    font-family: $font--primary;
    font-style: inherit;
    font-weight: inherit;
    text-transform: inherit;
}

@mixin quote-text() {
    font-family: $font--primary;
    font-style: italic;
    font-weight: inherit;
    text-transform: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-text {
    @include heading-text();
}

html,
.body-text {
    @include body-text();
}

blockquote {
    @include quote-text();
}

// Default sizes
h1,
h2,
h3,
h4,
h5,
h6 {
    @include font-size(xs);
    font-weight: $weight--normal;
    margin: 0;
}

small {
    @include font-size(xxs);
}

.heading {
    font-weight: $weight--bold;
    margin-bottom: $grid--min;

    &--xxxl {
        @include font-size(xl);

        @include media-query(mob-landscape) {
            @include font-size(xxl);
        }

        @include media-query(tablet-portrait) {
            @include font-size(xxxl);
        }
    }

    &--xxl {
        @include font-size(xl);
        line-height: 1.2;
        margin-bottom: $grid;

        @include media-query(mob-landscape) {
            @include font-size(xxl);
        }
    }

    &--xl {
        @include font-size(xl);
    }

    &--l {
        @include font-size(l);
    }

    &--m {
        @include font-size(m);
        margin-bottom: 5px;
    }

    &--s {
        @include font-size(s);
    }

    &--no-margin {
        margin: 0;
    }

    &--subheading {
        font-weight: $weight--normal;
        color: $color--grey-accessible;
        margin: 0 0 $grid--large;
    }
}
