{% load wagtailcore_tags wagtailimages_tags %}

{% if page %}
    <a class="card {{ classes }}" href="{% pageurl page %}">
        {% if show_image and page.listing_image %}
            <div class="card__image">
                {% image page.listing_image fill-350x250 %}
            </div>
        {% endif %}

        <div class="card__content" data-height-equalizer-child>
            {% if has_heading %}
                <h3 class="card__title heading">
                    {% firstof page.listing_title page.title %}
                </h3>
            {% else %}
                <h2 class="card__title heading">
                    {% firstof page.listing_title page.title %}
                </h2>
            {% endif %}
            {% if page.listing_summary %}
                <p class="card__summary">{{ page.listing_summary }}</p>
            {% endif %}
        </div>
    </a>
{% endif %}
