{% load wagtailcore_tags %}

{% if columns %}
    <div class="footer__columns">
        {% for column in columns %}
            {% include_block column %}
        {% endfor %}
    </div>
{% endif %}

<div class="footer__links">
{% if links %}
    <nav aria-label="Footer">
        <ul class="footer-links">
            {% for link in links %}
                {% if link.value.page %}
                    <li class="footer-links__item">
                        {% include_block link with classes="footer-links__link link--alt" %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endif %}
</div>
