{% load wagtailcore_tags %}


<section class="sidebar {{ classes }}"{% if page.related_pages.all %} aria-labelledby="sidebar-heading"{% endif %}>
    {% if page.related_pages.all %}
        <h2 class="sidebar__heading heading" id="sidebar-heading">
            {% if sidebar_title %}
                {{ sidebar_title }}
            {% else %}
                Related content
            {% endif %}
        </h2>

        <ul class="sidebar__link-list">
            {% for related in page.related_pages.all %}
                {% if related.page.live %}
                    {% with specific_related_page=related.page.specific %}
                        <li>
                            <a class="sidebar__link" href="{% pageurl specific_related_page %}">{% firstof specific_related_page.listing_title specific_related_page.title %}</a>
                        </li>
                    {% endwith %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
</section>
