{% load wagtailcore_tags %}
<div class="area-links">
    <h2>Local Area Links</h2>

    <div>{{ value.introduction|richtext }}</div>

    <ul>
        {% if value.aylesbury_vale_url %}
        <li>
            <a href="{{ value.aylesbury_vale_url }}">Aylesbury Vale</a>
        </li>
        {% endif %}
        {% if value.chiltern_url %}
        <li>
            <a href="{{ value.chiltern_url }}">Chiltern</a>
        </li>
        {% endif %}
        {% if value.south_bucks_url %}
        <li>
            <a href="{{ value.south_bucks_url }}">South Bucks</a>
        </li>
        {% endif %}
        {% if value.wycombe_url %}
        <li>
            <a href="{{ value.wycombe_url }}">Wycombe</a>
        </li>
        {% endif %}
    </ul>

    <div>{{ value.postscript|richtext }}</div>
</div>
