{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-stepbystepindex{% endblock %}

{% block content %}
    <div class="section section--main">
        <h1 class="heading template-stepbystepindex__heading heading--xxl">{{ page.title }}</h1>

        <div class="introduction">{{ page.introduction|richtext }}</div>
        
        <div class="steps-nav" data-steps-container>
            <div class="steps-nav__controls" data-steps-toggle>
                <span class="steps-nav__controls-text--show">
                    Show all steps
                    {% include "patterns/atoms/icons/icon.html" with name="chevron-small" classname="icon--stroke after" %}
                </span>
                <span class="steps-nav__controls-text--hide">
                    Hide all steps
                    {% include "patterns/atoms/icons/icon.html" with name="chevron-small" classname="icon--stroke after" %}
                </span>
            </div>
            <ol class="steps-nav__steps">
                {% for step in page.steps  %}
                    {% include_block step with index=forloop.counter %}
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}
